﻿@model Shop.Areas.Admin.Models.Gallery.GalleryModel


<form id="galleryForm" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">تصویر اصلی</label>
                <input asp-for="MainImageUrl" type="file" class="form-control" />
                <span asp-validation-for="MainImageUrl" class="text-danger"></span>
                <span id="main-errorMsg" class="nikan-val-msg text-danger d-none">تصویر اصلی را انتخاب نمایید</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">تصویر موبایلی</label>
                <input asp-for="MobileImageUrl" type="file" class="form-control" />
                <span asp-validation-for="MobileImageUrl" class="text-danger"></span>
                <span id="mobile-errorMsg" class="nikan-val-msg text-danger d-none">تصویر موبایلی را انتخاب نمایید</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="label">محصول مربوط:</label>
                @(
                     Html.Kendo().ComboBox()
                    .Name("ProductId")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Placeholder("انتخاب محصول")
                    .Filter(FilterType.Contains)
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .BindTo((List<SelectListItem>)ViewBag.Products)
                )
                <span asp-validation-for="ProductId" class="nikan-val-msg text-danger mb-1"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label">اولویت نمایش :</label>
                <input asp-for="DisplayOrder" class="form-control" value="0" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
        <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $("#MainImageUrl").change(function () {
        var main = this;
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType.split('/')[0] !== 'image') {
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                type: 'orange',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-warning',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 512001) {
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای تصویر 500 کیلوبایت می باشد!',
                type: 'orange',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-warning',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }

        //چک کردن سایز تصویر
        var reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        reader.onload = function (e) {
            var image = new Image();
            image.src = e.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                if (height != 750 || width != 1800) {
                    //نمایش هشدار
                    $.alert({
                        icon: 'fas fa-exclamation-triangle',
                        title: "هشدار",
                        columnClass: 'medium',
                        rtl: true,
                        draggable: true,
                        theme: 'supervan',
                        content: 'سایز مجاز برای تصویر 750*1800 می باشد',
                        type: 'orange',
                        typeAnimated: true,
                        buttons: {
                            close: {
                                text: 'بستن',
                                btnClass: 'btn-warning',
                                action: function () {
                                }
                            }
                        }
                    });
                    //هشدار
                    main.value = null;
                    return;
                }

            }

        }
    });

    $("#MobileImageUrl").change(function () {
        var main = this;
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType.split('/')[0] !== 'image') {
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                type: 'orange',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-warning',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 512001) {
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای تصویر 500 کیلوبایت می باشد!',
                type: 'orange',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-warning',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }

        //چک کردن سایز تصویر
        var reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        reader.onload = function (e) {
            var image = new Image();
            image.src = e.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                if (height != 500 || width != 700) {
                    //نمایش هشدار
                    $.alert({
                        icon: 'fas fa-exclamation-triangle',
                        title: "هشدار",
                        columnClass: 'medium',
                        rtl: true,
                        draggable: true,
                        theme: 'supervan',
                        content: 'سایز مجاز برای تصویر 500*700 می باشد',
                        type: 'orange',
                        typeAnimated: true,
                        buttons: {
                            close: {
                                text: 'بستن',
                                btnClass: 'btn-warning',
                                action: function () {
                                }
                            }
                        }
                    });
                    //هشدار
                    main.value = null;
                    return;
                }

            }

        }
    });

    $("#galleryForm").on('submit', function (e) {
        e.preventDefault();
        //validation
        var MainImageUrl = $('#MainImageUrl').val();
        if (MainImageUrl == null || MainImageUrl === "" || MainImageUrl == undefined) {
            $("#main-errorMsg").removeClass('d-none');
            return false;
        }

        var MobileImageUrl = $('#MobileImageUrl').val();
        if (MobileImageUrl == null || MobileImageUrl === "" || MobileImageUrl == undefined) {
            $("#mobile-errorMsg").removeClass('d-none');
            return false;
        }
        //validation

        var form = $("#galleryForm")[0];
        var formData = new FormData(form);

        $.ajax({
            url: "/Admin/Gallery/Create",
            type: "POST",
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            xhr: function () {
                //upload Progress
                var xhr = $.ajaxSettings.xhr();

                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', function (event) {
                        var percent = 0;
                        var position = event.loaded || event.position;
                        var total = event.total;
                        if (event.lengthComputable) {
                            percent = Math.ceil(position / total * 100);
                        }
                        $("#block").html("لطفا صبر نمایید " + percent + "%");
                    }, true);
                }
                return xhr;
            },
            mimeType: "multipart/form-data"
        }).done(function (result) {
            result = $.parseJSON(result);
            if (result.Success) {
                nikan.notify("success", "پیام", result.Message);
                CloseModal(WindowNameInLayout);
                RefreshKendoGrid('GalleryGrid');
            }
            else {
                nikan.notify("error", "پیام", result.Message);
            }
        })
    });
</script>










