﻿@model Shop.Areas.Admin.Models.Gallery.GalleryModel


<form id="JobForm" method="post"
      data-ajax-url="/api/Gallery/Edit"
      data-ajax="true"
      data-ajax-success="SaveJobResult">
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="label">محصول مربوط:</label>
                @(
                     Html.Kendo().ComboBox()
                    .Name("ProductId")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Placeholder("انتخاب محصول")
                    .Filter(FilterType.Contains)
                    .Value(Model.Id > 0 ? (Model.ProductId.HasValue?Model.ProductId.Value.ToString():"") : "")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .BindTo((List<SelectListItem>)ViewBag.Products)
                )
                <span asp-validation-for="ProductId" class="nikan-val-msg text-danger mb-1"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label">اولویت نمایش :</label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row col-12">
            <div class="col-6">
                <button type="submit" class="k-button btn-block">ذخیره</button>
            </div>
            <div class="col-6">
                <button type="button" class="k-button btn-block" onclick="CloseModal(WindowNameInLayout);">بستن</button>
            </div>
        </div>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>

    function SaveJobResult(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('GalleryGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }

</script>










