﻿@{
    ViewData["Title"] = "گالری";
    var GalleryGridName = "GalleryGrid";
}
    <style>
        div#GalleryGrid .k-grid-content {
            max-height: 400px !important;
        }
    </style>
<h6 class="text-center">گالری</h6>
<div class="k-rtl container-fluid p-0 mb-5">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.Gallery.GalleryModel>()
       .Name(GalleryGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= GalleryGridIndex=IncrementRowNumber(GalleryGridIndex) #").Width(30).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.MainImageUrl).ClientTemplate("<img src='#=MainImageUrl#' height='62' width='62'/>").Title("تصویر");
           columns.Bound(c => c.ProductName).Title("محصول مربوطه");
           columns.Bound(c => c.DisplayOrder).Title("اولویت نمایش");
           columns.Bound(p => p.Id).ClientTemplate("" +"<a class='k-button btn-sm  m-1' onclick='ViewGallery(#= data.Id #)'><span class='k-icon k-i-preview'></span>&nbsp;مشاهده</a>"+
               "<a class='k-button btn-sm  m-1' onclick='EditGallery(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>"+
               "<a class='k-button btn-sm  m-1' onclick='DeleteGallery(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").HeaderHtmlAttributes(new { @class = "text-right" });
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertGallery()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.DisplayOrder).Ascending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Gallery", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("GalleryGridDataBinding"))
    )

</div>


@section Scripts
    {
    <script>

        var GalleryGridIndex = 0;

        function GalleryGridDataBinding() {
            GalleryGridIndex = GridDataBinding('@GalleryGridName');
        }

        function InsertGallery() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'افزودن','md');
        }

        function ViewGallery(id) {
            OpenModal('/api/Gallery/ViewGallery'+'/' + id, null, WindowNameInLayout, 'مشاهده تصویر', 'lg');
        }
        function EditGallery(id) {
            OpenModal('/api/Gallery/Edit'+'/' + id, null, WindowNameInLayout, 'ویرایش اولویت نمایش', 'sm');
        }

        function DeleteGallery(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف اطلاعات هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Gallery/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@GalleryGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
