﻿@model Shop.Areas.Admin.Models.Gallery.GalleryModel


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">تصویر اصلی</label>
                <img class="img-fluid rounded" src="@Model.MainImageUrl" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">تصویر موبایلی</label>
                <img class="img-fluid rounded" src="@Model.MobileImageUrl" />
            </div>
        </div>
        <div class="col-12">
            <p id="percent" class="d-none"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="row col-12">
            <div class="col-6">
                <button type="button" class="k-button btn-lg" onclick="CloseModal(WindowNameInLayout);">بستن</button>
            </div>
        </div>
    </div>
</div>










