﻿@using System.Reflection
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Shop.Core.Infrastructure.IAppContext appContext
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/libs/kendo/css/web/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/libs/kendo/css/web/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/libs/kendo/css/web/kendo.uniform.min.css" rel="stylesheet" />
    <link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/js/popper.min.js"></script>
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/libs/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/libs/JsTree/themes/default/style.css" rel="stylesheet" />
    <link href="~/css/adminPanel.css" rel="stylesheet" />

    <script src="~/libs/jquery/dist/jquery.js"></script>
    <script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/libs/blockUI/jquery.blockUI.js"></script>
    <script src="~/js/pace.min.js"></script>
    <script src="~/js/adminPanel.js"></script>
    <script src="~/libs/toast-master/js/jquery.toast.js"></script>
    <script src="~/js/jquery-confirm.js"></script>
    <script src="~/libs/kendo/js/kendo.all.min.js"></script>
    <script src="~/libs/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/libs/kendo-persian-date/JalaliDate.min.js"></script>
    <script src="~/libs/kendo-persian-date/kendo.web.min.js"></script>
    <script src="~/libs/kendo-persian-date/fa-IR.min.js"></script>
    <script src="~/libs/kendo-persian-date/kendo.calendar.fa.min.js"></script>
    <script src="~/libs/kendo-persian-date/kendo.datepicker.fa.min.js"></script>
    <script src="~/libs/kendo/js/messages/kendo.messages.fa-IR.min.js"></script>
    <script src="~/js/nikan.js"></script>


</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">


        <a class="app-header__logo" href="/" target="_blank">فروشگاه</a>

        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"><i class="fa fa-bars" style="margin-top:18px;" aria-hidden="true"></i></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav mr-auto">
            @*<li class="mx-auto my-auto logo">
                    <a href="http://www.nikansoft.com" target="_blank">
                        <img src="~/images/logowhite.png" width="90" />
                    </a>
                </li>*@
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" style="font-size:12px;" data-toggle="dropdown" aria-label="Open Profile Menu">
                    @appContext.User.FullName&nbsp;&nbsp;<i style="font-size:10px;" class="fas fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li>
                        <a class="dropdown-item text-center" onclick="ChangePassword()">
                            <i class="fas fa-unlock pl-2"></i>تغییر رمز
                        </a>
                    </li>
                    <li>
                        <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                            <button class="dropdown-item text-center">
                                <i class="fas fa-power-off pl-2"></i>خروج
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar pb-5">

        <div class="app-sidebar__user justify-content-center">

            <img class="app-sidebar__user-avatar img-fluid" width="28" src="~/images/profile.png" alt="@User.Identity.Name">

        </div>
        <div class="text-center">
            <p class="app-sidebar__user-name text-light">@appContext.User.FullName</p>
        </div>
        <hr class="bg-light m-0 mt-2" />
        <ul class="app-menu">

            <li>
                <a class="app-menu__item" asp-action="Index" asp-controller="Home" asp-area="@AreaNames.Admin">
                    <i class="app-menu__icon fas fa-tachometer-alt" style="padding-left:6px;"></i><span class="app-menu__label">داشبورد </span>
                </a>
            </li>

            @if (User.IsInRole(UserRoleNames.Admin))
            {
                <li>
                    <a class="app-menu__item" asp-action="Index" asp-controller="User" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon fas fa-user-edit" style="padding-left:6px;"></i><span class="app-menu__label">مدیریت کاربران </span>
                    </a>
                </li>


                <li>
                    <a class="app-menu__item" asp-action="ModifySettings" asp-controller="Setting" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon fas fa-cog"></i>
                        <span class="app-menu__label">تنظیمات</span>
                    </a>
                </li>

                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fas fa-envelope"></i>
                        <span class="app-menu__label">پیام ها</span>
                        <i class="treeview-indicator fa fa-angle-left"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="Message" asp-area="@AreaNames.Admin">کل</a>
                        </li>
                        <li>
                            <a class="app-menu__item" asp-action="ArchiveIndex" asp-controller="Message" asp-area="@AreaNames.Admin">بایگانی</a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fas fa-shapes"></i>
                        <span class="app-menu__label">ویژگی ها</span>
                        <i class="treeview-indicator fa fa-angle-left"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="PropertyCategory" asp-area="@AreaNames.Admin">دسته بندی ویژگی</a>
                        </li>
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="Property" asp-area="@AreaNames.Admin">تعریف ویژگی</a>
                        </li>

                    </ul>
                </li>

                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fas fa-shapes"></i>
                        <span class="app-menu__label">مشخصه ها</span>
                        <i class="treeview-indicator fa fa-angle-left"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="Trait" asp-area="@AreaNames.Admin">تعریف مشخصه</a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fab fa-product-hunt"></i>
                        <span class="app-menu__label">محصولات</span>
                        <i class="treeview-indicator fa fa-angle-left"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="Category" asp-area="@AreaNames.Admin" >دسته بندی محصولات</a>
                        </li>
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="Brand" asp-area="@AreaNames.Admin">برند محصولات</a>
                        </li>
                        <li>
                            <a class="app-menu__item" asp-action="Index" asp-controller="Product" asp-area="@AreaNames.Admin">محصولات</a>
                        </li>
                        <li>
                            <a class="app-menu__item" asp-action="GroupAllocationProperty" asp-controller="Product" asp-area="@AreaNames.Admin">تخصیص گروهی ویژگی</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="app-menu__item" asp-action="Index" asp-controller="Gallery" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon fas fa-images" style="padding-left:6px;"></i><span class="app-menu__label">گالری</span>
                    </a>
                </li>



                <li>
                    <a class="app-menu__item" asp-action="Index" asp-controller="Slider" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon far fa-image" style="padding-left:6px;"></i><span class="app-menu__label">اسلایدر</span>
                    </a>
                </li>


                <li>
                    <a class="app-menu__item" asp-action="Index" asp-controller="Discount" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon fas fa-tag" style="padding-left:6px;"></i><span class="app-menu__label">تخفیف ها</span>
                    </a>
                </li>

                <li>
                    <a class="app-menu__item" asp-action="OrderIndex" asp-controller="Order" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon fas fa-shopping-basket" style="padding-left:6px;"></i><span class="app-menu__label">سفارشات</span>
                    </a>
                </li>
            }

            @if (User.IsInRole(UserRoleNames.User))
            {
                <li>
                    <a class="app-menu__item" asp-action="Index" asp-controller="Order" asp-area="@AreaNames.Admin">
                        <i class="app-menu__icon fas fa-shopping-basket" style="padding-left:6px;"></i><span class="app-menu__label">سفارشات</span>
                    </a>
                </li>
            }



        </ul>
    </aside>

    <main class="app-content">
        @RenderBody()
    </main>

    @*<div class="copyright">
            <div class="container-fluid">
                <div class="col-md-12">
                    @{
                        var appVersion = typeof(Shop.Program).Assembly.GetCustomAttribute<AssemblyFileVersionAttribute>
                            ().Version;
                    }
                    <a href="http://www.NikanSoft.com" target="_blank">
                        <p style="text-align:center;font-size:10px;">کلیه حقوق مادی و معنوی نرم افزار متعلق به گروه نرم افزاری <span style="color:#4a90e2;">نیکان</span> می باشد- نسخه @appVersion  </p>
                    </a>
                </div>
            </div>
        </div>*@


    <!--Modal-->
    <div class="modal fade" id="windowInLayout" role="dialog" style="direction:rtl;overflow-y:auto">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!--Modal-->
    <div class="modal fade" id="secoundWindowNameInLayout" role="dialog" style="direction:rtl;overflow-y:auto;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!--Modal-->
    <div class="modal fade" id="thirdWindowNameInLayout" role="dialog" style="direction:rtl;overflow-y:auto;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <script src="~/js/pace.min.js"></script>
    <script src="~/js/adminPanel.js"></script>
    <script src="~/libs/JsTree/jstree.min.js"></script>

    <script>
        var nikan = new NikanApp();
        var defaultMapCenter = { lat: 29.616327, lng: 52.501107 };
        var WindowNameInLayout = "windowInLayout";
        var SecoundWindowNameInLayout = "secoundWindowNameInLayout";
        var ThirdWindowNameInLayout = "thirdWindowNameInLayout";
        function ChangePassword() {
            OpenModal('/Admin/User/ChangePassword', null, WindowNameInLayout, 'تغییر رمز عبور', "sm");
        };
        function ViewCategory() {
            OpenModal('/Admin/Category/ViewCategories', null, WindowNameInLayout, "دسته بندی ها", "lg");
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
