﻿@model Shop.Areas.Admin.Models.ProductImage.ProductImageModel


<form id="galleryForm" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <input asp-for="ProductId" type="hidden" />
    <div class="row">
        <div class="row col-12 justify-content-center">
            <div class="form-group">
                <div class="card border-0">
                    <div class="card-img text-center">
                        <img id="previewImg" class="img-fluid" src="@((!String.IsNullOrEmpty(Model.ImageUrl)?Model.ImageUrl:"/images/no.png"))" />
                    </div>
                    <a id="ImgBtn" class="mt-1 btn btn-sm btn-secondary btn-rounded text-white"><i class="fas fa-paperclip"></i>&nbsp;تصویر محصول</a>
                </div>
                <input asp-for="ImageUrl" type="file" class="d-none form-control" style="display: none!important;" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <span id="main-errorMsg" class="nikan-val-msg text-danger d-none">تصویر را انتخاب نمایید</span>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label asp-for="Order" class="control-label">اولویت نمایش :</label>
                <input asp-for="Order" class="form-control" value="0" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div>
        <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
        <button type="button" class="k-button" onclick="CloseModal(SecoundWindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;بستن&nbsp;</button>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    var ImageUrl = "";
    $("#ImgBtn").on('click', function () {
        $("#ImageUrl").click();
    });
    $(function () {
        ImageUrl = $("#previewImg").attr("src");
    });
    $("#ImageUrl").change(function () {
        if (!this.files.length) {
            $("#previewImg").attr('src', ImageUrl);
            return;
        }
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType.split('/')[0] !== 'image') {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 307201) {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای تصویر 300 کیلوبایت می باشد!',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }

        //نمایش تصویر
        if (this.files && this.files[0]) {

            var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    if (height != 400 || width != 600) {
                        //نمایش هشدار
                        $.alert({
                            icon: 'fas fa-exclamation-triangle',
                            title: "هشدار",
                            columnClass: 'medium',
                            rtl: true,
                            draggable: true,
                            theme: 'supervan',
                            content: 'سایز مجاز برای تصویر 400*600 می باشد',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                close: {
                                    text: 'بستن',
                                    btnClass: 'btn-warning',
                                    action: function () {
                                    }
                                }
                            }
                        });
                        //هشدار
                        main.value = null;
                        return;
                    }
                    $("#previewImg").attr('src', e.target.result);
                    reader.readAsDataURL(this.files[0]);
                }
            }

        }
        else {
            $("#previewImg").attr('src', ImageUrl);
        }
    });


    $("#galleryForm").on('submit', function (e) {
        e.preventDefault();
        //validation
        var MainImageUrl = $('#ImageUrl').val();
        if (MainImageUrl == null || MainImageUrl === "" || MainImageUrl == undefined) {
            $("#main-errorMsg").removeClass('d-none');
            return false;
        }
        //validation

        var form = $("#galleryForm")[0];
        var formData = new FormData(form);

        $.ajax({
            url: "/Admin/ProductImage/Create",
            type: "POST",
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            xhr: function () {
                //upload Progress
                var xhr = $.ajaxSettings.xhr();

                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', function (event) {
                        var percent = 0;
                        var position = event.loaded || event.position;
                        var total = event.total;
                        if (event.lengthComputable) {
                            percent = Math.ceil(position / total * 100);
                        }
                        $("#block").html("لطفا صبر نمایید " + percent + "%");
                    }, true);
                }
                return xhr;
            },
            mimeType: "multipart/form-data"
        }).done(function (result) {
            result = $.parseJSON(result);
            if (result.Success) {
                nikan.notify("success", "پیام", result.Message);
                CloseModal(SecoundWindowNameInLayout);
                RefreshKendoGrid('GalleryGrid');
            }
            else {
                nikan.notify("error", "پیام", result.Message);
            }
        })
    });
</script>


