﻿@model Shop.Areas.Admin.Models.ProductImage.ProductImageModel


    <form id="JobForm" method="post"
          data-ajax-url="/api/ProductImage/Edit"
          data-ajax="true"
          data-ajax-success="SaveJobResult">
        <input asp-for="Id" type="hidden" />
        <input asp-for="ProductId" type="hidden" />
        <input asp-for="ImageUrl" type="hidden" />
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Order" class="control-label">اولویت نمایش :</label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row col-12 justify-content-center m-0 my-2">
            <button type="submit" class="k-button btn-lg">ذخیره</button>
            <button type="button" class="k-button btn-lg mx-3" onclick="CloseModal(SecoundWindowNameInLayout);">بستن</button>
        </div>
    </form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>

    function SaveJobResult(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(SecoundWindowNameInLayout);
            RefreshKendoGrid('GalleryGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }

</script>










