﻿@{
    var GalleryGridName = "GalleryGrid";
    long productId = ViewBag.Id;
}
    <style>
        div#GalleryGrid .k-grid-content {
            max-height: 400px !important;
        }
    </style>
<script>
     function GetParameters() {
         var data = {};
         data["Id"] = @productId;
         return data;
    }
     var GalleryGridIndex = 0;

        function GalleryGridDataBinding() {
            GalleryGridIndex = GridDataBinding('@GalleryGridName');
        }
</script>
<h6 class="text-center">تصاویر محصول</h6>
<div class="k-rtl container-fluid p-0 mb-5">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.ProductImage.ProductImageModel>()
       .Name(GalleryGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= GalleryGridIndex=IncrementRowNumber(GalleryGridIndex) #").Width(30).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.ImageUrl).ClientTemplate("<img src='#=ImageUrl#' height='62' width='62'/>").Title("تصویر");
           columns.Bound(c => c.Order).Width(150).Title("اولویت نمایش");
           columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='EditGallery(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;تغییر اولویت نمایش</a>"+
               "<a class='k-button btn-sm  m-1' onclick='DeleteGallery(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").Width(300).HeaderHtmlAttributes(new { @class = "text-right" });
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertGallery()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Order).Ascending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "ProductImage", action = "Data_Read" })).Data("GetParameters")).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("GalleryGridDataBinding"))
    )

</div>



    <script>

       

        function InsertGallery() {
          OpenModal('/api/ProductImage/Create'+'/' + @productId,null, SecoundWindowNameInLayout, 'افزودن','md');
        }

     
        function EditGallery(id) {
            OpenModal('/api/ProductImage/Edit'+'/' + id, null, SecoundWindowNameInLayout, 'ویرایش اولویت نمایش', 'sm');
        }

        function DeleteGallery(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف تصویر هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/ProductImage/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@GalleryGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>

