﻿@model Shop.Areas.Admin.Models.Property.PropertyModel


    <form method="post"
          data-ajax-url="/api/Property/@(Model.Id>0?"Edit":"Create")"
          data-ajax="true"
          data-ajax-success="SavesPropertyResult">
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-12 form-group">
                <label class="control-label">نام ویژگی:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label class="control-label">دسته ویژگی:</label>
                <select asp-for="PropertCategoryId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Categories)">
                    <option value="">انتخاب نمایید</option>
                </select>
                <span asp-validation-for="PropertCategoryId" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
            <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
        </div>
    </form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    function SavesPropertyResult(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('PropertyGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }
</script>










