﻿@{
    ViewData["Title"] = "ویژگی ها";
    var PropertyGridName = "PropertyGrid";
}
<style>
    div#PropertyGrid .k-grid-content {
        max-height: 400px !important;
    }
</style>
<h6 class="text-center">ویژگی ها</h6>
<div class="k-rtl container-fluid p-0 mb-5">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.Property.PropertyIndexModel>()
       .Name(PropertyGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= PropertyGridIndex=IncrementRowNumber(PropertyGridIndex) #").Width(50).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.Name).Title("نام");
           columns.Bound(c => c.PropertCategoryName).Title("دسته");
              columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='EditProperty(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>" +
               "<a class='k-button btn-sm  m-1' onclick='DeleteProperty(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").Width(300).HeaderHtmlAttributes(new { @class = "text-right" }).Filterable(false).Sortable(false);
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertProperty()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Id).Descending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Property", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("PropertyGridDataBinding"))
    )

</div>


@section Scripts
    {
    <script>

        var PropertyGridIndex = 0;

        function PropertyGridDataBinding() {
            PropertyGridIndex = GridDataBinding('@PropertyGridName');
        }

        function InsertProperty() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'افزودن','sm');
        }

        function EditProperty(id) {
            OpenModal('/api/Property/Edit'+'/' + id, null, WindowNameInLayout, 'ویرایش', 'sm');
        }

        function DeleteProperty(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف ویژگی هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Property/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@PropertyGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
