﻿@model Shop.Areas.Admin.Models.Discount.DiscountModel


    <form method="post"
          data-ajax-url="/api/Discount/@(Model.Id>0?"Edit":"Create")"
          data-ajax="true"
          data-ajax-success="SavesDiscountResult">
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-12 form-group">
                <label class="control-label">عنوان تخفیف:</label>
                <input asp-for="Tittle" class="form-control" />
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label class="control-label">نوع تخفیف:</label>
                <select asp-for="Type" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Disconts)">
                    <option value="">انتخاب نمایید</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div id="disAmount" class="col-12 form-group d-none">
                <label class="control-label">مبلغ تخفیف:</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div id="disPercent" class="col-12 form-group d-none">
                <label class="control-label">درصد تخفیف:</label>
                <input asp-for="Percentage" class="form-control" />
                <span asp-validation-for="Percentage" class="text-danger"></span>
            </div>
            <div id="maxAmount" class="col-12 form-group d-none">
                <label class="control-label">حداکثر مبلغ تخفیف:</label>
                <input asp-for="MaxAmount" class="form-control" />
                <span asp-validation-for="MaxAmount" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label class="control-label">تاریخ شروع:</label>
                @Html.EditorFor(f => f.DiscountFrom, "PersianDate")
                <span asp-validation-for="DiscountFrom" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label class="control-label">تاریخ پایان:</label>
                @Html.EditorFor(f => f.DiscountTo, "PersianDate")
                <span asp-validation-for="DiscountTo" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
            <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
        </div>
    </form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    function SavesDiscountResult(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('DiscountGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }


        $("#Type").on('change', function () {
        if ($(this).val() == '@(Convert.ToInt32(DiscountTypes.Amount))') {
            $("#disAmount").removeClass('d-none');
            $("#disPercent").addClass('d-none');
            $("#maxAmount").addClass('d-none');
            $("#disPercent").val(null);
            $("#maxAmount").val(null);
        }
         else if ($(this).val() == '@(Convert.ToInt32(DiscountTypes.Percentage))') {
            $("#disAmount").addClass('d-none');
            $("#disAmount").val(null);
            $("#disPercent").removeClass('d-none');
            $("#maxAmount").removeClass('d-none');
        }
          else {
            $("#disAmount").addClass('d-none');
            $("#disPercent").addClass('d-none');
            $("#maxAmount").addClass('d-none');
            $("#disPercent").val(null);
            $("#maxAmount").val(null);
            $("#disAmount").val(null);
        }
    });
    $(document).ready(function () {
        $("#Type").change();
    });
</script>










