﻿@{
    ViewData["Title"] = "تخفیف ها";
    var DiscountGridName = "DiscountGrid";
}
    <style>
        div#DiscountGrid .k-grid-content {
            max-height: 400px !important;
        }
    </style>
<h6 class="text-center">تخفیف ها</h6>
<div class="k-rtl container-fluid p-0">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.Discount.DiscountIndexModel>()
       .Name(DiscountGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= DiscountGridIndex=IncrementRowNumber(DiscountGridIndex) #").Width(30).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.Tittle).Title("عنوان");
           columns.Bound(c => c.Type).Title("نوع");
           columns.Bound(c => c.Amount).Title("مبلغ تخفیف");
           columns.Bound(c => c.Percentage).Title("درصد تخفیف");
           columns.Bound(c => c.MaxAmount).Title("حداکثر مبلغ تخفیف");
           columns.Bound(c => c.DiscountFrom).Title("تاریخ شروع");
           columns.Bound(c => c.DiscountTo).Title("تاریخ پایان");
           columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='EditDiscount(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>"+
               "<a class='k-button btn-sm  m-1' onclick='DeleteDiscount(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").Width(300).HeaderHtmlAttributes(new { @class = "text-right" });
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertDiscount()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Id).Descending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Discount", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("DiscountGridDataBinding"))
    )

</div>


@section Scripts
    {
    <script>

        var DiscountGridIndex = 0;

        function DiscountGridDataBinding() {
            DiscountGridIndex = GridDataBinding('@DiscountGridName');
        }

        function InsertDiscount() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'افزودن','sm');
        }

        function EditDiscount(id) {
            OpenModal('/api/Discount/Edit'+'/' + id, null, WindowNameInLayout, 'ویرایش', 'sm');
        }

        function DeleteDiscount(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف تخفیف هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Discount/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@DiscountGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
