﻿@model List<Shop.Services.Dto.Slider.SliderModel>

@if (Model.Count() > 0)
{
    if (Model.Any() && Model.Count == 2)
    {
        <div class="row col-12 p-0 m-0 justify-content-center my-2">
            <div class="col-6">
                <img class="img-fluid rounded text-center" src="@Model.FirstOrDefault(x=>x.Type==SliderTypes.TwoSlideRight).SliderUrl" />
            </div>
            <div class="col-6">
                <img class="img-fluid rounded text-center" src="@Model.FirstOrDefault(x=>x.Type==SliderTypes.TwoSlideLeft).SliderUrl" />
            </div>
        </div>
    }

}

