﻿@{
    ViewData["Title"] = "بازیابی رمز عبور";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Shop.Models.Account.LoginModel
<link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/libs/MDB/css/mdb.css" rel="stylesheet" />
<link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/css/baseLogin.css" rel="stylesheet" />
<script src="~/libs/jquery/dist/jquery.js"></script>
<script src="~/libs/toast-master/js/jquery.toast.js"></script>



<div id="login-section" class="login-bg">
    <div class="container-fluid justify-content-center">

        <div class="row justify-content-center">
            <div class="card col-lg-3 col-md-4 col-sm-6 col-9 p-0 bg-transparent">
                <h5 class="card-header bg-transparent white-text text-center">
                    <img src="~/images/logo-white.png" class="img-fluid" width="100" />
                </h5>
                <div class="card-body pt-0">
                    <form autocomplete="off" id="loginform" role="form">
                        <input autocomplete="off" asp-for="Username" class="form-control form-control-lg mt-2" type="text" placeholder="نام کاربری">
                        <span asp-validation-for="Username" class="text-info"></span>

                        <div class="md-form mt-big">
                            <a id="btnSubmit" onclick="RestePassword()" class="btn btn-block blue-gradient btn-rounded waves-effect waves-light">مرحله بعد</a>
                        </div>
                    </form>
                </div>
            <a href="/" class="text-white text-left pl-2" style="font-size:12px;">بازگشت به خانه</a>
            </div>
        </div>

    </div>
    <partial name="Notifications" />
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>

        function RestePassword() {
            var username = $("#Username").val();
            if (username == '') {
                $.toast({
                    heading: 'پیام',
                    text: 'نام کاربری را وارد نمایید',
                    position: 'top-left',
                    icon: 'error',
                    textAlign: 'right',
                    stack: 5,
                    hideAfter: 5500
                });
                return;
            }

            $.ajax({
                url: "/Account/CheckUserName?userName=" + username,
                type: "Get",
            }).done(function (result) {
                if (result.Success) {
                    window.location.href = "/Account/ResetPassword?userName=" + username;
                }
                else {
                    $.toast({
                        heading: 'پیام',
                        text: 'کاربری یافت نشد',
                        position: 'top-left',
                        icon: 'error',
                        textAlign: 'right',
                        stack: 5,
                        hideAfter: 5500
                    });
                }
            });
        }
    </script>
}
