﻿@{
    ViewData["Title"] = "صفحه ورود";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Shop.Models.Account.LoginModel
<link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/libs/MDB/css/mdb.css" rel="stylesheet" />
<link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/css/baseLogin.css" rel="stylesheet" />
<script src="~/libs/jquery/dist/jquery.js"></script>
<script src="~/libs/toast-master/js/jquery.toast.js"></script>



<div id="login-section" class="login-bg">
    <div class="container-fluid justify-content-center">

        <div class="row justify-content-center">
            <div class="card col-lg-3 col-md-4 col-sm-6 col-9 p-0 bg-transparent">
                <h5 class="card-header bg-transparent white-text text-center">
                    <img src="@ViewBag.LogoUrl" class="img-fluid" width="100" />
                </h5>
                <div class="card-body pt-0">
                    <form id="loginform" role="form">
                        <input asp-for="Username" class="form-control form-control-lg mt-2" type="text" placeholder="نام کاربری">
                        <span asp-validation-for="Username" class="text-info"></span>
                        <input asp-for="Password" class="form-control form-control-lg mt-4" type="password" placeholder="رمز عبور">
                        <span asp-validation-for="Password" class="text-info"></span>
                        <div class="custom-control custom-checkbox p-0 mt-3">
                            <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="RememberMe">مرا بخاطر بسپار</label>
                        </div>
                        <div class="md-form mt-big">
                            <button type="submit" id="btnSubmit" class="btn btn-block blue-gradient btn-rounded waves-effect waves-light">ورود</button>
                        </div>
                    </form>
                    <a asp-action="ForgetPassword" asp-controller="Account" class="text-white pr-2 forget-password">رمز عبور خود را فراموش کرده ام</a>
                </div>
                <div class="row col-12 p-0 m-0">
                    <div class="col-6 text-right">
                        <a href="/Account/Register" class="text-white text-right" style="font-size:12px;">ثبت نام</a>

                    </div>
                    <div class="col-6 text-left">
                        <a href="/" class="text-white text-left" style="font-size:12px;">بازگشت به خانه</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <partial name="Notifications" />
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#loginform").on('submit', function (e) {
            e.preventDefault();

            if ($("#loginform").valid()) {
                var form = $("#loginform")[0];
                var formData = new FormData(form);
                var spiner = "<div class='spinner-border spinner-border-sm text-light' role='status'></div>";
                $("#btnSubmit").html(spiner);
                $("#btnSubmit").prop("disabled", true);
                $.ajax({
                    url: "/Account/Login",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false
                }).done(function (result) {
                    if (result.Success) {

                        window.location.href = result.Message;
                    }
                    else {
                        $("#btnSubmit").html("ورود");
                        $("#btnSubmit").prop("disabled", false);
                        $.toast({
                            heading: 'پیام',
                            text: result.Message,
                            position: 'top-right',
                            icon: 'error',
                            bgColor: '#ef2626',
                            textColor: 'white',
                            textAlign: 'right',
                            stack: 5,
                            hideAfter: 5500
                        });
                    }
                })
            }


        });
    </script>
}
