﻿@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Shop.Models.Account.RegisterModel
<link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/libs/MDB/css/mdb.css" rel="stylesheet" />
<link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/css/baseLogin.css" rel="stylesheet" />
<script src="~/libs/jquery/dist/jquery.js"></script>
<script src="~/libs/toast-master/js/jquery.toast.js"></script>



<div id="login-section" class="login-bg">
    <div class="container-fluid justify-content-center">

        <div class="row justify-content-center">
            <div class="card col-lg-6 col-md-6 col-sm-9 col-10 p-0 bg-transparent">
                <h5 class="card-header bg-transparent white-text text-center">
                    <img src="@ViewBag.LogoUrl" class="img-fluid" width="100" />
                </h5>
                <div class="card-body pt-0">
                    <form id="registerform" role="form">
                        <div class="row col-12">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input asp-for="FirstName" class="form-control form-control-lg mt-2" type="text" placeholder="نام">
                                <span asp-validation-for="FirstName" class="text-info"></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input asp-for="LastName" class="form-control form-control-lg mt-2" type="text" placeholder="نام خانوادکی">
                                <span asp-validation-for="LastName" class="text-info"></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input asp-for="PhoneNumber" class="form-control form-control-lg mt-2" type="text" placeholder="شماره همراه">
                                <span asp-validation-for="PhoneNumber" class="text-info"></span>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-12">
                                <textarea asp-for="Address" class="form-control form-control-lg mt-2" placeholder="آدرس" rows="2"></textarea>
                                <span asp-validation-for="Address" class="text-info"></span>
                            </div>
                        </div>

                        <div class="row col-12">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input asp-for="UserName" class="form-control form-control-lg mt-2" type="text" placeholder="نام کاربری">
                                <span asp-validation-for="UserName" class="text-info"></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input asp-for="Password" class="form-control form-control-lg mt-2" type="password" placeholder="رمز عبور">
                                <span asp-validation-for="Password" class="text-info"></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input asp-for="ConfirmPassword" class="form-control form-control-lg mt-2" type="password" placeholder="تکرار رمز عبور">
                                <span asp-validation-for="ConfirmPassword" class="text-info"></span>
                            </div>
                        </div>
                        <div class="md-form mt-big row col-12 justify-content-center">
                            <button type="submit" id="btnSubmit" class="btn btn-lg blue-gradient btn-rounded waves-effect waves-light">ثبت نام</button>
                        </div>
                    </form>
                </div>
                <a href="/" class="text-white text-left pl-2" style="font-size:12px;">بازگشت به خانه</a>
            </div>
        </div>

    </div>
    <partial name="Notifications" />
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#registerform").on('submit', function (e) {
            e.preventDefault();

            if ($("#registerform").valid()) {
                var form = $("#registerform")[0];
                var formData = new FormData(form);
                var spiner = "<div class='spinner-border spinner-border-sm text-light' role='status'></div>";
                $("#btnSubmit").html(spiner);
                $("#btnSubmit").prop("disabled", true);
                $.ajax({
                    url: "/Account/Register",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false
                }).done(function (result) {
                    if (result.Success) {
                        $.toast({
                            heading: 'پیام',
                            text: "ثبت نام با موفقیت انجام شد",
                            position: 'top-center',
                            icon: 'success',
                            //bgColor: '#ef2626',
                            //textColor: 'white',
                            textAlign: 'right',
                            stack: 5,
                             hideAfter: false
                        });
                        setTimeout(function () {
                        window.location.href = '/home';
                        }, 2000);
                    }
                    else {
                        $("#btnSubmit").html("ثبت نام");
                        $("#btnSubmit").prop("disabled", false);
                        $.toast({
                            heading: 'پیام',
                            text: result.Message,
                            position: 'top-right',
                            icon: 'error',
                            bgColor: '#ef2626',
                            textColor: 'white',
                            textAlign: 'right',
                            stack: 5,
                            hideAfter: 5500
                        });
                    }
                })
            }
            else {
                return;
            }


        });
    </script>
}
