﻿@{
    ViewData["Title"] = "بازنشانی رمز عبور";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Shop.Models.Account.ResetPasswordModel
<link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/libs/MDB/css/mdb.css" rel="stylesheet" />
<link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/css/baseLogin.css" rel="stylesheet" />
<script src="~/libs/jquery/dist/jquery.js"></script>
<script src="~/libs/toast-master/js/jquery.toast.js"></script>



<div id="login-section" class="login-bg">
    <div class="container-fluid justify-content-center">

        <div class="row justify-content-center">
            <div class="card col-lg-3 col-md-4 col-sm-6 col-9 p-0 bg-transparent">
                <h5 class="card-header bg-transparent white-text text-center">
                    <img src="~/images/logo-white.png" class="img-fluid" width="100" />
                </h5>
                <div class="card-body pt-0">
                    <form autocomplete="off" id="loginform" role="form">
                        <input asp-for="UserName" type="hidden" />
                        <input autocomplete="off" asp-for="Code" class="form-control form-control-lg mt-2" type="text" placeholder="کد دریافتی">
                        <span asp-validation-for="Code" class="text-info"></span>
                        <input autocomplete="new-password" asp-for="NewPassword" class="form-control form-control-lg mt-4" type="password" placeholder="رمز جدید">
                        <span asp-validation-for="NewPassword" class="text-info"></span>
                        <input autocomplete="new-password" asp-for="ConfirmPassword" class="form-control form-control-lg mt-4" type="Password" placeholder="تکرار رمز جدید">
                        <span asp-validation-for="ConfirmPassword" class="text-info"></span>
                        <div class="md-form mt-big">
                            <button type="submit" id="btnSubmit" class="btn btn-block blue-gradient btn-rounded waves-effect waves-light">ذخیره</button>
                        </div>
                    </form>
                </div>
                <a href="/" class="text-white text-left pl-2" style="font-size:12px;">بازگشت به خانه</a>
            </div>
        </div>

    </div>
    <partial name="Notifications" />
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#loginform").on('submit', function (e) {
            e.preventDefault();
            if ($("#loginform").valid()) {
                var form = $("#loginform")[0];
                var formData = new FormData(form);
                var spiner = "<div class='spinner-border spinner-border-sm text-light' role='status'></div>";
                $("#btnSubmit").html(spiner);
                $("#btnSubmit").prop("disabled", true);
                $.ajax({
                    url: "/Account/ResetPassword",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false
                }).done(function (result) {
                    if (result.Success) {
                       $.toast({
                            heading: 'پیام',
                            text: "رمز شما با موفقیت تغییر یافت",
                            position: 'top-center',
                            icon: 'success',
                            textAlign: 'right',
                            stack: 5,
                             hideAfter: false
                        });
                        setTimeout(function () {
                        window.location.href = '/home';
                        }, 2000);
                    }
                    else {
                        $("#btnSubmit").html("ورود");
                        $("#btnSubmit").prop("disabled", false);
                        $.toast({
                            heading: 'پیام',
                            text: result.Message,
                            position: 'top-right',
                            icon: 'error',
                            bgColor: '#ef2626',
                            textColor: 'white',
                            textAlign: 'right',
                            stack: 5,
                            hideAfter: 5500
                        });
                    }
                })
            }
        });
    </script>
}
