﻿
<div class="container mb-1">
    <div class="row col-12 justify-content-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="جستجو..." id="search">
        </div>
    </div>
</div>

<div id="jstree_Category"></div>


<script>
    $('#jstree_Category').jstree({
        "core": {
            "multiple": false,
            "check_callback": true,
            'data': {
                'url': function (node) {
                    return node.id === '#' ? "/api/Category/GetRoot" : "/api/Category/GetChildren/" + node.id;
                },
                "type": "Post",
                "dataType": "json",
                "contentType": "application/json; charset=utf8",
                'data': function (node) {
                    return { 'id': node.id };
                }
            },
        },
        'sort': function (a, b) {
            a1 = this.get_node(a);
            b1 = this.get_node(b);
            return (a1.text > b1.text) ? 1 : -1;
        },
        "plugins": ["contextmenu", "themes", "search", "sort"],
        "search": {
            "case_sensitive": false,
            "show_only_matches": true
        },
        "contextmenu": {

            "items": function ($node) {
                var tree = $("#jstree_Category").jstree(true);
                return {
                    "Create": {
                        "separator_before": false,
                        "separator_after": false,
                        "label": " زیرشاخه جدید",
                        "icon": "fas fa-plus-circle",
                        "action": function (obj) {
                            OpenModal('/Admin/Category/Create/' + $node.id, null, SecoundWindowNameInLayout, "افزودن دسته بندی", "sm");
                        }
                    },
                    "Edit": {
                        "separator_before": true,
                        "separator_after": false,
                        "label": " ویرایش",
                        "icon": "fas fa-edit",
                        "action": function (obj) {
                            if (($node.id == 1)) {
                                nikan.notify("error", "خطا", "شما مجاز به ویرایش این گره نیستید");
                            }
                            else {
                                OpenModal('/Admin/Category/Edit/' + $node.id, null, SecoundWindowNameInLayout, "ویرایش دسته بندی", "sm");
                            }
                        }
                    },
                    "Remove": {
                        "separator_before": true,
                        "separator_after": false,
                        "label": "حذف",
                        "icon": "fas fa-trash-alt",
                        "action": function (obj) {
                            $.confirm({
                                title: 'هشدار',
                                content: 'آیا از حذف دسته بندی مطمئن هستید؟',
                                type: 'dark',
                                typeAnimated: true,
                                draggable: true,
                                animation: 'zoom',
                                closeAnimation: 'scale',
                                rtl: true,
                                closeIcon: true,
                                backgroundDismiss: true,
                                buttons: {
                                    formSubmit: {
                                        text: 'بله',
                                        btnClass: 'btn-danger',
                                        action: function () {
                                            if (($node.id == 1)) {
                                                nikan.notify("error", "خطا", "شما مجاز به حذف این گره نیستید");
                                            }
                                            else {
                                                $.ajax({
                                                    url: '/Admin/Category/Delete/' + $node.id,
                                                    type: "Post",
                                                }).done(function (result) {
                                                    if (result.Success) {
                                                        nikan.notify("success", "پیام", result.Message);
                                                        var tree = $("#jstree_Category").jstree(true);
                                                        tree.refresh();
                                                    }
                                                    else {
                                                        nikan.notify("error", "خطا", result.Message);
                                                    }

                                                });
                                            }
                                        }
                                    },
                                    close: {
                                        text: 'خیر',
                                        btnClass: 'btn btn-info',
                                        action: function () { return; }
                                    }
                                }
                            });
                        }
                    }
                };
            }

        }
    });

    $('.vakata-context').css('z-index', 9999999999);
</script>
<script>
    $('#search').keyup(function () {
        $('#jstree_Category').jstree('search', $(this).val());
    });
</script>