﻿@model Shop.Areas.Admin.Models.Category.CategoryModel

<form id="categoryForm" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Parent_Id)
    @Html.HiddenFor(m => m.Level)

    <div class="row">

        <div class="col-12 form-group">
            <label class="control-label">عنوان:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="col-12 form-group">
            <div class="card border-0">
                <div class="card-img text-center">
                    <img id="previewImg" class="img-fluid" src="@((!String.IsNullOrEmpty(Model.ImageUrl)?Model.ImageUrl:"/images/no.png"))" />
                </div>
                <a id="ImgBtn" class="mt-1 btn btn-sm btn-secondary btn-rounded text-white"><i class="fas fa-paperclip"></i>&nbsp;تصویر دسته بندی</a>
            </div>
            <input asp-for="ImageUrl" type="file" class="d-none form-control" style="display: none!important;" />
        </div>
        @if (Model.Level == 1)
        {
            <div class="col-12 form-check">
                <label class="form-check-label" for="AddToMenu">
                    نمایش در منو:
                </label>
                <input asp-for="AddToMenu" class="form-check-input mr-1" type="checkbox" />
            </div>
        }

    </div>

    <hr />
    <div>
        <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
        <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    var ImageUrl = "";
    $("#ImgBtn").on('click', function () {
        $("#ImageUrl").click();
    });
    $(function () {
        ImageUrl = $("#previewImg").attr("src");
    });
    $("#ImageUrl").change(function () {
        if (!this.files.length) {
            $("#previewImg").attr('src', ImageUrl);
            return;
        }
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType.split('/')[0] !== 'image') {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 512001) {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای آیکون 500 کیلوبایت می باشد!',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }

        //نمایش تصویر
        if (this.files && this.files[0]) {

            var reader = new FileReader();
            reader.readAsDataURL(this.files[0]);
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    if (height != 600 || width != 450) {
                        //نمایش هشدار
                        $.alert({
                            icon: 'fas fa-exclamation-triangle',
                            title: "هشدار",
                            columnClass: 'medium',
                            rtl: true,
                            draggable: true,
                            theme: 'supervan',
                            content: 'سایز مجاز برای تصویر 600*450 می باشد',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                close: {
                                    text: 'بستن',
                                    btnClass: 'btn-warning',
                                    action: function () {
                                    }
                                }
                            }
                        });
                        //هشدار
                        main.value = null;
                        return;
                    }
                    $("#previewImg").attr('src', e.target.result);
                    reader.readAsDataURL(this.files[0]);
                }
            }

        }
        else {
            $("#previewImg").attr('src', ImageUrl);
        }
    });
</script>

<script>
  $("#categoryForm").on('submit', function (e) {
      e.preventDefault();
            if (!$("#categoryForm").valid()) {
                return;
            }
            var form = $("#categoryForm")[0];
            var formData = new FormData(form);
            if (@Model.Id> 0) {
                $.ajax({
                    url: "/api/Category/Edit",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    xhr: function () {
                        //upload Progress
                        var xhr = $.ajaxSettings.xhr();
                        if (xhr.upload) {
                            xhr.upload.addEventListener('progress', function (event) {
                                var percent = 0;
                                var position = event.loaded || event.position;
                                var total = event.total;
                                if (event.lengthComputable) {
                                    percent = Math.ceil(position / total * 100);
                                }
                                $("#block").html("لطفا صبر نمایید " + percent + "%");
                            }, true);
                        }
                        return xhr;
                    },
                    mimeType: "multipart/form-data"
                }).done(function (result) {
                    result = $.parseJSON(result);
                    if (result.Success) {
                          CloseModal(WindowNameInLayout);
                           nikan.notify("success", "پیام", result.Message);
                           var tree = $("#jstree").jstree(true);
                           tree.refresh();
                    }
                    else {
                         nikan.notify("error", "خطا", result.Message);
                    }
                });
            }
            else {
                   $.ajax({
                url: "/api/Category/Create",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                xhr: function () {
                    //upload Progress
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress', function (event) {
                            var percent = 0;
                            var position = event.loaded || event.position;
                            var total = event.total;
                            if (event.lengthComputable) {
                                percent = Math.ceil(position / total * 100);
                            }
                            $("#block").html("لطفا صبر نمایید " + percent + "%");
                        }, true);
                    }
                    return xhr;
                },
                mimeType: "multipart/form-data"
                   }).done(function (result) {
                result = $.parseJSON(result);
                if (result.Success) {
                      CloseModal(WindowNameInLayout);
                      nikan.notify("success", "پیام", result.Message);
                      var tree = $("#jstree").jstree(true);
                           tree.refresh();
                }
                else {
                     nikan.notify("error", "خطا", result.Message);
                }
            });
            }

        });
</script>








