﻿@{
    ViewData["Title"] = "درخت حساب";
}

<div class="container d-flex justify-content-center mb-1">
    <div class="row col-lg-6 col-md-12 col-sm-12 col-12 justify-content-center">
        <div class="row col-12 justify-content-center">
            <a onclick="CreateProductCategory()" class="btn btn-sm btn-success my-1"><i class="fas fa-plus-circle mx-1"></i>افزودن</a>
            <a onclick="EditProductCategory()" class="btn btn-sm btn-warning mx-1 my-1"><i class="fas fa-edit mx-1"></i>ویرایش</a>
            <a onclick="DeleteProductCategory()" class="btn btn-sm btn-danger my-1"><i class="fas fa-trash-alt mx-1"></i>حذف</a>
        </div>
        <div class="col-12 justify-content-center">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="جستجو..." id="search">
            </div>
        </div>
        <div class="col-12 justify-content-center mt-1">
            <div id="jstree" style="max-height:480px;overflow-y:auto"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $('#jstree').jstree({
            "core": {

                "multiple": false,
                "check_callback": true,
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? "/api/Category/GetRoot" : "/api/Category/GetChildren/" + node.id;
                    },
                    "type": "Post",
                    "dataType": "json",
                    "contentType": "application/json; charset=utf8",
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                },
                "search": {
                    "case_insensitive": true,
                    "show_only_matches": true
                }
            },
            'sort': function (a, b) {
                a1 = this.get_node(a);
                b1 = this.get_node(b);
                return (a1.text > b1.text) ? 1 : -1;
            },
            "themes": {
                "theme": "default",
                "dots": true
            },
            "plugins": ["contextmenu", "themes", "search", "changed"],
            "search": {
                "case_sensitive": false,
                "show_only_matches": true
            },
            "contextmenu": {
                "items": function ($node) {
                    var tree = $("#jstree").jstree(true);
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "افزودن",
                            "icon": "fas fa-plus-circle",
                            "action": function (obj) {
                                if ($node.li_attr.Level == '3') {
                                    nikan.notify("warning", "هشدار", "افزودن بیش از 3 سطح مجاز نمی باشد");
                                    return;
                                }
                                else {
                                    OpenModal('/Admin/Category/Create/' + $node.id, null, WindowNameInLayout, "افزودن", "sm");
                                }
                            }
                        },
                        "Edit": {
                            "separator_before": true,
                            "separator_after": false,
                            "label": " ویرایش",
                            "icon": "fas fa-edit",
                            "action": function (obj) {
                                OpenModal('/Admin/Category/Edit/' + $node.id, null, WindowNameInLayout, "ویرایش", "sm");
                            }
                        },
                        "Remove": {
                            "separator_before": true,
                            "separator_after": false,
                            "label": "حذف",
                            "icon": "fas fa-trash-alt",
                            "action": function (obj) {
                                if ($node.li_attr.Level == '0') {
                                    nikan.notify("warning", "هشدار", "حذف شاخه ریشه مجاز نمی باشد");
                                    return;
                                }
                                else {
                                    $.confirm({
                                        title: 'هشدار',
                                        content: 'آیا از حذف مطمئن هستید؟',
                                        type: 'dark',
                                        typeAnimated: true,
                                        draggable: true,
                                        animation: 'zoom',
                                        closeAnimation: 'scale',
                                        rtl: true,
                                        closeIcon: true,
                                        backgroundDismiss: true,
                                        buttons: {
                                            formSubmit: {
                                                text: 'بله',
                                                btnClass: 'btn-danger',
                                                action: function () {
                                                    $.ajax({
                                                        url: '/Admin/Category/Delete/' + $node.id,
                                                        type: "Post",
                                                    }).done(function (res) {
                                                        if (res.Success) {
                                                            nikan.notify("success", "پیام", res.Message);
                                                            var tree = $("#jstree").jstree(true);
                                                            tree.refresh();
                                                        }
                                                        else {
                                                            nikan.notify("error", "پیام", res.Message);
                                                        }

                                                    });

                                                }
                                            },
                                            close: {
                                                text: 'خیر',
                                                btnClass: 'btn btn-info',
                                                action: function () { return; }
                                            }
                                        }
                                    });
                                }
                            }
                        }
                    };
                }
            }
        });
        $('.vakata-context').css('z-index', 9999999999);
    </script>
    <script>
        var selectedItem = null;
        $('#search').keyup(function () {
            $('#jstree').jstree('search', $(this).val());
        });
        $(function () {
            $("#jstree").on("changed.jstree", function (e, data) {
                selectedItem = data.node;
            });
        });

        function CreateProductCategory() {
            if (selectedItem == null) {
                nikan.notify("warning", "هشدار", "شاخه والد انتخاب نشده است");
                return;
            }
            else {
                if (selectedItem.li_attr.Level == '3') {
                    nikan.notify("warning", "هشدار", "افزودن بیش از 3 سطح مجاز نمی باشد");
                    return;
                }
                else {
                    OpenModal('/Admin/Category/Create/' + selectedItem.id, null, WindowNameInLayout, "افزودن", "sm");
                }
            }
        }

        function EditProductCategory() {
            if (selectedItem == null) {
                nikan.notify("warning", "هشدار", "شاخه والد انتخاب نشده است");
                return;
            }
            else {
                OpenModal('/Admin/Category/Edit/' + selectedItem.id, null, WindowNameInLayout, "ویرایش", "sm");
            }
        }

        function DeleteProductCategory() {
            if (selectedItem == null) {
                nikan.notify("warning", "هشدار", "شاخه والد انتخاب نشده است");
                return;
            }
            else {
                if (selectedItem.li_attr.Level == '0') {
                    nikan.notify("warning", "هشدار", "حذف شاخه ریشه مجاز نمی باشد");
                    return;
                }
                else {
                    $.confirm({
                        title: 'هشدار',
                        content: 'آیا از حذف مطمئن هستید؟',
                        type: 'dark',
                        typeAnimated: true,
                        draggable: true,
                        animation: 'zoom',
                        closeAnimation: 'scale',
                        rtl: true,
                        closeIcon: true,
                        backgroundDismiss: true,
                        buttons: {
                            formSubmit: {
                                text: 'بله',
                                btnClass: 'btn-danger',
                                action: function () {
                                    $.ajax({
                                        url: '/Admin/Category/Delete/' + selectedItem.id,
                                        type: "Post",
                                    }).done(function (res) {
                                        if (res.Success) {
                                            nikan.notify("success", "پیام", res.Message);
                                            var tree = $("#jstree").jstree(true);
                                            tree.refresh();
                                        }
                                        else {
                                            nikan.notify("error", "پیام", res.Message);
                                        }

                                    });

                                }
                            },
                            close: {
                                text: 'خیر',
                                btnClass: 'btn btn-info',
                                action: function () { return; }
                            }
                        }
                    });
                }
            }
        }
    </script>
}