@model string
@{
    var ctrlId = ViewData.TemplateInfo.HtmlFieldPrefix;
    if (ViewData["Id"] != null)
    {
        ctrlId = ViewData["Id"].ToString();
    }
    ctrlId = ctrlId.Replace('.', '_').Replace('[', '_').Replace(']', '_');

}
<input id='@ctrlId' name='@ctrlId' value='@Model' class="k-textbox form-control" />


<script>
        $(document).ready(function () {
               $("#" + '@ctrlId').kendoDatePickerShamsi({
                   culture: "fa-IR",
                open: function () {
                    var calendar = this.dateView.calendar;
                    calendar.wrapper.width(this.wrapper.width());
                }
            });
    });

</script>