﻿
@{
    Layout = null;
    ViewData["Title"] = "خطای 404";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>خطای 404</title>
    <link href="~/css/error-404.css" rel="stylesheet" />
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>صفحه ای یافت نشد</h2>
            <p>ممکن است صفحه مورد نظر شما حذف،تغییر نام یا بطور موقت در دسترس نباشد</p>
            <a href="/">رفتن به صفحه اصلی</a>
        </div>
    </div>

</body>

</html>


