﻿@model List<Shop.Areas.Admin.Models.Category.CategoryModel>

@if (Model.Count>0)
{
<ul class="navbar-nav menu-l3">
    @foreach (var cat in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="/category/@cat.Id/@cat.Title.CleanUrl()"><i class="fas fa-chevron-left text-dark mx-1"></i>@cat.Title</a>
        </li>
    }
</ul>

}