﻿@model List<Shop.Areas.Admin.Models.Category.CategoryModel>


@if (Model.Count > 0)
{

    <div class="container-fluid my-3">
        <h5 class="alert alert-success main-alert text-center p-2">دسته بندی ها</h5>
        <div class="row col-12 justify-content-start products">
            <div class="owl-main-cat owl-carousel owl-theme owl-rtl owl-drag owl-dot">
                @foreach (var cat in Model)
                {
                    <div onclick="viewCategory(@cat.Id,'@cat.Title.CleanUrl()')">
                        <div class="card main-cat-card mx-1">
                            <img class="card-img-top" src="@((!String.IsNullOrEmpty(cat.ImageUrl)?cat.ImageUrl:"/images/no-image150.png"))" alt="@cat.Title">
                            <div class="card-footer text-center col-12">
                                <a href="/category/@cat.Id/@cat.Title.CleanUrl()">@cat.Title</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}

