﻿@model List<Shop.Areas.Admin.Models.Product.ProductShopIndexModel>

@if (Model.Count > 0)
{
    <div class="resource-warper">
        <div class="container p-0 mt-1 mb-5">
            <h6 class="alert  main-alert text-center p-2  pr-3">@ViewBag.Tittle</h6>
            <div class="row col-12 m-0">
                <div class="owl-carousel owl-theme owl-rtl owl-drag owl-dot">
                    @foreach (var prd in Model)
                    {
                        @await Component.InvokeAsync("BaseCard", prd)
                    }
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>
        function viewProduct(id, name) {
            window.location.href = '/product/' + id + '/' + name;
        }
    </script>
}