﻿@{
    ViewData["Title"] = T["menu.home"].Value;
    RightSidebarEnabled = true;
    SecondColumnEnabled = true;
}

<div class="container p-0">
    <h3 class="text-center">داشبورد</h3>
    <div class="row col-12 mt-5 dashbord">
        @if (User.IsInRole(UserRoleNames.Admin))
        {

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mt-1">
                <div class="card text-center shadow-sm">
                    <i class="fas fa-envelope mt-5 text-secondary"></i>
                    <br />
                    <a class="mb-5" href="/Admin/Message/index">
                        <p>پیام های جدید : <span>@ViewBag.Messages</span></p>
                    </a>
                </div>
            </div>
        
        }

    </div>
</div>

