﻿@model List<Shop.Areas.Admin.Models.Gallery.GalleryModel>
@using Shop.Services.Dto.Slider
@{
    int j = 1;
    int i = 1;
    var slider = ViewBag.Slider as List<SliderModel>;
}
@if (Model.Count() > 0)
{
    if (slider.Any() && slider.Count == 2)
    {
        <div id="carousel">
            <div class="container p-0">
                <div class="row col-12 p-0 m-0">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-0">
                        <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
                            <ol class="carousel-indicators">
                                @foreach (var item in Model)
                                {
                                    if (j == 1)
                                    {
                                        <li data-target="#carouselExampleCaptions" data-slide-to="@(j-1)" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carouselExampleCaptions" data-slide-to="@(j-1)"></li>
                                    }
                                    j++;
                                }
                            </ol>
                            <div class="carousel-inner">
                                @foreach (var item in Model)
                                {
                                    if (i == 1)
                                    {
                                        <div class="carousel-item active">
                                            @if (item.ProductId.HasValue)
                                            {
                                                <a href="/product/@item.ProductId.Value/@item.ProductName.CleanUrl()">
                                                    <img style="height:470px;" src="@item.MainImageUrl" class="rounded d-lg-block d-md-none d-none w-100" alt="@T["title.SoftwareName"].Value">
                                                    <img src="@item.MobileImageUrl" class="rounded  d-lg-none d-md-block d-block w-100" alt="@T["title.SoftwareName"].Value">
                                                </a>
                                            }
                                            else
                                            {
                                                <img style="height:470px;" src="@item.MainImageUrl" class="rounded d-lg-block d-md-none d-none w-100" alt="@T["title.SoftwareName"].Value">
                                                <img src="@item.MobileImageUrl" class="rounded  d-lg-none d-md-block d-block w-100" alt="@T["title.SoftwareName"].Value">
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            @if (item.ProductId.HasValue)
                                            {
                                                <a href="/product/@item.ProductId.Value/@item.ProductName.CleanUrl()">
                                                    <img style="height:470px;" src="@item.MainImageUrl" class="d-xl-block d-lg-block d-md-none d-none w-100" alt="@T["title.SoftwareName"].Value">
                                                    <img src="@item.MobileImageUrl" class="d-xl-none d-lg-none d-md-block d-block w-100" alt="@T["title.SoftwareName"].Value">
                                                </a>
                                            }
                                            else
                                            {
                                                <img style="height:470px;" src="@item.MainImageUrl" class="d-xl-block d-lg-block d-md-none d-none w-100" alt="@T["title.SoftwareName"].Value">
                                                <img src="@item.MobileImageUrl" class="d-xl-none d-lg-none d-md-block d-block w-100" alt="@T["title.SoftwareName"].Value">
                                            }
                                        </div>
                                    }
                                    i++;
                                }
                            </div>
                            <a class="carousel-control-prev">
                                <span class="carusel-arrow" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                            <a class="carousel-control-next">
                                <span class="carusel-arrow" href="#carouselExampleCaptions" role="button" data-slide="next">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 d-lg-block d-md-none d-sm-none d-none p-0">
                        <div class="row col-12 carousel-slider pl-0 ml-0 pr-0 m-0">
                            <div class="col-12 pl-0 ml-0 pr-1">
                                <img class="img-fluid rounded pb-1" style="height:235px;width:100%" src="@slider.FirstOrDefault(x=>x.Type==SliderTypes.TwoSlideUp).SliderUrl" />
                            </div>
                            <div class="col-12 pl-0 ml-0 pr-1">
                                <img class="img-fluid rounded pt-1" style="height:235px;width:100%" src="@slider.FirstOrDefault(x=>x.Type==SliderTypes.TwoSlideDown).SliderUrl" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <!--Carousel-->
        <div id="carousel">
            <div class="container p-0">

                <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (var item in Model)
                        {
                            if (j == 1)
                            {
                                <li data-target="#carouselExampleCaptions" data-slide-to="@(j-1)" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#carouselExampleCaptions" data-slide-to="@(j-1)"></li>
                            }
                            j++;
                        }
                    </ol>
                    <div class="carousel-inner">
                        @foreach (var item in Model)
                        {
                            if (i == 1)
                            {
                                <div class="carousel-item active">
                                    <img src="@item.MainImageUrl" class="rounded d-xl-block d-lg-block d-md-none d-none w-100" alt="@T["title.SoftwareName"].Value">
                                    <img src="@item.MobileImageUrl" class="rounded d-xl-none d-lg-none d-md-block d-block w-100" alt="@T["title.SoftwareName"].Value">

                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">

                                    <img src="@item.MainImageUrl" class="rounded d-xl-block d-lg-block d-md-none d-none w-100" alt="@T["title.SoftwareName"].Value">
                                    <img src="@item.MobileImageUrl" class="rounded d-xl-none d-lg-none d-md-block d-block w-100" alt="@T["title.SoftwareName"].Value">
                                </div>
                            }
                            i++;
                        }
                    </div>
                    <a class="carousel-control-prev">
                        <span class="carusel-arrow" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                    </a>
                    <a class="carousel-control-next">
                        <span class="carusel-arrow" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </div>

            </div>
        </div>
        <!--Carousel-->
    }

}

