﻿@model Shop.Models.ShopCard.ShippingModel

@{
    int i = 1;
    string payName = ViewBag.IsPaid ? "پرداخت شده" : "قابل پرداخت";
}

<h6 class="text-center my-1">فاکتور شماره: @ViewBag.Number</h6>
<div class="container mt-2">
    <table class="table table-hover table-bordered text-center bg-white shopcardtbl">
        <tr class="bg-secondary text-white">
            <th>ردیف</th>
            <th>نام کالا</th>
            <th>مشخصه</th>
            <th>تعداد</th>
            <th>مبلغ</th>
            <th>تخفیف</th>
            <th>مبلغ اضافه شده</th>
            <th>قابل پرداخت</th>
        </tr>
        @foreach (var item in Model.Card)
        {
    <tr id="tr_@item.Product.Id">
        <td>@i</td>
        <td>  <a href="/product/@item.Product.Id/@item.Product.Name.CleanUrl()" class="text-center"> @item.Product.Name</a></td>
        <td>@item.Product.TraitText</td>
        <td>@item.Product.Count</td>
        <td>@item.Product.Price.ToString("N0")</td>
        <td>@item.Product.DiscountAmount.ToString("N0")</td>
        <td>@item.Product.PriceIncrease.ToString("N0")</td>
        <td>@(((item.Product.PriceWithDiscount + item.Product.PriceIncrease) * item.Product.Count).ToString("N0"))</td>
    </tr>
            i++;
        }
    <tr>
        <td colspan="3" class="text-center justify-content-center">جمع تعداد</td>
        <td>@Model.Card.Sum(x => x.Product.Count)</td>
        <td colspan="3">@(Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease))).ToString("N0")) تومان</td>
        <td>
            @if (Model.Card.Sum(x => x.Product.DiscountAmount) > 0)
            {
                <p><del>کل:@(Model.Card.Sum(x => (x.Product.Count * (x.Product.Price + x.Product.PriceIncrease))).ToString("N0")) تومان</del></p>
                <p>تخفیف: @(Model.Card.Sum(x => (x.Product.Count * x.Product.DiscountAmount)).ToString("N0")) تومان</p>
                <p>اضافه شده: @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</p>
                <p>
                    سود خرید: @(
                        (Model.Card.Sum(x => (x.Product.Count * (x.Product.Price + x.Product.PriceIncrease))) - Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease)))).ToString("N0")
                    ) تومان
                </p>
                <p>@payName: @(Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease))).ToString("N0")) تومان</p>
            }
            else
            {
                <p>اضافه شده: @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</p>
                <p>
                    سود خرید: @(
                        (Model.Card.Sum(x => (x.Product.Count * (x.Product.Price + x.Product.PriceIncrease))) - Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease)))).ToString("N0")
                    ) تومان
                </p>
                <p>@payName: @(Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease))).ToString("N0")) تومان</p>
            }
        </td>
    </tr>
    </table>
    @if (User.IsInRole(UserRoleNames.User))
    {
        @if (ViewBag.IsPayable)
        {
            <div class="row col-12 justify-content-end  mb-5 pb-5">
                <a asp-action="ConfirmOrder" asp-controller="ShopCard" asp-route-factorNumber="@Model.Card.FirstOrDefault().OrderNumber" asp-area="" class="btn btn-lg btn-danger">پرداخت</a>
            </div>
        }

    }
</div>


