﻿@model Shop.Services.Dto.Product.OrderSearchModel
@{
    var OrderGridName = "OrderGrid";
    ViewBag.Title = "سفارشات";
}
<style>
    div#OrderGrid .k-grid-content {
        max-height: 400px !important;
    }
</style>
<div class="container text-center">
    <p class="text-center mt-3">@ViewBag.Title</p>
</div>
<hr class="k-header" />
<div class="container k-rtl">
    @(Html.Kendo().PanelBar()
              .Name("panelbar")
              .ExpandMode(PanelBarExpandMode.Multiple)
              .Items(panelbar =>
              {
                  panelbar.Add().Text("جستجو")
              .Expanded(true)
              .Content(@<form method="post" id="searchOrderForm">
                        <br />
                        <div class="row col-10">
                            <div class="col-md-2 form-group">
                                <label class="label">مشتری:</label>
                                @(
                                     Html.Kendo().ComboBox()
                                    .Name("UserId")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Placeholder("انتخاب کنید")
                                    .Filter(FilterType.Contains)
                                    .HtmlAttributes(new { style = "width: 100%;" })
                                    .BindTo((List<SelectListItem>)ViewBag.Users)
                                )
                            </div>
                            <div class="col-md-2 form-group ">
                                <label asp-for="PayDate_Start" class="control-label">از تاریخ :</label>
                                @Html.EditorFor(m => m.PayDate_Start, "PersianDate")
                            </div>

                            <div class="col-md-2 form-group">
                                <label asp-for="PayDate_End" class="control-label">تا تاریخ :</label>
                                @Html.EditorFor(m => m.PayDate_End, "PersianDate")
                            </div>
                            <div class="col-md-2 form-group">
                                <label asp-for="Status" class="control-label">وضعیت سفارش :</label>
                                <select asp-for="Status" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Status)">
                                    <option selected value="">همه</option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label asp-for="Shipping" class="control-label">وضعیت ارسال :</label>
                                <select asp-for="Shipping" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Shippings)">
                                    <option selected value="">همه</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mt-2 ml-5 float-left">
                                    <button type="button" id="searchBtn" class="k-button"><span class="k-icon k-i-reload"></span>&nbsp;جستجو&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </form>);
}))
</div>
<br />
<div class="container-fluid k-rtl mb-5" style="overflow-x:auto;">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.Order.OrderIndexModel>()
        .Name(OrderGridName)
        .AutoBind(true)
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Title("#").ClientTemplate("#= OrderGridIndex=IncrementRowNumber(OrderGridIndex) #").Width(45).Sortable(false).Filterable(false);
            columns.Bound(p => p.Payable)
              .ClientTemplate("#if(!Payable){# " +
              "<a class='btn-sm mx-1 k-button' onclick='ShowOrders(#= data.Id #)'><span class='k-icon k-i-clock'></span>&nbsp;مشاهده</a>" +
              "<a class='k-button btn-sm  m-1' onclick='ChangeStatus(#= data.Id #)'><span class='k-icon k-i-delicious'></span>&nbsp;تغییر وضعیت</a> #}" +
              "else {# " +
              "<a class='btn-sm mx-1 k-button' onclick='ShowOrders(#= data.Id #)'><span class='k-icon k-i-clock'></span>&nbsp;مشاهده</a> #}#")
              .Title("عملیات").Width(250).HeaderHtmlAttributes(new { @class = "text-right" }).Filterable(false).Sortable(false);
            columns.Bound(p => p.UserFullName).Title("نام").Width(120);
            columns.Bound(p => p.Mobile).Title("همراه").Width(120);
            columns.Bound(p => p.Number).Title("شماره فاکتور").Width(180);
            columns.Bound(p => p.CreatedAt).Title("تاریخ ایجاد").Width(130);
            columns.Bound(p => p.ShippingStatusName).Title("وضعیت ارسال").Width(110);
            columns.Bound(p => p.StatusName).Title("وضعیت پرداخت").Width(110);
            columns.Bound(p => p.PayableAmount).Format("{0:#,0}").Title("مبلغ پرداخت").Width(110);
            columns.Bound(p => p.GetwayName).Title("درگاه").Width(120);
            columns.Bound(p => p.TransactionNumber).Title("کد پیگیری").Width(100);
            columns.Bound(p => p.TransactionCode).Title("کد مرجع").Width(100);
            columns.Bound(p => p.PaidAt).Title("تاریخ پرداخت").Width(140);
        })
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
        .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
        .Scrollable(s => s.Height("auto"))
        .HtmlAttributes(new { style = "max-width: 1450px;" })
        //.Filterable()
        .Resizable(resize => resize.Columns(true))
        .Reorderable(reorder => reorder.Columns(true))
        .DataSource(dataSource => dataSource
            .WebApi()
            .Sort(sort => sort.Add(m => m.Id).Descending())
            .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Action("Data_ReadOrder", "Order").Data("GetSearchParameters")).PageSize(KendoGridSetting.DefaultPageSize)

        )
        .Events(events => events.DataBinding("OrderGridDataBinding"))
    )

</div>

<script>

    var OrderGridIndex = 0;

    function OrderGridDataBinding() {
        OrderGridIndex = GridDataBinding('@OrderGridName');
    }

    function ShowOrders(id) {
        OpenModal('/api/Order/OrderDetails/'+id,null, WindowNameInLayout, 'جزئیات فاکتور ','xl');
    }

    $('#searchBtn').click(function () {
        RefreshKendoGrid('@OrderGridName', '@KendoGridSetting.DefaultPageSize');
    });

    function GetSearchParameters() {
        var formdata = $('#searchOrderForm').serializeArray();
        var data = {};
        $(formdata).each(function (index, obj) {
            data[obj.name] = obj.value;
        });
         return data;
    }


     function ChangeStatus(id) {
           $.confirm({
        columnClass: 'col-md-6 col-md-offset-3',
        title: 'تغییر وضعیت',
        content: 'وضعیت را انتخاب نمایید؟',
        type: 'success',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit1: {
                text: 'ارسال شده',
                btnClass: 'btn-success',
                action: function () {
                      nikan.api("/api/Order/ChangeStatus/" + id+"/"+@((byte)ShippingSatusTypes.Shipped), null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@OrderGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            formSubmit2: {
                text: 'ارسال نشده',
                btnClass: 'btn-info',
                action: function () {
                      nikan.api("/api/Order/ChangeStatus/" + id+"/"+@((byte)ShippingSatusTypes.NotShipped), null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@OrderGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            }
        }
            });
       }
</script>