﻿<div class="cd-background-wrapper">
    <figure class="cd-floating-background">
        <img src="~/images/Home/home-1.png" alt="@T["layout-title"].Value">
        <img src="~/images/Home/home-2.png" alt="@T["layout-title"].Value">
        <img src="~/images/Home/home-3.png" alt="@T["layout-title"].Value">
        <img src="~/images/Home/home-4.png" alt="@T["layout-title"].Value">
    </figure>
</div>

<div id="intro1" class="text-center animatedParent" data-sequence='1000'>
    <img class="imag-fluid animated tada mt-3" data-id='1' src="~/images/Intro/Intro1/text.png" alt="@T["layout-title"].Value">
    <div class="container mt-5 mb-3" data-id='2'>
        <div class="animatedParent" data-sequence='700' data-appear-top-offset='-100'>
            <img class="imag-fluid animated shakeUp" data-id='3' src="~/images/Intro/Intro1/intro1-1.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='4' src="~/images/Intro/Intro1/intro1-2.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='5' src="~/images/Intro/Intro1/intro1-3.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='6' src="~/images/Intro/Intro1/intro1-4.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='7' src="~/images/Intro/Intro1/intro1-5.png" alt="@T["layout-title"].Value">
        </div>
    </div>
</div>

<div id="intro2" class="text-center animatedParent" data-sequence='1300' data-appear-top-offset='-200'>
    <img class="imag-fluid animated tada mt-3" data-id='8' src="~/images/Intro/Intro2/text.png" alt="@T["layout-title"].Value">
    <div class="container mt-5 mb-3" data-id='9'>
        <div class="animatedParent" data-sequence='700'>
            <img class="imag-fluid animated shakeUp" data-id='10' src="~/images/Intro/Intro2/intro2-1.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='11' src="~/images/Intro/Intro2/intro2-2.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='12' src="~/images/Intro/Intro2/intro2-3.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='13' src="~/images/Intro/Intro2/intro2-4.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='14' src="~/images/Intro/Intro2/intro2-5.png" alt="@T["layout-title"].Value">
        </div>
    </div>
</div>

<div id="intro3" class="text-center animatedParent" data-sequence='1500' data-appear-top-offset='-300'>
    <img class="imag-fluid animated tada mt-3" data-id='8' src="~/images/Intro/Intro3/text.png" alt="@T["layout-title"].Value">
    <div class="container mt-5 mb-3" data-id='15'>
        <div class="animatedParent" data-sequence='700'>
            <img class="imag-fluid animated shakeUp" data-id='16' src="~/images/Intro/Intro3/intro3-1.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='17' src="~/images/Intro/Intro3/intro3-2.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='18' src="~/images/Intro/Intro3/intro3-3.png" alt="@T["layout-title"].Value">
            <img class="imag-fluid animated shakeUp" data-id='19' src="~/images/Intro/Intro3/intro3-4.png" alt="@T["layout-title"].Value">
        </div>
    </div>
</div>