﻿@model Shop.Areas.Admin.Models.Setting.SettingsModel
@using NikanBase.Core.Enums
@{
    ViewBag.Title = "تنظیمات";
}

<div class="container text-center">
    <p class="text-center mt-3">@ViewBag.Title</p>
</div>
<hr class="k-header" />
<div class="container-fluid k-rtl nikan-setting mb-5">

    <form id="settingFrm" method="post">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="zarinpal-tab" data-toggle="tab" href="#zarinpal" role="tab" aria-controls="zarinpal" aria-selected="true">تنظیمات درگاه زرین پال</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mellat-tab" data-toggle="tab" href="#mellat" role="tab" aria-controls="mellat" aria-selected="false">تنظیمات درگاه ملت</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="unit-tab" data-toggle="tab" href="#unit" role="tab" aria-controls="unit" aria-selected="false">تنظیمات واحد پولی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="derak-tab" data-toggle="tab" href="#derak" role="tab" aria-controls="derak" aria-selected="false">تنظیمات دراک</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="website-tab" data-toggle="tab" href="#website" role="tab" aria-controls="website" aria-selected="false">تنظیمات وبسایت</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="zarinpal" role="tabpanel" aria-labelledby="zarinpal-tab">
                <div class="row col-12 p-0 m-0">
                    <div class="col-12 p-0">
                        <p class="alert alert-warning h6 text-center p-2">تنظیمات درگاه زرین پال</p>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" asp-for="GetwaySettings.BankGateway_Type">نوع درگاه</label>
                            <select asp-for="GetwaySettings.BankGateway_Type" class="form-control">
                                <option value="0">انتخاب نمایید</option>
                                <option value="@ZarinPalTypes.ZarinPal">زرین پال</option>
                                <option value="@ZarinPalTypes.ZarinPalSandBox">تست زرین پال</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" asp-for="GetwaySettings.BankGateway_TerminalNo">شماره ترمینال بانک</label>
                            <input class="form-control" asp-for="GetwaySettings.BankGateway_TerminalNo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="mellat" role="tabpanel" aria-labelledby="mellat-tab">
                <div class="row col-12 p-0 m-0">
                    <div class="col-12 p-0">
                        <p class="alert alert-danger h6 text-center p-2">تنظیمات درگاه ملت</p>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" asp-for="MellatGetwaySetting.TerminalId">شماره ترمینال بانک</label>
                            <input class="form-control" asp-for="MellatGetwaySetting.TerminalId">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" asp-for="MellatGetwaySetting.UserName">نام کاربری</label>
                            <input class="form-control" asp-for="MellatGetwaySetting.UserName">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" asp-for="MellatGetwaySetting.Password">رمز عبور</label>
                            <input class="form-control" asp-for="MellatGetwaySetting.Password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="unit" role="tabpanel" aria-labelledby="unit-tab">
                <div class="row col-12 p-0 m-0">
                    <div class="col-12 p-0">
                        <p class="alert alert-success h6 text-center p-2">تنظیمات واحد پولی</p>
                    </div>
                    <div class="col-4 form-group">
                        <label class="control-label" asp-for="PriceUnitSetting.Unit">واحد پول:</label>
                        <select asp-for="PriceUnitSetting.Unit" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Units)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                        <span asp-validation-for="PriceUnitSetting.Unit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="derak" role="tabpanel" aria-labelledby="derak-tab">
                <div class="row col-12 p-0 m-0">
                    <div class="col-12 p-0">
                        <p class="alert alert-primary h6 text-center p-2">تنظیمات دراک</p>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <label class="control-label" asp-for="DerakSetting.PublicKey">کلید دراک</label>
                            <input class="form-control" style="direction:ltr;" asp-for="DerakSetting.PublicKey">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="DerakSetting.BaseUrl">آدرس دراک</label>
                            <input class="form-control" style="direction:ltr" asp-for="DerakSetting.BaseUrl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="website" role="tabpanel" aria-labelledby="website-tab">
                <div class="row col-12 p-0 m-0">
                    <div class="col-12 p-0">
                        <p class="alert alert-info h6 text-center p-2">تنظیمات وبسایت</p>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="card border-0">
                                <div class="card-img text-center">
                                    <img id="previewIcon" class="img-fluid" src="/favicon.ico" />
                                </div>
                                <a id="IconBtn" class="mt-1 btn btn-sm btn-secondary btn-rounded text-white"><i class="fas fa-paperclip"></i>&nbsp;آیکون وبسایت</a>
                            </div>
                            <input id="WebsiteSetting_IconUrl" name="WebsiteSetting_IconUrl" type="file" class="d-none form-control" style="display: none!important;" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.ShopName">اسم فروشگاه</label>
                            <input class="form-control" asp-for="WebsiteSetting.ShopName">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.PageCount">تعداد محصول قابل نمایش در هر صفحه</label>
                            <select asp-for="WebsiteSetting.PageCount" class="form-control">
                                <option value="4">4</option>
                                <option value="8">8</option>
                                <option value="12">12</option>
                                <option value="16">16</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">

                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.InstagramAddress">آدرس اینستاگرام</label>
                            <input class="form-control socialLink" asp-for="WebsiteSetting.InstagramAddress">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.TelegramAddress">آدرس تلگرام</label>
                            <input class="form-control socialLink" asp-for="WebsiteSetting.TelegramAddress">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.WhatsAppAddress">آدرس واتساپ</label>
                            <input class="form-control socialLink" asp-for="WebsiteSetting.WhatsAppAddress">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.FaceBookAddress">آدرس فیسبوک</label>
                            <input class="form-control socialLink" asp-for="WebsiteSetting.FaceBookAddress">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.ShopAddress">آدرس فروشگاه</label>
                            <input class="form-control" asp-for="WebsiteSetting.ShopAddress">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.ShopPhones">شماره های تماس</label>
                            <textarea class="form-control" asp-for="WebsiteSetting.ShopPhones" rows="2"></textarea>
                            <p class="m-0" style="font-size:10px"><span class="text-danger">*</span>هر شماره را در یک خط وارد نمایید</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-check mt-2">
                            <label class="form-check-label" for="WebsiteSetting_ShowAboutUs">
                                نمایش درباره ما:
                            </label>
                            <input asp-for="WebsiteSetting.ShowAboutUs" class="form-check-input mr-1" type="checkbox" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-check mt-2">
                            <label class="form-check-label" for="WebsiteSetting_ShowContactUs">
                                نمایش تماس با ما:
                            </label>
                            <input asp-for="WebsiteSetting.ShowContactUs" class="form-check-input mr-1" type="checkbox" />
                        </div>
                    </div>
                    <div class="col-12">

                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="card border-0">
                                <div class="card-img text-center">
                                    <img id="previewImg" width="120" class="img-fluid" src="@((!String.IsNullOrEmpty(Model.WebsiteSetting.LogoUrl)?Model.WebsiteSetting.LogoUrl:"/images/no.png"))" />
                                </div>
                                <a id="ImgBtn" class="mt-1 btn btn-sm btn-secondary btn-rounded text-white"><i class="fas fa-paperclip"></i>&nbsp;لوگو وبسایت</a>
                            </div>
                            <input id="WebsiteSetting_LogoUrl" name="WebsiteSetting_LogoUrl" type="file" class="d-none form-control" style="display: none!important;" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="WebsiteSetting.AboutUs">متن درباره ما</label>
                            <textarea asp-for="WebsiteSetting.AboutUs" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">

        </div>
        <div class="row float-left ml-2">
            <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
        </div>
    </form>
</div>

<script src="~/libs/ckeditor/ckeditor.js"></script>

<script>
    var ImageUrl = "";
    $("#ImgBtn").on('click', function () {
        $("#WebsiteSetting_LogoUrl").click();
    });
    $(function () {
        ImageUrl = $("#previewImg").attr("src");
    });
    $("#WebsiteSetting_LogoUrl").change(function () {
        if (!this.files.length) {
            $("#previewImg").attr('src', ImageUrl);
            return;
        }
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType.split('/')[0] !== 'image') {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 204801) {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای لوگو 200 کیلوبایت می باشد!',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }

        //نمایش تصویر
        if (this.files && this.files[0]) {

            var reader = new FileReader();
            reader.readAsDataURL(this.files[0]);
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    //if (height != 200 || width != 150) {
                    //    //نمایش هشدار
                    //    $.alert({
                    //        icon: 'fas fa-exclamation-triangle',
                    //        title: "هشدار",
                    //        columnClass: 'medium',
                    //        rtl: true,
                    //        draggable: true,
                    //        theme: 'supervan',
                    //        content: 'سایز مجاز برای تصویر 200*150 می باشد',
                    //        type: 'orange',
                    //        typeAnimated: true,
                    //        buttons: {
                    //            close: {
                    //                text: 'بستن',
                    //                btnClass: 'btn-warning',
                    //                action: function () {
                    //                }
                    //            }
                    //        }
                    //    });
                    //    //هشدار
                    //    main.value = null;
                    //    return;
                    //}
                    $("#previewImg").attr('src', e.target.result);
                    reader.readAsDataURL(this.files[0]);
                }
            }
        }
        else {
            $("#previewImg").attr('src', ImageUrl);
        }
    });
</script>

<script>
    var IconUrl = "";
    $("#IconBtn").on('click', function () {
        $("#WebsiteSetting_IconUrl").click();
    });
    $(function () {
        IconUrl = $("#previewIcon").attr("src");
    });
    $("#WebsiteSetting_IconUrl").change(function () {
        if (!this.files.length) {
            $("#previewIcon").attr('src', IconUrl);
            return;
        }
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType !== 'image/x-icon') {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل ico می باشید',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 204801) {
            $("#previewIcon").attr('src', IconUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای آیکون 200 کیلوبایت می باشد!',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }
        //نمایش تصویر
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.readAsDataURL(this.files[0]);
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    $("#previewIcon").attr('src', e.target.result);
                    reader.readAsDataURL(this.files[0]);
                }
            }
        }
        else {
            $("#previewIcon").attr('src', IconUrl);
        }
    });
</script>

<script>
    var val = CKEDITOR.replace("WebsiteSetting_AboutUs", {
        customConfig: "/js/Config.js"
    });

    $("#settingFrm").on('submit', function (e) {
        e.preventDefault();
        if (!$("#settingFrm").valid()) {
            return;
        }
        $("#WebsiteSetting_AboutUs").val(val.getData());
        var form = $("#settingFrm")[0];
        var formData = new FormData(form);

        $.ajax({
            url: "/api/Setting/ModifySettings",
            type: "POST",
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            mimeType: "multipart/form-data"
        }).done(function (result) {
            result = $.parseJSON(result);
            if (result.Success) {
                nikan.notify("success", "پیام", result.Message);
            }
            else {
                nikan.notify("error", "خطا", result.Message);
            }
        });


    });
</script>