﻿<div class="container mb-1">
    <div class="row col-12 justify-content-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="جستجو..." id="search">
        </div>
    </div>
</div>


<div id="jstree"></div>


<script>
    $('#jstree').jstree({
        "core": {
            "multiple": false,
            "check_callback": true,
            'data': {            
                'url': function (node) {
                    return node.id === '#' ? "/api/Category/GetRoot" : "/api/Category/GetChildren/" + node.id;
                },
                "type": "Post",
                "dataType": "json",
                "contentType": "application/json; charset=utf8",
                'data': function (node) {
                    return { 'id': node.id };
                }
            },
        },
         'sort': function (a, b) {
            a1 = this.get_node(a);
            b1 = this.get_node(b);
            return (a1.text > b1.text) ? 1 : -1;
        },
        "plugins": ["themes","search", "sort"],
          "search": {
            "case_sensitive": false,
            "show_only_matches": true
        },
    });

    $('.vakata-context').css('z-index', 9999999999);

    $("#jstree").bind("dblclick.jstree", function (e) {
        var data = $("#jstree").jstree().get_selected(true);
        GetCategory(data[0].id);
        CloseModal(SecoundWindowNameInLayout);
    });

     $('#search').keyup(function () {
        $('#jstree').jstree('search', $(this).val());
    });
</script>