﻿@model Shop.Services.Dto.Product.ProductModel
@using Shop.Services.Dto.Product
@using Newtonsoft.Json
@{
    ViewData["Title"] = "تعریف محصول";
}
<div class="container-fluid">
    <form id="categoryForm" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(m => m.Id)

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="base" aria-selected="true">اطلاعات پایه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="false">ویژگی های محصول</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trait-tab" data-toggle="tab" href="#trait" role="tab" aria-controls="trait" aria-selected="false">مشخصه های محصول</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="similar-tab" data-toggle="tab" href="#similar" role="tab" aria-controls="similar" aria-selected="false">محصولات مرتبط</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
                <div class="row col-12 mt-2">
                    <div class="col-3 form-group">
                        <label class="control-label">نام محصول:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div> 
                    <div class="col-3 form-group">
                        <label class="control-label">نام انگلیسی محصول:</label>
                        <input asp-for="EnglishName" class="form-control" />
                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label class="control-label">دسته محصول:</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Cats)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="err-msg text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label class="control-label">برند محصول:</label>
                        <select asp-for="BrandId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Brands)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                        <span asp-validation-for="BrandId" class="err-msg text-danger"></span>
                    </div>
                
                </div>

                <div class="row col-12">
                    <div class="col-3 form-group">
                        <label class="control-label">قیمت:</label>
                        <input asp-for="Price" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label class="control-label">موجودی:</label>
                        <input asp-for="Inventory" min="0" class="form-control" />
                        <span asp-validation-for="Inventory" class="text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label class="control-label">تخفیف:</label>
                        <select asp-for="DiscountId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Disconts)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                        <span asp-validation-for="DiscountId" class="text-danger"></span>
                    </div>
                    <div class="col-3 p-0">
                        <div class="row col-12 p-0 m-0 pt-4">
                            <div class="col-4 p-0 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="Publish" class="custom-control-input">
                                    <label class="custom-control-label" for="Publish">منتشر شود</label>
                                </div>
                                <span asp-validation-for="Publish" class="err-msg text-danger"></span>
                            </div>
                            <div class="col-4 p-0 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="NewProduct" class="custom-control-input">
                                    <label class="custom-control-label" for="NewProduct">محصول جدید</label>
                                </div>
                                <span asp-validation-for="NewProduct" class="err-msg text-danger"></span>
                            </div>
                            <div class="col-4 p-0 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="SpecialProduct" class="custom-control-input">
                                    <label class="custom-control-label" for="SpecialProduct">محصول ویژه</label>
                                </div>
                                <span asp-validation-for="SpecialProduct" class="err-msg text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row col-12">
                    <div class="col-3 form-group">
                        <label class="control-label">حداقل سبد خرید:</label>
                        <input asp-for="MinCart" min="0" class="form-control" />
                        <span asp-validation-for="MinCart" class="text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label class="control-label">حداکثر سبد خرید:</label>
                        <input asp-for="MaxCart" min="0" class="form-control" />
                        <span asp-validation-for="MaxCart" class="text-danger"></span>
                    </div>

                    <div class="col-3 form-group">
                        <label class="control-label">بارکد:</label>
                        <input asp-for="BarCode" min="0" class="form-control" />
                        <span asp-validation-for="BarCode" class="text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label class="control-label">امتیاز:</label>
                        <input asp-for="Score" min="0" step="0.01" class="form-control" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <div class="card border-0">
                            <div class="card-img text-center">
                                <img id="previewImg" class="img-fluid" src="@((!String.IsNullOrEmpty(Model.ImageUrl)?Model.ImageUrl:"/images/no.png"))" />
                            </div>
                            <a id="ImgBtn" class="mt-1 btn btn-sm btn-secondary btn-rounded text-white"><i class="fas fa-paperclip"></i>&nbsp;تصویر محصول</a>
                        </div>
                        <input asp-for="ImageUrl" type="file" class="d-none form-control" style="display: none!important;" />
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-12">
                        <label class="control-label">توضیحات:</label>
                        <div class="form-group">
                            <textarea asp-for="Description" rows="5" class="form-control ckeditor"></textarea>
                            <span asp-validation-for="Description" class="err-msg text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="property" role="tabpanel" aria-labelledby="property-tab">
                <div class="row col-12 mt-2">
                    <div class="col-2 form-group">
                        <label class="control-label">دسته ویژگی:</label>
                        <select id="PropertCategoryId" name="PropertCategoryId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Categories)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">انتخاب ویژگی:</label>
                        <select id="PropertyId" name="PropertyId" class="form-control" disabled>
                            <option value="">انتخاب نمایید</option>
                        </select>
                    </div>
                    <div class="col-3 form-group">
                        <label class="label">مقدار ویژگی:</label>
                        <input id="Value" name="Value" class="form-control" />
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">اولویت:</label>
                        <input type="number" min="0" id="Order" name="Order" value="0" class="form-control" />
                    </div>

                    <div class="col-3 form-group">
                        <div class="row col-12 pt-4">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="Show" name="Show" checked class="custom-control-input">
                                    <label class="custom-control-label" for="Show">نمایش</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <a onclick="AddProperty()" class="btn btn-sm btn-primary">+ افزودن</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 p-0 m-0">
                    <div class="k-rtl" style="overflow-y:auto;">
                        @(
                             Html.Kendo().Grid<Shop.Services.Dto.Product.ProductPropertyModel>()
                            .Name("PropertyGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.CategoryName).Title("دسته").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.PropertyName).Title("ویژگی").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.Value).Title("مقدار").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.Order).Title("اولویت").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.Visible)
                                       .ClientTemplate("#if(Visible){#<span><i style='font-size:15px;' class='fas fa-check-circle text-success'></i></span>#} else {#  <span><i style='font-size:15px;' class='fas fa-times text-danger'></i></span> #}#")
                                       .Title("نمایش").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(false).Sortable(false);
                                columns.Command(command => { command.Destroy().Text("حذف").HtmlAttributes(new { @class = "btn btn-sm btn-danger" }); }).Title("عملیات").Width(100);

                            })
                            .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                            .Scrollable(scrollable => scrollable.Height("auto"))
                            .Resizable(resize => resize.Columns(false))
                            .Reorderable(reorder => reorder.Columns(true))
                            .HtmlAttributes(new { style = "min-height: 100px;" })
                            .Navigatable()
                            .Editable(editable => editable
                            .Mode(GridEditMode.InCell)
                            .DisplayDeleteConfirmation(true)
                            .DisplayDeleteConfirmation("آیا از حذف این ویژگی مطمئن هستید؟")
                            )
                            .DataSource
                            (dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Sort(sort => sort.Add(m => m.Order).Ascending())
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(p => p.CategoryName).Editable(false);
                                model.Field(p => p.PropertyName).Editable(false);
                            })
                                 )
                            //.Events(evnts => evnts.Remove("Remove"))
                        )

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="trait" role="tabpanel" aria-labelledby="trait-tab">
                <div class="row col-12 mt-2">
                    <div class="col-2 form-group">
                        <label class="control-label">رنگ:</label>
                        <select id="ColorTriatId" name="ColorTriatId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Colors)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">گارانتی:</label>
                        <select id="WarrantyTriatId" name="WarrantyTriatId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Warranties)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                    </div>
                    <div class="col-2 form-group k-rtl">
                        <label class="label">تاریخ گارانتی:</label>
                        <input id="WarrantyDate" name="WarrantyDate" class="form-control" />
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">موجودی:</label>
                        <input type="number" min="0" id="TraitInventory" name="TraitInventory" value="0" class="form-control" />
                    </div>

                    <div class="col-2 form-group">
                        <label class="label">افزایش قیمت:</label>
                        <input type="number" min="0" id="PriceIncrease" name="PriceIncrease" value="0" class="form-control" />
                    </div>

                    <div class="col-2 form-group mt-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="Active" name="Active" checked class="custom-control-input">
                            <label class="custom-control-label" for="Active">فعال</label>
                        </div>
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">حداقل سبد:</label>
                        <input type="number" min="0" id="MinCart" name="MinimumCart" value="0" class="form-control" />
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">حداکثر سبد:</label>
                        <input type="number" min="0" id="MaxCart" name="MaximumCart" value="0" class="form-control" />
                    </div>
                    <div class="col-2 form-group">
                        <label class="label">بارکد:</label>
                        <input type="text" id="BarC" name="BarC" class="form-control" />
                    </div>
                    <div class="col-2 form-group">
                        <div class="row col-12 pt-4">
                            <div class="col-12">
                                <a onclick="AddTrait()" class="btn btn-sm btn-primary">+ افزودن</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 p-0 m-0">
                    <div class="k-rtl" style="overflow-y:auto;">
                        @(
                             Html.Kendo().Grid<Shop.Services.Dto.Product.ProductTraitModel>()
                            .Name("TraitGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.ColorTriatName).Title("رنگ").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.WarrantyTriatName).Title("گارانتی").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.BarCode).Title("بارکد").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.WarrantyDate).Title("تاریخ گارانتی").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.TraitInventory).Title("موجودی").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.MinimumCart).Title("حداقل سبد").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.MaximumCart).Title("حداکثر سبد").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                columns.Bound(p => p.PriceIncrease).Title("افزایش قیمت").Format("{0:#,0}").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                                 columns.Bound(p => p.IsActive)
                                       .ClientTemplate("#if(IsActive){#<span><i style='font-size:15px;' class='fas fa-check-circle text-success'></i></span>#} else {#  <span><i style='font-size:15px;' class='fas fa-times text-danger'></i></span> #}#")
                                       .Title("فعال").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(false).Sortable(false);
                                columns.Command(command => { command.Destroy().Visible("setVisible").Text("حذف").HtmlAttributes(new { @class = "btn btn-sm btn-danger" }); }).Title("عملیات").Width(100);

                            })
                            .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                            .Scrollable(scrollable => scrollable.Height("auto"))
                            .Resizable(resize => resize.Columns(false))
                            .Reorderable(reorder => reorder.Columns(true))
                            .HtmlAttributes(new { style = "min-height: 100px;" })
                            .Navigatable()
                            .Editable(editable => editable
                            .Mode(GridEditMode.InCell)
                            .DisplayDeleteConfirmation(true)
                            .DisplayDeleteConfirmation("آیا از حذف این مشخصه مطمئن هستید؟")
                            )
                            .DataSource
                            (dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Sort(sort => sort.Add(m => m.Id).Ascending())
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(p => p.ColorTriatName).Editable(false);
                                model.Field(p => p.WarrantyTriatName).Editable(false);
                                model.Field(p => p.WarrantyDate).Editable(false);
                                model.Field(p => p.IsActive).Editable(true);
                            })
                                 )
                        )

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similar-tab">
                <div class="row col-12 mt-2">
                    <div class="col-4 form-group">
                        <label class="control-label">دسته محصول:</label>
                        <select id="CatId" name="CatId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Cats)">
                            <option value="">انتخاب نمایید</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label class="label">انتخاب محصول:</label>
                        <select id="SimilarProductId" name="SimilarProductId" class="form-control" disabled>
                            <option value="">انتخاب نمایید</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <div class="row col-12 pt-4">
                            <div class="col-12">
                                <a onclick="AddSimilar()" class="btn btn-sm btn-primary">+ افزودن</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 p-0 m-0">
                    <div class="k-rtl" style="overflow-y:auto;">
                        @(
                             Html.Kendo().Grid<Shop.Services.Dto.Product.SimilarProductModel>()
                            .Name("SimilarGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.SimilarProductName).Title("محصول").HeaderHtmlAttributes(new { @class = "text-right" }).Filterable(true);
                                columns.Command(command => { command.Destroy().Text("حذف").HtmlAttributes(new { @class = "btn btn-sm btn-danger" }); }).Title("عملیات").Width(100);

                            })
                            .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                            .Scrollable(scrollable => scrollable.Height("auto"))
                            .Resizable(resize => resize.Columns(false))
                            .Reorderable(reorder => reorder.Columns(true))
                            .HtmlAttributes(new { style = "min-height: 100px;" })
                            .Navigatable()
                            .Editable(editable => editable
                            .Mode(GridEditMode.InCell)
                            .DisplayDeleteConfirmation(true)
                            .DisplayDeleteConfirmation("آیا از حذف این محصول مطمئن هستید؟")
                            )
                            .DataSource
                            (dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Sort(sort => sort.Add(m => m.SimilarProductName).Ascending())
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(p => p.SimilarProductName).Editable(false);
                            })
                                 )
                        )

                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12 justify-content-center mt-2">
            <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
            <a href="/admin/product" class="k-button mx-2"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</a>
        </div>
    </form>
</div>

@section Scripts{

    <script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/ckeditor/ckeditor.js"></script>
    <script src="~/js/Currency.js"></script>

    <script>
        var traitsIds = [];

        function currencyNumber(n) {
            n = n.replace('.00', '');
            n = n.replace('/00', '');
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }

        function LoadCategory() {
            OpenModal('/Admin/Product/ViewCategory', null, SecoundWindowNameInLayout, "دسته ها", "md");
        }

        function GetCategory(id) {

            $("#CategoryId").val(id);

            $.ajax({
                url: '/Admin/Product/GetCategoryName/' + id,
                type: 'Get'
            }).done(function (result) {
                $("#cat").val(result.Data);
            });
        }

        $(document).ready(function () {
            $("#WarrantyDate").kendoDatePickerShamsi({
                culture: "fa-IR",
                open: function () {
                    var calendar = this.dateView.calendar;
                    calendar.wrapper.width(this.wrapper.width());
                }
            });

            $("#Price").val(currencyNumber($("#Price").val()));
        });


        function setVisible(dataItem) {
            if (traitsIds.length <= 0) {
                return true;
            }
            else {
                if (jQuery.inArray(dataItem.Id, traitsIds) >= 0) {
                    return false
                }
                else {
                    return true;
                }
            }
        }

    </script>

    <script>
        var val = CKEDITOR.replace("Description", {
            customConfig: "/js/Config.js"
        });
        var ImageUrl = "";
        $("#ImgBtn").on('click', function () {
            $("#ImageUrl").click();
        });
        $(function () {
            ImageUrl = $("#previewImg").attr("src");
        });
        $("#ImageUrl").change(function () {
            if (!this.files.length) {
                $("#previewImg").attr('src', ImageUrl);
                return;
            }
            //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
            var mimeType = this.files[0]['type'];
            if (mimeType.split('/')[0] !== 'image') {
                $("#previewImg").attr('src', ImageUrl);
                //نمایش هشدار
                $.alert({
                    icon: 'fas fa-exclamation-triangle',
                    title: "هشدار",
                    columnClass: 'medium',
                    rtl: true,
                    draggable: true,
                    theme: 'supervan',
                    content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                    type: 'primary',
                    typeAnimated: true,
                    buttons: {
                        close: {
                            text: 'بستن',
                            btnClass: 'btn-primary',
                            action: function () {
                            }
                        }
                    }
                });
                this.value = null;
                return;
            }
            //چک کردن حجم تصویر
            if (this.files[0].size > 512001) {
                $("#previewImg").attr('src', ImageUrl);
                //نمایش هشدار
                $.alert({
                    icon: 'fas fa-exclamation-triangle',
                    title: "هشدار",
                    columnClass: 'medium',
                    rtl: true,
                    draggable: true,
                    theme: 'supervan',
                    content: 'حداکثر حجم مجاز برای آیکون 500 کیلوبایت می باشد!',
                    type: 'primary',
                    typeAnimated: true,
                    buttons: {
                        close: {
                            text: 'بستن',
                            btnClass: 'btn-primary',
                            action: function () {
                            }
                        }
                    }
                });
                //هشدار
                this.value = null;
                return;
            }

            //نمایش تصویر
            if (this.files && this.files[0]) {

                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        if (height != 600 || width != 600) {
                            //نمایش هشدار
                            $.alert({
                                icon: 'fas fa-exclamation-triangle',
                                title: "هشدار",
                                columnClass: 'medium',
                                rtl: true,
                                draggable: true,
                                theme: 'supervan',
                                content: 'سایز مجاز برای تصویر 600*600 می باشد',
                                type: 'orange',
                                typeAnimated: true,
                                buttons: {
                                    close: {
                                        text: 'بستن',
                                        btnClass: 'btn-warning',
                                        action: function () {
                                        }
                                    }
                                }
                            });
                            //هشدار
                            main.value = null;
                            return;
                        }
                        $("#previewImg").attr('src', e.target.result);
                        reader.readAsDataURL(this.files[0]);
                    }
                }

            }
            else {
                $("#previewImg").attr('src', ImageUrl);
            }
        });
    </script>

    <script>
        $("#categoryForm").on('submit', function (e) {
            e.preventDefault();
            $("#Description").val(val.getData());
            $("#Publish").val($("#Publish").prop('checked'));
            $("#SpecialProduct").val($("#SpecialProduct").prop('checked'));
            $("#NewProduct").val($("#NewProduct").prop('checked'));
            if (!$("#categoryForm").valid()) {
                return;
              }
            var properties = JSON.stringify($('#PropertyGrid').data("kendoGrid").dataSource.data());
            var propertyItems = jQuery.parseJSON(properties);
            var traits = JSON.stringify($('#TraitGrid').data("kendoGrid").dataSource.data());
            var traitItems = jQuery.parseJSON(traits);
            var similars = JSON.stringify($('#SimilarGrid').data("kendoGrid").dataSource.data());
            var similarItems = jQuery.parseJSON(similars);
            var form = $("#categoryForm")[0];
            var formData = new FormData(form);

            $.each(propertyItems, function (index, val) {
                formData.append("Properties[" + index + "].Id", val.Id);
                formData.append("Properties[" + index + "].ProductId", val.ProductId);
                formData.append("Properties[" + index + "].PropertyId", val.PropertyId);
                formData.append("Properties[" + index + "].CategoryId", val.CategoryId);
                formData.append("Properties[" + index + "].Value", val.Value);
                formData.append("Properties[" + index + "].Order", val.Order);
                formData.append("Properties[" + index + "].Visible", val.Visible);
                formData.append("Properties[" + index + "].CategoryName", val.CategoryName);
                formData.append("Properties[" + index + "].PropertyName", val.PropertyName);
            });

            $.each(traitItems, function (index, val) {
                formData.append("Traits[" + index + "].Id", val.Id);
                formData.append("Traits[" + index + "].ProductId", val.ProductId);
                formData.append("Traits[" + index + "].ColorTriatId", val.ColorTriatId);
                formData.append("Traits[" + index + "].WarrantyTriatId", val.WarrantyTriatId);
                formData.append("Traits[" + index + "].WarrantyDate", val.WarrantyDate);
                formData.append("Traits[" + index + "].TraitInventory", val.TraitInventory);
                formData.append("Traits[" + index + "].PriceIncrease", val.PriceIncrease);
                formData.append("Traits[" + index + "].ColorTriatName", val.ColorTriatName);
                formData.append("Traits[" + index + "].WarrantyTriatName", val.WarrantyTriatName);
                formData.append("Traits[" + index + "].IsActive", val.IsActive);
                formData.append("Traits[" + index + "].MinimumCart", val.MinimumCart);
                formData.append("Traits[" + index + "].MaximumCart", val.MaximumCart);
                formData.append("Traits[" + index + "].BarCode", val.BarCode);
            });

            $.each(similarItems, function (index, val) {
                formData.append("Similars[" + index + "].Id", val.Id);
                formData.append("Similars[" + index + "].SimilarProductId", val.SimilarProductId);
                formData.append("Similars[" + index + "].SimilarProductName", val.SimilarProductName);
               });

            if (@Model.Id> 0) {
                $.ajax({
                    url: "/api/Product/Edit",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    xhr: function () {
                        //upload Progress
                        var xhr = $.ajaxSettings.xhr();
                        if (xhr.upload) {
                            xhr.upload.addEventListener('progress', function (event) {
                                var percent = 0;
                                var position = event.loaded || event.position;
                                var total = event.total;
                                if (event.lengthComputable) {
                                    percent = Math.ceil(position / total * 100);
                                }
                                $("#block").html("لطفا صبر نمایید " + percent + "%");
                            }, true);
                        }
                        return xhr;
                    },
                    mimeType: "multipart/form-data"
                }).done(function (result) {
                    result = $.parseJSON(result);
                    if (result.Success) {
                        window.location.href = '/Admin/Product';
                    }
                    else {
                         nikan.notify("error", "خطا", result.Message);
                    }
                });
            }
            else {
                   $.ajax({
                url: "/api/Product/Create",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                xhr: function () {
                    //upload Progress
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress', function (event) {
                            var percent = 0;
                            var position = event.loaded || event.position;
                            var total = event.total;
                            if (event.lengthComputable) {
                                percent = Math.ceil(position / total * 100);
                            }
                            $("#block").html("لطفا صبر نمایید " + percent + "%");
                        }, true);
                    }
                    return xhr;
                },
                mimeType: "multipart/form-data"
                   }).done(function (result) {
                result = $.parseJSON(result);
                if (result.Success) {
                    window.location.href = '/Admin/Product';
                }
                else {
                     nikan.notify("error", "خطا", result.Message);
                }
            });
            }

  });

        $("#PropertCategoryId").on("change", function () {
        var catId = $(this).val();
        $("#PropertyId").prop("disabled", true);
        $("#PropertyId").empty();
        $("#PropertyId").append("<option value='' >انتخاب نمایید</option>");
          if (catId != '' && catId>0) {

            $.ajax({
                url: '/api/Property/GetPropertyInCategory/' + catId,
                method: 'Get'
            }).done(function (result) {
                if (result.Success) {
                    $.each(result.Data, function (index, val) {
                        var tag = "<option value=" + val.Id + ">" + val.Name + "</option>";
                        $("#PropertyId").append(tag);
                        $("#PropertyId").prop("disabled", false);
                    });
                }
            });

        }
        else {
         $("#PropertyId").prop("disabled", true);
        $("#PropertyId").empty();
        $("#PropertyId").append("<option value='' >انتخاب نمایید</option>");
        }
        });

        $("#CatId").on("change", function () {
               var catId = $(this).val();
               $("#SimilarProductId").prop("disabled", true);
               $("#SimilarProductId").empty();
               $("#SimilarProductId").append("<option value='' >انتخاب نمایید</option>");
                 if (catId != '' && catId>0) {

                             $.ajax({
                                 url: '/api/Product/GetProductsInCategory/' + catId,
                                 method: 'Get'
                             }).done(function (result) {
                                 if (result.Success) {
                                     $.each(result.Data, function (index, val) {
                                         var tag = "<option value=" + val.Id + ">" + val.Name + "</option>";
                                         $("#SimilarProductId").append(tag);
                                         $("#SimilarProductId").prop("disabled", false);
                                     });
                                 }
                             });

            }
               else {
                      $("#SimilarProductId").prop("disabled", true);
                      $("#SimilarProductId").empty();
                      $("#SimilarProductId").append("<option value='' >انتخاب نمایید</option>");
                }
          });

        function AddProperty() {
            var catId = $('#PropertCategoryId').val();
            if (catId == '' || catId == 0) {
                return;
            }
             var catName = $("#PropertCategoryId option:selected").html();

             var propertyId = $('#PropertyId').val();
             if (propertyId == '' || propertyId == 0) {
                return;
              }
            var propertyName = $("#PropertyId option:selected").html();

            var value = $('#Value').val();
            if (value == '') {
                return;
            }
            var order=$('#Order').val();

                 var grid = $("#PropertyGrid").data("kendoGrid");
                 var datasource = grid.dataSource;
                 var codeExist = datasource.data().some(
                     function (dataItem) {
                     return (dataItem.PropertyId == propertyId && dataItem.CategoryId == catId);
                 });
                 if (codeExist) {
                     nikan.notify("error", "پیام", "ویژگی تکراری است");
                      return;
            }

            $('#Value').val(null);
            $('#Order').val(0);
            $('#PropertCategoryId').val(null);
            $('#PropertyId').val(null);
            $("#PropertyId").prop("disabled", true);
            $("#PropertyId").empty();
            $("#PropertyId").append("<option value='' >انتخاب نمایید</option>");
            datasource.insert(0, {
                Id: 0, ProductId:0, PropertyId: propertyId, CategoryId: catId, Value: value, Order: order,
                CategoryName: catName, PropertyName: propertyName,Visible:$("#Show").prop('checked')
            });
            $("#Show").prop("checked", true);
        }

        function AddTrait() {
            var colorTriatId = $('#ColorTriatId').val();
            //if (colorTriatId == '' || colorTriatId == 0) {
            //    return;
            //}
            var colorTriatName = $("#ColorTriatId option:selected").html();
             if (colorTriatId == '' || colorTriatId == 0) {
                colorTriatName="";
            }
            var warrantyTriatId = $('#WarrantyTriatId').val();
            if ((warrantyTriatId == '' || warrantyTriatId == 0)&&(colorTriatId == '' || colorTriatId == 0)) {
                return;
              }
            var warrantyTriatName = $("#WarrantyTriatId option:selected").html();
            if (warrantyTriatId == '' || warrantyTriatId == 0) {
                warrantyTriatName="";
              }
            var warrantyDate = $('#WarrantyDate').val();
            //if (warrantyDate == '' || warrantyDate == 0) {
            //    return;
            //}

            var barCode=$('#BarC').val()

            var traitInventory = $('#TraitInventory').val();
            var priceIncrease = $('#PriceIncrease').val();

            var grid = $("#TraitGrid").data("kendoGrid");
                 var datasource = grid.dataSource;
                 var codeExist = datasource.data().some(
                     function (dataItem) {
                         return (dataItem.ColorTriatId == colorTriatId && dataItem.WarrantyTriatId == warrantyTriatId);
                 });
                 if (codeExist) {
                     nikan.notify("error", "پیام", "مشخصه تکراری است");
                      return;
                  }

              if (barCode != '') {
                   var barCodeExist = datasource.data().some(
                     function (dataItem) {
                         return (dataItem.BarCode == barCode);
                 });
                 if (barCodeExist) {
                     nikan.notify("error", "پیام", "بارکد تکراری است");
                      return;
                  }
               }


            datasource.insert(0, {
                Id: 0, ProductId: 0, ColorTriatId: colorTriatId, WarrantyTriatId: warrantyTriatId, WarrantyDate: warrantyDate,BarCode: barCode,
                TraitInventory: traitInventory, PriceIncrease: priceIncrease, MinimumCart: $("#MinCart").val(), MaximumCart: $("#MaxCart").val(),
                ColorTriatName: colorTriatName, WarrantyTriatName: warrantyTriatName,IsActive:$("#Active").prop('checked')
            });
        }

        function AddSimilar() {
            var catId = $('#CatId').val();
            if (catId == '' || catId == 0) {
                return;
            }
             var catName = $("#CatId option:selected").html();

             var similarProductId = $('#SimilarProductId').val();
             if (similarProductId == '' || similarProductId == 0) {
                return;
              }
            var similarProductName = $("#SimilarProductId option:selected").html();


                 var grid = $("#SimilarGrid").data("kendoGrid");
                 var datasource = grid.dataSource;
                 var codeExist = datasource.data().some(
                     function (dataItem) {
                     return (dataItem.SimilarProductId == similarProductId);
                 });
                 if (codeExist) {
                     nikan.notify("error", "پیام", "محصول تکراری است");
                      return;
                 }
               datasource.insert(0, {
                Id: 0, SimilarProductId:similarProductId, SimilarProductName: similarProductName
               });
        }

        $(function () {

               $("#BarC").keypress(function (e) {
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        return false;
                    }
              });

               $("#BarCode").keypress(function (e) {
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        return false;
                    }
               });
                $("#EnglishName").keypress(function(event){
                       var ew = event.which;
                       if(ew == 32)
                           return true;
                       if(48 <= ew && ew <= 57)
                           return true;
                       if(65 <= ew && ew <= 90)
                           return true;
                       if(97 <= ew && ew <= 122)
                           return true;
                       return false;
                   });

               if (@Model.Id>0)
               {
                  traitsIds=@Html.Raw(JsonConvert.SerializeObject(ViewBag.TraitIds as List<long>));
                 var grid = $("#PropertyGrid").data("kendoGrid");
                  var datasource = grid.dataSource;
                  var items =  @(Html.Raw(JsonConvert.SerializeObject(ViewBag.Properties as List<ProductPropertyModel>)));
                         $.each(items, function (index, item) {
                             datasource.insert(0, {
                                 Id: item.Id, ProductId: item.ProductId, PropertyId: item.PropertyId, CategoryId: item.CategoryId, Value: item.Value, Order: item.Order,
                                 CategoryName: item.CategoryName, PropertyName: item.PropertyName, Visible: item.Visible
                   });
                      datasource.sync();
                  });

                   datasource.sync();


                   var traidGrid = $("#TraitGrid").data("kendoGrid");
                   var datasourceTraid = traidGrid.dataSource;
                   var traidItems =  @(Html.Raw(JsonConvert.SerializeObject(ViewBag.Traits as List<ProductTraitModel>)));
                   console.log(traidItems);
                   $.each(traidItems, function (index, item) {
                       if (item.ColorTriatId == null) {
                           item.ColorTriatId = "";
                       }
                       if (item.WarrantyTriatId == null) {
                           item.WarrantyTriatId = "";
                       }
                       datasourceTraid.insert(0, {
                           Id: item.Id, ProductId: item.ProductId, ColorTriatId: item.ColorTriatId, WarrantyTriatId: item.WarrantyTriatId, WarrantyDate: item.WarrantyDate,
                           TraitInventory: item.TraitInventory, PriceIncrease: item.PriceIncrease,MinimumCart:item.MinimumCart,MaximumCart:item.MaximumCart,BarCode:item.BarCode,
                           ColorTriatName: item.ColorTriatName, WarrantyTriatName: item.WarrantyTriatName,IsActive:item.IsActive
                   });
                       datasourceTraid.sync();
                  });

                   datasourceTraid.sync();


                     var gridSimilar = $("#SimilarGrid").data("kendoGrid");
                  var datasourceSimilar = gridSimilar.dataSource;
                  var simiarItems =  @(Html.Raw(JsonConvert.SerializeObject(ViewBag.Similars as List<SimilarProductModel>)));
                         $.each(simiarItems, function (index, item) {
                             datasourceSimilar.insert(0, {
                                Id: 0, SimilarProductId:item.SimilarProductId, SimilarProductName: item.SimilarProductName
                   });
                             datasourceSimilar.sync();
                  });

                   datasourceSimilar.sync();
              }
        });
    </script>

}









