﻿@model Shop.Services.Dto.Product.GroupAllocationPropertyModel
@{
    ViewData["Title"] = "تخصیص گروهی ویژگی";
}
<div class="container-fluid">
    <form id="categoryForm" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(m => m.Id)

        <div class="row mt-3">

            <div class="row col-12">
                <div class="col-2 form-group">
                    <label class="control-label">دسته محصول:</label>
                    <select id="ProductCategoryId" name="ProductCategoryId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Cats)">
                        <option value="">انتخاب نمایید</option>
                    </select>
                </div>
                <div class="col-2 form-group">
                    <label class="control-label">دسته ویژگی:</label>
                    <select id="PropertyCategoryId" name="PropertyCategoryId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Categories)">
                        <option value="">انتخاب نمایید</option>
                    </select>
                </div>
                <div class="col-3 form-group">
                    <label class="label">انتخاب ویژگی:</label>
                    <select id="PropertyId" name="PropertyId" class="form-control" disabled>
                        <option value="">انتخاب نمایید</option>
                    </select>
                </div>
                <div class="col-3 form-group">
                    <label class="label">مقدار ویژگی:</label>
                    <input id="Value" name="Value" class="form-control" />
                </div>
                <div class="col-2 form-group">
                    <label class="label">اولویت:</label>
                    <input type="number" min="0" id="Order" name="Order" value="0" class="form-control" />
                </div>

                <div class="col-4 form-group">
                    <div class="row col-12 pt-4">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="Show" name="Show" checked class="custom-control-input">
                                <label class="custom-control-label" for="Show">نمایش</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <a onclick="AddGroup()" class="btn btn-sm btn-primary">+ افزودن</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 p-0 m-0">
                <div class="k-rtl" style="overflow-y:auto;">
                    @(
                         Html.Kendo().Grid<Shop.Services.Dto.Product.GroupPropertyModel>()
                        .Name("PropertyGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.ProductCategoryName).Title("دسته محصول").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                            columns.Bound(p => p.PropertyCategoryName).Title("دسته ویژگی").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                            columns.Bound(p => p.PropertyName).Title("ویژگی").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                            columns.Bound(p => p.Value).Title("مقدار").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                            columns.Bound(p => p.Order).Title("اولویت").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(true);
                            columns.Bound(p => p.Visible)
                                   .ClientTemplate("#if(Visible){#<span><i style='font-size:15px;' class='fas fa-check-circle text-success'></i></span>#} else {#  <span><i style='font-size:15px;' class='fas fa-times text-danger'></i></span> #}#")
                                   .Title("نمایش").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(false).Sortable(false);
                            columns.Command(command => { command.Destroy().Text("حذف").HtmlAttributes(new { @class = "btn btn-sm btn-danger" }); }).Title("عملیات").Width(100);

                        })
                        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                        .Scrollable(scrollable => scrollable.Height("auto"))
                        .Resizable(resize => resize.Columns(false))
                        .Reorderable(reorder => reorder.Columns(true))
                        .HtmlAttributes(new { style = "min-height: 100px;" })
                        .Navigatable()
                        .Editable(editable => editable
                        .Mode(GridEditMode.InCell)
                        .DisplayDeleteConfirmation(true)
                        .DisplayDeleteConfirmation("آیا از حذف این دسته مطمئن هستید؟")
                        )
                        .DataSource
                        (dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Sort(sort => sort.Add(m => m.Order).Ascending())
                        .Model(model =>
                        {
                            model.Id(p => p.Order);
                            model.Field(p => p.ProductCategoryName).Editable(false);
                            model.Field(p => p.PropertyCategoryName).Editable(false);
                            model.Field(p => p.PropertyName).Editable(false);
                        })
                             )
                    )

                </div>
            </div>

        </div>

        <div class="row col-12 justify-content-center mt-2">
            <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
            <a href="/admin/product" class="k-button mx-2"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</a>
        </div>
    </form>
</div>

@section Scripts{

    <script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/ckeditor/ckeditor.js"></script>


    <script>
        $("#categoryForm").on('submit', function (e) {
            e.preventDefault();
            if (!$("#categoryForm").valid()) {
                return;
              }
            var properties = JSON.stringify($('#PropertyGrid').data("kendoGrid").dataSource.data());
            var propertyItems = jQuery.parseJSON(properties);
            var form = $("#categoryForm")[0];
            var formData = new FormData(form);

            $.each(propertyItems, function (index, val) {
                formData.append("GroupProperties[" + index + "].Id", val.Id);
                formData.append("GroupProperties[" + index + "].PropertyCategoryId", val.PropertyCategoryId);
                formData.append("GroupProperties[" + index + "].PropertyId", val.PropertyId);
                formData.append("GroupProperties[" + index + "].ProductCategoryId", val.ProductCategoryId);
                formData.append("GroupProperties[" + index + "].Value", val.Value);
                formData.append("GroupProperties[" + index + "].Order", val.Order);
                formData.append("GroupProperties[" + index + "].Visible", val.Visible);
                formData.append("GroupProperties[" + index + "].PropertyCategoryName", val.PropertyCategoryName);
                formData.append("GroupProperties[" + index + "].PropertyName", val.PropertyName);
                formData.append("GroupProperties[" + index + "].ProductCategoryName", val.ProductCategoryName);
            });

           
       $.ajax({
                url: "/api/Product/GroupAllocationProperty",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                mimeType: "multipart/form-data"
                   }).done(function (result) {
                result = $.parseJSON(result);
                if (result.Success) {
                    window.location.href = '/Admin/Product';
                }
                else {
                     nikan.notify("error", "خطا", result.Message);
                }
            });
            

     });

        $("#PropertyCategoryId").on("change", function () {
        var catId = $(this).val();
        $("#PropertyId").prop("disabled", true);
        $("#PropertyId").empty();
        $("#PropertyId").append("<option value='' >انتخاب نمایید</option>");
          if (catId != '' && catId>0) {

            $.ajax({
                url: '/api/Property/GetPropertyInCategory/' + catId,
                method: 'Get'
            }).done(function (result) {
                if (result.Success) {
                    $.each(result.Data, function (index, val) {
                        var tag = "<option value=" + val.Id + ">" + val.Name + "</option>";
                        $("#PropertyId").append(tag);
                        $("#PropertyId").prop("disabled", false);
                    });
                }
            });

        }
        else {
         $("#PropertyId").prop("disabled", true);
        $("#PropertyId").empty();
        $("#PropertyId").append("<option value='' >انتخاب نمایید</option>");
        }
        });
    
        function AddGroup() {
            var catId = $('#ProductCategoryId').val();
            if (catId == '' || catId == 0) {
                return;
            }
            var catName = $("#ProductCategoryId option:selected").html();

            var propertyCategoryId = $('#PropertyCategoryId').val();
            if (propertyCategoryId == '' || propertyCategoryId == 0) {
                return;
            }
            var propertyCategoryName = $("#PropertyCategoryId option:selected").html();

            var propertyId = $('#PropertyId').val();
            if (propertyId == '' || propertyId == 0) {
                return;
            }
            var propertyName = $("#PropertyId option:selected").html();

            var value = $('#Value').val();
            if (value == '') {
                return;
            }
            var order=$('#Order').val();


                 var grid = $("#PropertyGrid").data("kendoGrid");
                 var datasource = grid.dataSource;
                 var codeExist = datasource.data().some(
                     function (dataItem) {
                         return (dataItem.PropertyCategoryId == propertyCategoryId && dataItem.PropertyId == propertyId &&
                             dataItem.ProductCategoryId == catId);
                 });
                 if (codeExist) {
                     nikan.notify("error", "پیام", "دسته تکراری است");
                      return;
                 }
               datasource.insert(0, {
                   Id: 0, PropertyCategoryId: propertyCategoryId, PropertyId: propertyId, ProductCategoryId: catId, Value: value, Order: order,
                   PropertyCategoryName:propertyCategoryName, PropertyName:propertyName, ProductCategoryName:catName,Visible:$("#Show").prop('checked')
               });
        }

    </script>

}









