﻿@{
    ViewData["Title"] = "محصولات";
    var ProductGridName = "ProductGrid";
}
<style>
    div#ProductGrid .k-grid-content {
        max-height: 400px !important;
    }
</style>
<h6 class="text-center">محصولات</h6>
<div class="k-rtl container-fluid p-0" style="overflow-x: auto; overflow-y: auto;">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.Product.ProductIndexModel>()
       .Name(ProductGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= ProductGridIndex=IncrementRowNumber(ProductGridIndex) #").Width(40).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.Name).Width(150).Title("نام");
           columns.Bound(c => c.CategoryName).Width(100).Title("دسته");
           columns.Bound(c => c.BrandName).Width(100).Title("برند");
           columns.Bound(c => c.Price).Format("{0:#,0}").Width(100).Title("قیمت(تومان)");
           columns.Bound(c => c.Inventory).Width(70).Title("موجودی");
           columns.Bound(c => c.DiscountName).Width(100).Title("تخفیف");
           columns.Bound(c => c.InsertDate).Width(100).Title("تاریخ ایجاد");
           columns.Bound(c => c.NikanProductId).Width(110).Title("کد معادل در نیکان");
           columns.Bound(p => p.Publish).Width(90)
            .ClientTemplate("#if(Publish){#<span><i style='font-size:15px;' class='fas fa-check-circle text-success'></i></span>#} else {#  <span><i style='font-size:12px;' class='fas fa-minus text-secondary'></i></span> #}#")
            .Title("انتشار").HeaderHtmlAttributes(new { @class = "text-center" }).Filterable(false).Sortable(false);
           columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='ProductImage(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;تصاویر</a>" +
               "<a class='k-button btn-sm  m-1' href='/admin/product/edit/#= data.Id #'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>" +
               "<a class='k-button btn-sm  m-1' onclick='ProductEq(#= data.Id #)'><span class='k-icon k-i-link-horizontal'></span>&nbsp;معادل سازی</a>" +
               "<a class='k-button btn-sm  m-1' onclick='DeleteProduct(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").Width(380).Sortable(false).HeaderHtmlAttributes(new { @class = "text-right" });
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md' href='/admin/product/create'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
      .HtmlAttributes(new { style = "max-width: 1400px;" })
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Id).Descending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Product", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("ProductGridDataBinding"))
    )

</div>


@section Scripts
    {
    @if (!String.IsNullOrEmpty(ViewBag.Result))
    {
        <script>
            nikan.notify("success", "پیام", '@ViewBag.Result');
        </script>
    }
    <script>


        var ProductGridIndex = 0;

        function ProductGridDataBinding() {
            ProductGridIndex = GridDataBinding('@ProductGridName');
        }

        function InsertProduct() {
           // OpenModal('@Url.Action("Create")', null, WindowNameInLayout, 'افزودن', 'xl');
            window.location.href = '/Admin/Product/Create/';
        }

        function EditProduct(id) {
          //  OpenModal('@Url.Action("Edit")' + '/' + id, null, WindowNameInLayout, 'ویرایش', 'xl');
            window.location.href = '/Admin/Product/Edit/'+ id;
        }

        function ProductEq(id) {
           OpenModal('@Url.Action("CreateEquivalent")' + '/' + id, null, WindowNameInLayout, 'معادل سازی', 'md');
        }

        function ProductImage(id) {
            OpenModal('/Admin/ProductImage/index/'+ id, null, WindowNameInLayout, 'تصاویر', 'lg');
        }

        function DeleteProduct(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف محصول هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Product/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@ProductGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
