﻿@model Shop.Services.Dto.Product.TraitModel


    <form method="post"
          data-ajax-url="/api/Trait/@(Model.Id>0?"Edit":"Create")"
          data-ajax="true"
          data-ajax-success="SavesTraitResult">
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-12 form-group">
                <label class="control-label">نوع:</label>
                <select asp-for="Type" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Types)">
                    <option value="">انتخاب نمایید</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label class="control-label">عنوان:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
            <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
        </div>
    </form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    function SavesTraitResult(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('TraitGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }
</script>










