﻿@{
    ViewData["Title"] = "مشخصه ها";
    var TraitGridName = "TraitGrid";
}
<style>
    div#TraitGrid .k-grid-content {
        max-height: 400px !important;
    }
</style>
<h6 class="text-center">مشخصه ها</h6>
<div class="k-rtl container-fluid p-0 mb-5">

    @(Html.Kendo().Grid<Shop.Services.Dto.Product.TraitModel>()
       .Name(TraitGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= TraitGridIndex=IncrementRowNumber(TraitGridIndex) #").Width(50).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.Title).Title("عنوان");
           columns.ForeignKey(p => p.Type, (IEnumerable<SelectListItem>)ViewBag.Types, "Value", "Text").Title("نوع");
           columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='EditTrait(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>" +
               "<a class='k-button btn-sm  m-1' onclick='DeleteTrait(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").Width(300).HeaderHtmlAttributes(new { @class = "text-right" }).Filterable(false).Sortable(false);
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertTrait()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Filterable()
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Id).Descending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Trait", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("TraitGridDataBinding"))
    )

</div>


@section Scripts
    {
    <script>

        var TraitGridIndex = 0;

        function TraitGridDataBinding() {
            TraitGridIndex = GridDataBinding('@TraitGridName');
        }

        function InsertTrait() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'افزودن','sm');
        }

        function EditTrait(id) {
            OpenModal('/api/Trait/Edit'+'/' + id, null, WindowNameInLayout, 'ویرایش', 'sm');
        }

        function DeleteTrait(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف مشخصه هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Trait/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@TraitGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
