﻿@model List<Shop.Areas.Admin.Models.Category.CategoryModel>
@{
    int i = 0;
 }
@if (Model.Count>0)
{
<ul class="navbar-nav pt-2 mega-menu">
    @foreach (var cat in Model)
    {
    <li class="@((i==0)?"nav-item p-0":"nav-item p-0")">
        <a class="nav-link text-info l2-link" href="/category/@cat.Id/@cat.Title.CleanUrl()"><i class="fas fa-circle text-dark mx-1"></i>@cat.Title</a>
        @await Component.InvokeAsync("CategoryL3", cat.Id)
    </li>
        i++;
    }
    @if (!String.IsNullOrEmpty(ViewBag.ImageUrl))
    {
        <img class="img-fluid rounded" src="@ViewBag.ImageUrl" alt="@ViewBag.CatTitle" title="@ViewBag.CatTitle" />
    }
</ul>

}