﻿@import url(fontiran.css);

html {
    font-family: IRANSans, sans-serif;
    font-weight:normal;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: IRANSans, "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #212529;
    text-align: right;
    direction: rtl;
    background-color: #FFF;
}

a {
  text-decoration: none;
}
ul.app-menu, ul.app-nav, ul.treeview-menu {
    list-style: none;
    padding: 0;
}

@media (min-width: 768px) {
  .app.sidenav-toggled .app-content {
    margin-left: 0;
  }
  .app.sidenav-toggled .app-sidebar {
    left: -230px;
  }
  .app.sidenav-toggled .app-sidebar__overlay {
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .app {
    overflow-x: hidden;
  }
    .app .app-sidebar {
        left: auto;
        right: -230px;
    }
  .app .app-sidebar__overlay {
    visibility: hidden;
  }
  .app.sidenav-toggled .app-content {
    margin-left: 0;
    margin-right:165px;
  }
    .app.sidenav-toggled .app-sidebar {
        left: auto;
        right: 0;
    }
  .app.sidenav-toggled .app-sidebar__overlay {
    visibility: visible;
  }
}

.app-content {
  min-height: calc(100vh - 50px);
  margin-top:50px;
  padding: 5px;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
  .app-content {
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
    .app-content {
        margin-left: 0;
        margin-right: 0px;
        transition: margin-right 0.3s ease;
    }
}

@media (max-width: 480px) {
  .app-content {
    padding: 15px;
  }
}

@media print {
  .app-content {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
}

/*----- Componant: Top Navigation Bar ----- */
.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2A3F54;
    z-index: 1030;
    padding-right: 0px;
    border-bottom: 1px solid #bdbfbf;
}

@media (min-width: 768px) {
    .app-header {
        padding-right: 0;
        padding-left: 30px;
    }
}

@media print {
  .app-header {
    display: none;
  }
}

.app-header__logo {
  color: #fff;
  text-align: center;
  font-family: IRANSans;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
}

@media (min-width: 768px) {
    .app-header__logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: block;
        background-color: #2A3F54;
        width: 119px;
    }
}

.app-header__logo:focus, .app-header__logo:hover {
  text-decoration: none;
  color: #fff;
}

.app-sidebar__toggle {
  padding: 0 15px;
  font-family: fontAwesome;
  color: #fff;
  line-height: 2.4;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
  .app-sidebar__toggle {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
  color: #fff;
  text-decoration: none;
}

.app-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .app-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.app-nav__item {
  display: block;
  padding: 15px;
  line-height: 20px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.app-nav__item:hover, .app-nav__item:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    padding-top: 70px;
    width: 180px;
    overflow: auto;
    z-index: 10;
    background-color: #2A3F54;
    -webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    -o-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
}

.app-sidebar::-webkit-scrollbar {
  width: 6px;
}

.app-sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

@media print {
  .app-sidebar {
    display: none;
  }
}

@media (max-width: 767px) {
  .app-sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
  }
}

.app-sidebar__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    padding-bottom:0px;
    margin-bottom: 5px;
    color: #fff;
    border-bottom: 0px solid #bdbfbf;
}

.app-sidebar__user-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 15px;
    margin-right: 0;
}

.app-sidebar__user-name {
  font-size: 15px;
  line-height: 1.3;
}

.app-sidebar__user-name,
.app-sidebar__user-designation {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-size: 12px;
}

.app-menu {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.app-menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  font-size: 1.08em;
  border-left: 3px solid transparent;
  -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  transition: border-left-color 0.3s ease, background-color 0.3s ease;
  color: #fff!important;
}

    .app-menu__item:hover {
        background: #0d12145c;
        border-left-color: #1ABB9C;
        border-left-width: 5px;
        text-decoration: none;
        color: #fff;
    }
   
.app-menu__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25px;
  font-size:16px;
}

.app-menu__label {
  white-space: nowrap;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3 0.3 auto;
          flex: 0.3 0.3 auto;
}

.treeview.is-expanded [data-toggle='treeview'] {
    border-left-color: #009688;
    background: #0d12145c;
}

.treeview.is-expanded .treeview-menu {
  max-height: 100vh;
}

.treeview.is-expanded .treeview-indicator {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #009688;
}

.treeview-menu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in;
    -o-transition: max-height 0.3s ease-in;
    transition: max-height 0.3s ease-in;
    background-color: #6884a5;
}

.treeview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px 5px 20px;
  font-size: 1em;
  color: #fff;
  height:50px;
}

    .treeview-item.active, .treeview-item:hover, .treeview-item:focus {
        background: #0d12145c!important;
        text-decoration: none;
        color: #fff;
    }

.treeview-item .icon {
  margin-right: 5px;
}

.treeview-indicator {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (min-width: 768px) {
  .sidebar-mini.sidenav-toggled .app-sidebar__user-name,
  .sidebar-mini.sidenav-toggled .app-sidebar__user-designation,
  .sidebar-mini.sidenav-toggled .treeview-indicator {
    display: none;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
    width: 30px;
    height: 30px;
  }
    .sidebar-mini.sidenav-toggled .app-content {
        margin-left: 0;
        margin-right: 50px;
    }
  .sidebar-mini.sidenav-toggled .app-sidebar {
    left: 0;
    width: 65px;
    overflow: hidden;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar:hover {
    overflow: visible;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item {
    overflow: hidden;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item:hover {
    overflow: visible;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item:hover .app-menu__label {
    opacity: 1;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item:hover + .treeview-menu {
    visibility: visible;
  }
    .sidebar-mini.sidenav-toggled .app-menu__label {
        display: block;
        position: absolute;
        top: 3px;
        left: auto;
        right: 65px;
        min-width: 180px;
        padding: 12px 5px 12px 20px;
        margin-left: -3px;
        line-height: 1;
        opacity: 0;
        background: #4a90e2d9;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .sidebar-mini.sidenav-toggled .treeview:hover .app-menu__item {
        overflow: visible;
        background: #0d12145c;
        border-left-color: #009688;
        color: #fff;
    }
  .sidebar-mini.sidenav-toggled .treeview:hover .app-menu__label {
    opacity: 1;
  }
  .sidebar-mini.sidenav-toggled .treeview:hover .treeview-menu {
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
    .sidebar-mini.sidenav-toggled .treeview .app-menu__label {
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .sidebar-mini.sidenav-toggled .treeview-menu {
        position: absolute;
        left: auto;
        right: 65px;
        min-width: 180px;
        padding: 12px 0;
        opacity: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
        z-index: 9;
        visibility: hidden;
        -webkit-transition: visibility 0.5s ease;
        -o-transition: visibility 0.5s ease;
        transition: visibility 0.5s ease;
    }
}

.dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu.dropdown-menu-right {
  right: auto;
  left: 0;
  width:150px;
}

.dropdown-item .fa,
.dropdown-item .icon {
  margin-right: 5px;
  vertical-align: middle;
}

    .treeview-item .icon {
        margin-right: 0;
        margin-left: 5px;
    }

.app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FFF;
  margin: -30px -30px 30px;
  padding: 20px 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media print {
  .app-title {
    display: none;
  }
}

@media (max-width: 480px) {
  .app-title {
    margin: -15px -15px 15px;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .app-title p {
    display: none;
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
span.nikan-val-msg {
    position: relative;
    bottom: 0px;
    font-size: 12px;
}

.input-group-text {
    width: 140px;
}

a.k-button {
    font-size: 13px !important;
    font-weight: normal;
}
a.k-link {
    font-size: 10px !important;
    font-weight: normal;
}

th, .k-label, a.dropdown-item {
    font-size: 12px !important;
    font-weight: normal;
}
li a.dropdown-item {
    font-size: 13px !important;
}
button .dropdown-item {
    font-size: 12px !important;
    font-weight: 300 !important;
}
li a.dropdown-item:hover {
color:black !important;
}

td {
    font-size: 12px !important;
    font-weight:normal;
}

.input-group-text {
    font-size: 14px !important;
    font-weight: normal;
}

.bg-dark {
    background-color: #4a90e2 !important;
}

a.dropdown-item:hover {
    color: white !important;
}

.k-rtl .k-multiselect-wrap li {
    width: 135px !important;
}

.k-rtl .k-multiselect-wrap .k-select {
    top: 2px;
}

#footer {
    width: 100%;
    position: absolute;
    list-style:none;
    bottom:0px;
    z-index: -10;
   
}
    #footer:hover {
        background-color: none !important;
    }
    #footer a {
        cursor: default !important;
    }
        #footer a:hover, #footer a:active, #footer a:focus {
            background: none !important ;
            border: none !important;
        }

        .k-pager-wrap .k-pager-numbers .k-state-selected {
            margin-top: -.15em !important;
            padding-top: .15em !important;
        }

.dropdown-menu {
    min-width: 100% !important;
}
a {
    text-decoration: none!important;
    cursor: pointer;
}
.app-sidebar__toggle {
    background-color: #2A3F54;
}

.dashbord .card {
    height: 200px;
    transition:all 0.2s ease-out;
}

    .dashbord .card span.k-icon {
        font-size: 50px;
    }

.dashbord a, .dashbord p {
    text-decoration: none;
    transition: all 0.1s ease-out;
}

.dashbord .card:hover i {
    color: #4a90e2 !important;
}

.dashbord .card:hover a, .dashbord .card:hover p {
    color: black !important;
    font-weight: bold !important;
    font-size:16px!important;
}

.dashbord .card:hover {
    cursor: pointer;
    border-color: #115eb9;
    border-width:2px;
}

.app-menu a, .app-menu span{
    font-weight:lighter;
    font-size:13px;
}

@media screen and (max-width:768px){
    .logo{
        padding-left:10px;
    }
}
@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1200px!important;
    }
}

.treeview-menu li{
    padding-top:0px;
    padding-bottom:5px;
}


#ChangePassForm input {
    height: 37px !important;
}

.modal-header {
    direction: initial;
}

    .modal-header .close {
        padding: 0;
        margin: 0;
    }
.form-control{
    height:30px;
    padding:1px;
}
/*select.form-control {
    height: 20px;
}*/
.score-select{
    height:17px !important;
}
.control-label{
    font-size:12px;
}
.k-button {
    font-size: 12px;
}
Select {
    font-size: 12px !important;
}
.label {
    font-size: 12px;
}
.field-validation-error {
    font-size: 11px;
}
.k-picker-wrap {
    font-size: 13px;
}
.k-input {
    font-size: 13px !important;
}
.copyright {
    height: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2a3f54;
    z-index: 100;
}

    .copyright p {
        text-align: left;
        color: #FFF;
        padding: 5px 0;
        margin-bottom: 0;
    }

.k-state-selected, .k-state-selected:link {
    background-color: #ded8d8;
}
.k-state-focused.k-state-selected {
    box-shadow: inset 0 0 3px 1px #d2cccc;
}
.k-panelbar > .k-item > .k-link {
    padding-right: 30px;
}
.modal-title {
    font-size: 14px;
    font-weight: 500;
}
.modal-header .close {
    font-size:17px;
}
div.dashbord .card i{
    font-size:55px;
}
#articleImage{
    position:relative;
    right:50px;
    bottom:40px;
}


.jstree-default .jstree-anchor {
    font-size: 15px;
}

a#btnCat {
    position: absolute;
    left: 16px;
    top: 27px;
    z-index: 99999999999;
    height: 30px;
}

.custom-control-label {
    padding-right: 20px;
    padding-top: 2px;
}
.nikan-setting input{
    font-size:14px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #799def;
}
input.socialLink{
    direction:ltr;
    font-size:12px;
}