﻿body {
    background-color: #f7f7f7;
}

#topHeader {
    background-color: #ffffff;
    min-height: 70px;
    padding-top: 17px;
    padding-bottom: 15px;
}

#navbar-Menu {
    background-color: #fbfbfb;
}

div#navbarSupportedContent {
    background-color: #fbfbfb;
}

.bg-light {
    background-color: #fbfbfb !important;
}

.navbar-collapse > .navbar-nav > li.menu-link > .nav-link {
    line-height: 50px;
}

.contact-form button {
    background-color: #89d48b;
}

.prdTitleColore {
    color: #3d8c6f;
}

#footer {
    width: 100%;
    height: 420px;
    background-color: #4d83a7;
    color: white;
}

.middle-footer:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 75%;
    right: 383px;
    top: 7%;
    background-color: #6b6b6b;
}

#main-section {
    margin-top: 50px;
}

.carusel-arrow i {
    color: #1b613a;
}

.carusel-arrow:hover {
    background: #247d4c;
}

.site-logo {
    margin-top: 150px !important;
}

.main-alert {
    background-color: orangered !important;
    border-color: orangered !important;
    color: white !important;
}

#topHeader a.btn-login {
    border: 1px solid #e0e0e2;
    background-color: white;
    color: black;
    padding: 8px;
    height: 44px;
    font-size: .857rem;
}

    #topHeader a.btn-login span {
        position: relative;
        bottom: 4px;
    }

    #topHeader a.btn-login i {
        font-size: 22px;
        color: #616161;
    }

input.main-search {
    height: 45px;
    background-color: #f3f3f3;
}

a.main-logo {
    position: relative;
    top: 0px;
}

a#shopCartItem:before {
    content: "";
    display: block;
    height: 24px;
    background: #e0e0e2;
    position: absolute;
    right: 0;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

a#shopCartItem i {
    position: relative;
    right: 20px;
    top: 9px;
    color: #424750;
}

#shopCartItem span.badge {
    position: relative;
    bottom: 17px;
    left: 0;
    right: 17px;
}

.menu-link:hover > a {
    color: red !important;
    border-bottom-color: red;
}

.menu-link:hover {
    border-bottom: 1px solid red;
}

.menu-link a i {
    color: #a1a3a8;
    font-size: 13px;
}

.footer-icon i {
    font-size: 55px;
}

.footer-icon p {
    font-size: 15px !important;
}

.footer-info ul {
    list-style: none;
    padding-top: 10px;
}

.footer-info i {
    font-size: 30px;
}

p.copy-right, p.copy-right a {
    font-size: 15px !important;
    color: #f3ede7;
}
