﻿@font-face {
    font-family: 'BNazanin';
    font-style: normal;
    font-weight: 100;
    src: url("fonts/BNAZANIN.TTF");
}

@font-face {
    font-family: 'BYekan';
    font-style: normal;
    font-weight: 900;
    src: url("fonts/BYEKAN.TTF");
}

body {
    font-family: BYekan;
    font-size: 10pt;
    /*background-color: whitesmoke;*/
}


.validation-summary-errors ul li {
    color: #c80000;
    font-size: 12px;
}


.center {
    margin-top: 15%;
}

.panel-title {
    font-weight: bold;
    text-align: center;
}

.left-margin {
    margin-left: 25px;
}

.loginBtn {
    margin-top: 10px;
    display: block;
    float: left;
    margin-left: 20px;
    font-weight: bold;
}
