﻿body {
    background-color: #f5f5f5;
}

#topHeader {
    background-color: white;
    min-height: 70px;
    padding-top: 17px;
    padding-bottom: 15px;
}

    #topHeader .fix-left {
        padding-top: 9px;
    }

    #topHeader a.btn-login {
        border: 1px solid #a186be;
        background-color: white;
        color: black;
        padding: 8px;
        height: 35px;
        font-size: 13px;
    }

        #topHeader a.btn-login span {
            position: relative;
            bottom: 4px;
        }

        #topHeader a.btn-login i {
            font-size: 16px;
            color: #540d6f;
        }

@media screen and (max-width:768px) {
    #topHeader .fix-left {
        padding-top: 9px;
        bottom: 5px;
        position: absolute;
        right: 50%;
    }
}
@media screen and (max-width:550px) {
    #topHeader .fix-left {
        right: 29%;
    }
}

@media screen and (max-width:382px) {
    a.btn-login span.btn-login-title {
        display: none;
    }
}

.site-logo {
    margin-top: 10px !important;
}


@media screen and (max-width:992px) {
    .animated-icon {
        /*margin-top: 10px;
        margin-bottom: 10px;*/
        position: fixed;
        top: 25px;
        left: 11px;
    }

    .site-logo {
        margin-top: 200px !important;
    }
}

@media screen and (max-width:768px) {
    #topHeader {
        padding-top: 0px;
    }

    .starland-landing img {
        margin-top: 125px;
    }

    .site-logo {
        margin-top: 300px !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
.menu-l3 .nav-item a.nav-link {
    color: #b1b1b1;
}

.navbar-light .navbar-nav li:not(:first-child):not(:last-child) {
    /*border-left:1px solid white;*/
}

.fix-menu a {
    font-size: 14px;
}

#navbar-Menu {
    background-color: #540d6f;
}

div#navbarSupportedContent {
    background-color: #540d6f;
}

.bg-light {
    background-color: #540d6f !important;
}

.navbar-collapse > .navbar-nav > li.menu-link > .nav-link {
    line-height: 45px;
}
@media screen and (min-width: 1200px){
    .contact-us-section .container {
        max-width: 97% !important;
    }
}
.contact-us-section .form-control {
    font-size:13px;
}
.contact-us-section input::-webkit-input-placeholder, .contact-us-section textarea::-webkit-input-placeholder {
    font-size: 13px;
}
.contact-us-section input:-ms-input-placeholder, .contact-us-section textarea:-ms-input-placeholder {
    font-size: 13px;
}
.contact-us-section input::placeholder, .contact-us-section textarea::placeholder {
    font-size: 13px;
}
.contact-form button {
    background-color: #540d6f;
    color: white;
    height: 50px;
    border-color: #540d6f
}
    .contact-form button:hover {
        background-color: #540d6f;
        border-color: #540d6f;
    }

.prdTitleColore {
    color: #3d8c6f;
}

#footer {
    width: 100%;
    /*height: 270px;*/
    background-color: #540d6f;
    color: white;
}

.middle-footer:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 75%;
    right: 383px;
    top: 7%;
    background-color: #6b6b6b;
}

#main-section {
    margin-top: 137px;
}

.carusel-arrow {
    background: #a186be;
}

    .carusel-arrow i {
        color: #ffff;
    }

    .carusel-arrow:hover {
        background: #cbb952;
    }

.text-neshat {
    color: #a186be;
}

.main-alert {
    background-color: #a186be !important;
    border-color: #a186be !important;
    color: white !important;
    /*background-image: linear-gradient(to bottom right, #d3c3e4, #540d6f);
    border: none;*/
    font-size: 12px;
}
ul.nav-tabs li a {
    color: #6d6060;
}
/*ul.firstlevel > li:not(:first-child){
    border-right:1px solid #ddd;
}*/

#topHeader .btn-search {
    /*border: 1px solid #a186be !important;
    background-color: #cbb952;
    border-color: #cbb952;*/
    background: url('../images/NeshatIcon/search.svg') 50% no-repeat;
    background-size: 60px auto;
    width: 40px;
    border: 0;
}


input.main-search {
    height: 45px;
    border: 1px solid #a186be;
    background-color: white;
}

    input.main-search::placeholder {
        color: #540d6f;
        opacity: 1;
    }

    input.main-search:-ms-input-placeholder {
        color: #540d6f;
    }

    input.main-search::-ms-input-placeholder {
        color: #540d6f;
    }

    input.main-search:focus, select#ProductTraitId:focus {
        border-color: #a186be;
        box-shadow: 0 0 0 0.2rem rgb(216 194 241);
    }


a.main-logo {
    position: relative;
    top: 13px;
}

@media screen and (max-width:986px) {
    a.main-logo {
        top: -5px;
        right: 15px;
        position: absolute;
    }
}

a#shopCartItem:before {
    content: "";
    display: block;
    height: 24px;
    background: #a186be;
    position: absolute;
    left: 45px;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
#carousel a.carousel-control-prev span.carusel-arrow {
    background: url('../images/NeshatIcon/prevSlide.svg') 50% no-repeat;
    background-size: 60px auto;
}
#carousel a.carousel-control-next span.carusel-arrow {
    background: url('../images/NeshatIcon/nextSlide.svg') 50% no-repeat;
    background-size: 60px auto;
}

a#shopCartItem i {
    position: relative;
    right: 20px;
    top: 5px;
    color: #cbb952;
}

.badge-nehat {
    color: #fff;
    background-color: #540d6f;
}

#shopCartItem {
    background: url('../images/NeshatIcon/shopCart.svg') 50% no-repeat;
    background-size: 60px auto;
    width: 41px;
    height: 41px;
    bottom:2px;
}

#shopCartItem span.badge {
    position: relative;
    bottom: 17px;
    left: 0;
    right: 18px;
}

.menu-link:hover > a {
    color: #ecd575 !important;
    border-bottom-color: #ecd575;
}
/*.menu-link:hover{
    border-bottom:1px solid red;
}*/
.menu-link a i {
    color: white;
    font-size: 13px;
}

.footer-icon i {
    font-size: 55px;
}

.footer-icon p {
    font-size: 20px !important;
}

.footer-info ul {
    list-style: none;
    padding-top: 10px;
}

.footer-info i {
    font-size: 30px;
}
.app-download-links{
    position:relative;
    top:15px;
    font-size:20px;
}

p.copy-right, p.copy-right a {
    font-size: 15px !important;
    color: white;
}

div.svg-icon {
    height: 80px;
}
.svg-icon-insta {
    height: 45px;
    position: relative;
    bottom: 33px;
    left: 30px;
    top: 0px;
}
.insta-text {
    position: relative;
    top: 8px;
    font-size: 20px;
    color: white;
    right:65px;
}


div.svg-icon p {
    position: relative;
    top: 75px;
    color: white;
}

.footer-info h5 {
    color: white;
    font-size: 20px;
}

.footer-info ul li a {
    color: white !important;
    font-size: 18px;
}

.btn-shop {
    background-color: #540d6f;
    border-color: #540d6f;
}

.starland-about p {
    font-size: 14px;
}

/*.tools-box {
    background-color: #a186be !important;
    border: 1px solid #a186be !important;
}*/
.product-warper .product-content .tools-box i {
    font-size: 20px;
    color: #540d6f;
}

p.powerd-by {
    font-size: 13px;
}

/*.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}*/
.nikan-card:hover {
    box-shadow: 0 0rem 1rem #a186be !important;
    /*border-bottom:2px solid #a186be*/
}

    .nikan-card:hover:after {
        content: "";
        display: block;
        width: 95%;
        background: #a186be;
        position: absolute;
        height: 3px;
        left: 50%;
        bottom: -10px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

/*.nikan-card:hover span.main-price-unit {
        color: #b3b1b1 !important;
    }

    .nikan-card:hover .card-footer {
        background-color: #b3b1b1;
    }*/

.nikan-card .card-footer .btn-shop {
    transition: transform 0s;
}

.nikan-card:hover .card-footer .btn-shop {
    background-color: #a186be;
    border-color: #a186be;
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #a186be;
}

.product-warper .product-box {
    /*border-right: 1px solid #a186be;*/
}
.product-warper .product-content:before {
    background: #a186be;
}
@media screen and (max-width:768px){
    .product-warper .product-content:before {
        display:none;
    }
}

.main-cat-card .card-footer {
    background-color: #540d6f;
}

    .main-cat-card .card-footer a {
        color: white;
    }
    .brand-card .card-footer a {
        color: white;
    }

.btn:disabled {
    opacity: 1;
}

.product-warper .shadow-lg {
    box-shadow: 0 0rem 1rem #a186be !important;
}

.nikan-card a.product-title {
    color: #540d6f;
}
.nav-tabs .nav-link.active {
    border-top: 1px solid #540d6f;
    border-left: 1px solid #540d6f;
    border-right: 1px solid #540d6f;
}
.nav-tabs {
    border-bottom: 1px solid #540d6f;
}

@media screen and (max-width: 992px) {
    #carousel {
        margin-top: -42px;
    }
}
@media screen and (max-width: 768px) {
    .fix-menu .input-group {
        width: 140%;
    }
}
@media screen and (max-width: 550px) {
    .fix-menu .input-group {
        width: 150%;
    }
}
@media screen and (max-width: 400px) {
    .fix-menu .input-group {
        width: 170%;
    }
}

.brand-card .card-footer {
    background-color: #540d6f;
}

nav#contentpager .page-item:last-child .page-link, nav#contentpager .page-item:first-child .page-link {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}
nav#contentpager ul li a i {
    position: relative;
    top: 0px;
    right: 1px;
    font-size: 10px;
    color: black;
}

nav#contentpager ul li a.page-link {
    color: #202c45;
    background-color: white;
    border: 1px solid #202c45;
    border-radius: 7px;
    height: 35px;
    width: 35px;
}
    nav#contentpager ul li a.page-link:hover {
        color: #ecd575;
    }
nav#contentpager ul li.page-item.active a {
    color: white;
    background-color: #202c45;
    border: 1px solid #202c45;
    height: 35px;
    width: 35px;
}
nav#contentpager ul li a.page-icon {
    border: none;
    background: no-repeat;
}
.sort-content {
    background-color: white;
    padding: 7px;
    border-radius: 5px;
}
.sort-content hr {
    margin-bottom:0!important;
    padding:0!important;
}
.sort-content p {
    font-size: 14px;
    position: relative;
    top: 4px;
}

.sort-content a{
    color:black;
    font-size:13px;
    border-radius:5px;
    cursor:pointer;
}
    .sort-content a.active {
        background-color: #540d6f;
        color:white;
    }
    .sort-content a:hover {
        background-color: #a186be;
        color: white;
    }


@media screen and (min-width: 1200px)  {
    #DivShow .container {
        max-width: 97%;
    } 
   .container.full {
        max-width: 97%;
    }
}
