﻿#mainContent {
    padding-top: 20px;
    padding-bottom: 80px;
}

body, h1, h2, h3, h4, p, ul, li, a, button, .main-nav, .kendo-nav, #banner p, .browsers, #nav-pager, #examples-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(243,243,243) !important;
    color: #555;
    font: 400 11px Tahoma,Arial,Times New Roman;
    position: relative;
}

.field-validation-error {
    color: red;
    font-size:11px;
}

.modal-title {
    float: right;
    font-size: 10pt !important;
    font-weight: bold;
}

.fullScreenModalDialog {
    width: 95%;
    height: 95%
}

.fullScreenModalContent {
    min-height: 95%;
}

.page-title {
    font-size: 16pt;
}

hr {
    margin-top: 6px;
}
/*******************************bootstrap*********************************/

.row {
    margin-bottom: 5px;
}


.panel {
    border: 1px solid silver;
}

.form-check-inline {
    display: inline;
}

label {
    display: block;
}

.control-label {
    font-size: 8pt !important;
}

.form-control {
    font-size: 8pt !important;
}

*:not(textarea).form-control {
    height: 28px !important;
}

.form-check-label {
    display: inline;
}

input[type="file"] {
    display: inline !important;
}

/*******************************end bootstrap*********************************/


/**************************kendo******************************/
.k-button {
    font-size: 8pt !important;
    margin: 0 .12em !important;
}

.k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker,
.k-dropdown, .k-dropdowntree, .k-listbox, .k-multiselect, .k-numerictextbox,
.k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
    width: 100%;
}

.k-loading-image {
    background-image: none; /*hide kendo grid loading*/
}

.k-grid-pager .k-textbox {
    width: 35px;
}

.k-grid-pager .k-dropdown {
    width: 60px;
}

.k-picker-wrap .k-select {
    text-align: right !important;
}

.k-filter-menu .k-button {
    width: 48%;
}

/**************************end kendo******************************/

.copyright {
    height: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index:100;
}

    .copyright p {
        text-align: left;
        color: #FFF;
        padding: 5px 0;
        margin-bottom: 0;
    }



