﻿body {
    background-color: #ffffff;
}
/*div#carousel{
    margin-top:120px;
}*/
#topHeader {
    background-color: #c4ecba;
}
#navbar-Menu {
    background-color: #89d48b;
}
div#navbarSupportedContent {
    background-color: #89d48b;
}
.bg-light {
    background-color: #89d48b!important;
}
.contact-form button {
    background-color: #89d48b;
}
.prdTitleColore {
    color: #3d8c6f;
}
#footer {
    width: 100%;
    height: 115px;
    background-color: #5b945c;
    color: white;
}
.middle-footer:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 75%;
    right: 383px;
    top: 7%;
    background-color: #6b6b6b;
}
#main-section {
    margin-top: 125px;
}
.carusel-arrow i {
    color: #1b613a;
}
.carusel-arrow:hover {
    background: #247d4c;
}