﻿@import url(fontiran.css);

body {
    font-family: IRANSans;
    background-color: #f8e4c2;
}

h1, h2, h3, h4, h5, h6, input, textarea {
    font-family: IRANSans !important;
}

a {
    text-decoration: none !important;
}

/*#region NavBar*/
.fixmenu {
    position: fixed;
    z-index: 999999;
    top: 0;
}

#navbar-Menu {
    width: 100%;
    /*border-bottom: 1px solid #eee;*/
    background-color: #f8e4c2;
}

div#navbarSupportedContent {
    background-color: #f8e4c2;
}

.nav-item:hover {
    cursor: pointer;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.menu-link > a {
    font-size: 18px;
}

@media screen and (min-width:991px) {
    .nav-item:hover .dropdownMenu, .dropdownMenu .nav-item:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu > .nav-item:hover .subdropdownMenu {
        display: block;
    }

    .navbar-collapse > .navbar-nav li.menu-link {
        margin-left: 15px;
    }

        .navbar-collapse > .navbar-nav li.menu-link:last-child {
            margin-left: 0px;
        }

    .navbar-collapse > .navbar-nav > li.menu-link > .nav-link {
        display: block;
        line-height: 80px;
        padding: 0;
    }

    .menu-link:hover > a {
        color: white !important;
    }

    .dropdownMenu .nav-link {
        line-height: 22px !important;
    }

    .dropdownMenu .nav-item, .dropdownMenu .nav-link {
        transition: none !important;
    }

    .dropdownMenu > .nav-item:hover, .subdropdownMenu > .nav-item:hover {
        background-color: #f7f7f7;
    }

        .dropdownMenu > .nav-item:hover > .nav-link, .subdropdownMenu > .nav-item:hover > .nav-link {
            color: #f8e4c2 !important;
        }

    .navbar-nav li {
        padding: 0 5px 0 5px;
    }
}

.bg-light {
    background-color: #f8e4c2 !important;
}

button:focus {
    outline: 0 !important;
}

.first-button {
    border-color: transparent !important;
    padding: 0;
}

/*#region SubMenu-L1*/
.dropdownMenu .nav-item {
    padding-top: 0;
}

.dropdownMenu {
    background-color: white;
    min-width: 220px;
    position: absolute;
    border-top: 3px solid #f8e4c2;
    border-right: 1px solid#DFDDCE;
    border-left: 1px solid#DFDDCE;
    border-bottom: 1px solid#DFDDCE;
    display: none;
    top: 100%;
    padding: 0;
    text-align: right;
    z-index: 50;
}

.subdropdownMenu {
    background-color: white;
    min-width: 220px;
    position: absolute;
    border-right: 1px solid #DFDDCE;
    border-top: 3px solid #f8e4c2;
    border-left: 1px solid#DFDDCE;
    border-bottom: 1px solid#DFDDCE;
    display: none;
    left: -101%;
    top: -3px;
    padding: 0;
    text-align: right;
    z-index: 50;
}

.dropdownMenu li, .dropdownMenu .submenu {
    position: relative;
}

.subdropdownMenu .nav-item .nav-link {
    font-size: 15px;
    color: #333;
}

.dropdownMenu li {
    padding: 0;
    border-bottom: 1px solid #f3f3f3;
}

    .dropdownMenu li:last-child {
        border-bottom: none;
    }

.dropdownMenu .nav-item .nav-link {
    padding: 10px 25px 10px 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: #333;
}

.dropdownMenu .nav-item:nth-child(1) .nav-link {
    padding-top: 10px;
}

.dropdownMenu .nav-item:last-child .nav-link {
    padding-bottom: 10px;
}

.submenu {
    position: relative;
}

    .submenu i {
        position: absolute;
        font-size: 10px;
        top: 16px;
        left: 20px;
        transition: left 0.2s ease-out;
        color: #333;
    }

    .submenu:hover i {
        left: 13px;
        color: #f8e4c2;
    }

@media screen and (max-width:991px) {
    .navbar {
        max-height: 450px;
        overflow-y: scroll;
    }

        .navbar::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .navbar::-webkit-scrollbar-thumb {
            background: #FF0000;
        }

    .navbar-brand {
        padding: 20px 0 20px 0 !important;
    }

    .dropdownMenu {
        min-width: 100%;
        position: static;
        border: none;
        display: inline-block;
        padding: 0;
        text-align: start;
    }

        .dropdownMenu .nav-link {
            padding-right: 40px;
            line-height: 12px;
        }

    .menu-link {
        padding-top: 10px;
    }

    .navbar-collapse > .navbar-nav > li.menu-link > .nav-link {
        line-height: 20px;
    }
}
/*#endregion*/

/*#region MenuIconButton */
.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .animated-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: black;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
        }

    .animated-icon.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
/*#endregion*/


@media screen and (max-width:992px) {
    .firstlevel {
        max-height: 150px;
        overflow-y: auto;
    }
}
.logo-container{
    height:60px;
}
/*#endregion*/
/**********************************************************************/
/*#region Carousel*/
#carousel {
    width: 100%;
    border-bottom: 1px solid #eee;
}

@media (min-width: 1200px) {
    #carousel .container, #two-carousel .container {
        max-width: 97%;
    }
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-indicators li.active {
    background-color: #f8e4c2 !important;
}

.carousel-indicators li {
    border: 1px solid white;
    background-color: #c7c7c7;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 1;
}

    .carousel-control-prev:hover, .carousel-control-next:hover {
        opacity: 1;
        cursor: default;
    }

#carousel .fa-chevron-right:hover, #carousel .fa-chevron-left:hover {
    color: #f8e4c2;
    cursor: pointer;
}

.carusel-arrow {
    position: relative;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    background: white;
}

    .carusel-arrow i {
        position: absolute;
        font-size: 1.2em;
        color: #f8e4c2;
    }

        .carusel-arrow i.fa-chevron-left {
            top: 13px;
            right: 18px;
        }

        .carusel-arrow i.fa-chevron-right {
            top: 13px;
            right: 15px;
        }

    .carusel-arrow:hover {
        background: #f8e4c2;
    }

        .carusel-arrow:hover i, .carusel-arrow i:hover {
            color: white !important;
        }

.carousel-control-prev span {
    right: 2%;
    opacity: 0;
    transition: all 0.3s;
}

.carousel-control-next span {
    left: 2%;
    opacity: 0;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}

#carousel:hover .carousel-control-prev span {
    right: 0px;
    opacity: 1;
    display: block;
}

#carousel:hover .carousel-control-next span {
    left: 0px;
    opacity: 1;
    display: block;
}
/*#endregion*/
/**********************************************************************/
/**********************************************************************/
/*#region footer*/
footer {
    width: 100%;
}
/*#endregion*/
/**********************************************************************/
/*#region back-to-top*/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.6s ease-out;
    opacity: 0;
    display: none;
    transition: all 1s;
    background: #f8e4c2;
}

    #back-to-top i {
        font-size: 1.2em;
        padding-top: 12px;
        color: black;
    }

    #back-to-top:hover {
        background: #f8e4c2;
        opacity: 1;
    }

        #back-to-top:hover i {
            color: white;
        }

    #back-to-top.show {
        opacity: 1;
        display: block;
    }
/*#endregion*/
/**********************************************************************/
/*#region main-section*/
#main-section {
    width: 100%;
    margin-top: 120px;
    /*min-height:440px;*/
}
/*#endregion*/
/**********************************************************************/
/*#region title-bar*/
#title-bar {
    width: 100%;
    height: 81px;
    background-color: #F7f7f7;
    position: relative;
    border-bottom: 1px solid #eee;
}

    #title-bar .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
    }

    #title-bar h4 {
        margin-bottom: 0;
        font-weight: normal;
        font-size: 20px;
    }
/*#endregion*/
/**********************************************************************/
/*#region about-us*/
.about .container h4 {
    font-family: IRANSans;
    color: #777;
    font-size: 20px;
    font-weight: bold;
}
/*.history
{
    margin-top: 40px;
    margin-bottom: 20px;
}*/
.about-description {
    margin-bottom: 60px;
    margin-top: 60px;
}

    .about-description p {
        color: black;
        text-align: justify;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
    }

.about-us-title {
    font-family: IRANSans;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}

.why-nikan img {
    float: left;
}

.about-description ul {
    list-style: none;
}

    .about-description ul li {
        color: black;
        font-size: 17px;
        font-weight: 300;
        padding-right: 15px;
        position: relative;
        padding-bottom: 3px;
    }

        .about-description ul li::before {
            content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: #333; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
            right: 0;
            position: absolute;
        }

.about-strategy ol {
    color: black;
    font-size: 17px;
    font-weight: 300;
    padding-right: 50px;
}

    .about-strategy ol li {
        padding-bottom: 3px;
    }

.about-strategy ul li {
    font-weight: normal;
}

/*#endregion*/
/**********************************************************************/
/*#region contact us*/
.contact-us .container h4 {
    font-family: IRANSans;
    color: #777;
    font-size: 20px;
    font-weight: bold;
}

.contact-us-section {
    margin-bottom: 30px;
    margin-top: 160px;
}

.contact-address h6 {
    padding-right: 30px;
}



.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color: black;
    opacity: 0.4;
    font-family: IranSans;
    font-size: 16px;
}

.contact-form input:-moz-placeholder {
    color: black;
    opacity: 0.4;
    font-family: IranSans;
    font-size: 16px;
}

.contact-form input::-moz-placeholder {
    color: black;
    opacity: 0.4;
    font-family: IranSans;
    font-size: 16px;
}

.contact-form input:-ms-input-placeholder {
    color: black;
    opacity: 0.4;
    font-family: IranSans;
    font-size: 16px;
}

.contact-form input, .custom-select {
    height: 45px;
}

.contact-form button {
    background-color: #f8e4c2;
}

.contact-address a.btn {
    padding: 0;
    border: 1px solid #f8e4c2;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    cursor: default;
}

    .contact-address a.btn i {
        color: #f8e4c2;
        font-size: 13px;
        position: relative;
        top: 4px;
        cursor: default;
    }

.contact-text p {
    position: relative;
    top: 5px;
    right: -15px;
    font-weight: 300;
    line-height: 30px;
}

p.contact-add {
    position: relative;
    right: -15px;
    font-weight: 300;
    margin-bottom: 0;
    top: -3px;
}

.contact-img {
    border: 1px solid #eee;
}

.contact-position {
    position: relative;
    top: -13px;
}

.contact-position1 {
    position: relative;
    top: -26px;
}

.contact-position2 {
    position: relative;
    top: -39px;
}

.contact-position3 {
    position: relative;
    top: -52px;
}

.contact-position4 {
    position: relative;
    top: -65px;
}

.last-contact-address {
    position: relative;
    top: -50px;
}

@media screen and (max-width: 1200px) {
    .contact-text p, p.contact-add {
        right: 0;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .contact-text p, p.contact-add {
        right: 18px;
    }
}

@media screen and (max-width: 768px) {
    .first-contact-address {
        margin-top: 1.5rem !important;
    }

    .contact-address, .contact-address > div, .contact-address > div > div {
        padding: 0;
    }

        .contact-address h6 {
            padding-right: 0;
        }

    .contact-text p, p.contact-add {
        right: -40px;
    }

    .contact-icon {
        padding-right: 0;
    }
}
/*#endregion*/
/**********************************************************************/

.msg {
    z-index: 1000000000000000000;
}

.g-err-msg {
    display: none;
}

span.nikan-val-msg {
    position: relative;
    bottom: 0px;
    font-size: 12px;
}

label {
    font-size: 14px;
}

select {
    font-size: 13px !important;
}

span.text-danger {
    font-size: 12px;
}

.p-relative {
    position: relative;
}

.required {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 14px !important;
}


/*card*/
.card-col {
    padding-right: 2px;
    padding-left: 2px;
}

.nikan-card {
    border: none;
    height: 390px;
}

    .nikan-card:hover {
        /*border: 1px solid #f3f3f3;*/
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        cursor: pointer;
    }

    .nikan-card .btn-shop {
        font-size: 14px;
        transition: all 1s ease;
    }

    .nikan-card .card-footer {
        background-color: white;
        border: none;
    }

    .nikan-card img {
        width: 200px!important;
        height: 200px;
        position: relative;
        top: 15px;
    }

    .nikan-card p.inventory {
        position: absolute;
        top: 6px;
        right: 6px;
        text-align: right;
        font-size: 12px;
        margin: 0;
    }

    .nikan-card .discount-percent {
        position: absolute;
        /*top: 5px;
        left: 12px;*/
        font-size: 15px;
        top: 55%;
        right: 92%;
    }



    .nikan-card a {
        cursor: pointer;
    }

        .nikan-card a.product-title {
            cursor: pointer;
            position: relative;
            top: 13px;
            font-size: 15px;
        }

    .nikan-card .price {
        font-size: 17px;
        font-weight: 500;
    }

    .nikan-card .price-with-discount {
        margin: 0;
        font-size: 12px;
    }
    .nikan-card span.price-unit{
        font-size:13px;
    }

    .no-discount {
        position: relative;
        top: 21px;
    }

.nikan-card figure {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    /*overflow: hidden;*/
}

    .nikan-card figure:hover + span {
        bottom: -36px;
        opacity: 1;
    }

.hover-shine figure {
    position: relative;
}

    .hover-shine figure::before {
        position: absolute;
        top: 0;
        left: -45px;
        z-index: 2;
        display: block;
        content: '';
        width: 60px;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }

.hover-shine:hover figure::before {
    -webkit-animation: shine .5s;
    animation: shine .5s;
}

@-webkit-keyframes shine {
    100% {
        left: 140px;
    }
}

@keyframes shine {
    100% {
        left: 140px;
    }
}

/*@media screen and (max-width:989px) {
    div.product {
        margin-top: 170px;
    }
}

@media screen and (max-width:768px) {
    div.product {
        margin-top: 250px;
    }
}*/

/*.products .card-footer {
    background-color: #eeeeee!important;
}
.products .card-footer a {
    font-weight:500;
    cursor:pointer;
}
    .product .card-footer a {
        cursor: pointer;
    }

.product .card-img-top {
    width: auto !important;
}

.product .inv p {
    font-size: 14px;
    color: #9a9a9a;
    margin-top:auto;
    margin-bottom:auto;
}
.inv {
    border: 2px solid #9a9a9a;
}
.product .btn-secondary {
    color: #fff;
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}*/
/*end card*/
.shop-cart i {
    font-size: 25px;
}

div.fix-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

#shopCartItem {
    position: relative;
}

    #shopCartItem i {
        font-size: 25px;
        cursor: pointer;
    }

    #shopCartItem span.badge {
        position: relative;
        bottom: 13px;
        left: 5px;
    }

.fix-menu a {
    font-size: 13px;
    cursor: pointer;
}

table.shopcardtbl > tbody > tr > td {
    vertical-align: middle;
}

table.shopcardtbl .btn {
    border: 1px solid #c3aeae;
    cursor: pointer;
}

.owl-card {
    height: 453px;
}

.card-product-body {
    position: relative;
}


.prdTitleColore {
    color: #a67b47;
}

div#intro1 {
    background-color: #cde4b0;
    height: 360px;
}

div#intro2 {
    background-color: #0f5152;
    height: 360px;
}

div#intro3 {
    background-color: #ffe09c;
    height: 360px;
}

a.btn-edit {
    position: fixed;
    left: 2px;
    bottom: 200px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

/*#region Mega menu*/
ul.mega-menu {
    position: absolute;
    width: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 99999;
    background-color: #fbfbfb;
    min-height: 200px;
    display: none;
}

.menu-link:hover ul.mega-menu {
    display: flex;
}

ul.mega-menu li a.l2-link i {
   font-size:8px;
}
ul.mega-menu ul.menu-l3 {
    display: block;
}
    ul.mega-menu ul.menu-l3 li a i {
        font-size: 8px;
    }

ul.mega-menu img {
    position: absolute;
    left: 50px;
    bottom: 5px;
    width: 135px;
    height: 135px;
}

@media screen and (max-width:991px) {
    .menu-link:hover ul.mega-menu {
        display: none;
    }
}
/*#endregion*/
a.btn-remove-cart {
    cursor: pointer;
    border-color: red !important;
    background-color: red;
}

a.btn-minus-cart {
    cursor: pointer;
    border-color: #128c8c !important;
    background-color: #128c8c;
}

a.btn-add-cart {
    cursor: pointer;
    border-color: #2a83de !important;
    background-color: #2a83de;
}

    a.btn-remove-cart i, a.btn-minus-cart i, a.btn-add-cart i {
        font-size: 16px;
        position: relative;
        top: 2px;
    }
    .mega-menu .nav-item .nav-link{
        font-size:12px;
    }
/*Product index*/

.product-warper {
    margin-top: 140px;
}

@media screen and (max-width:992px) {
    .product-warper {
        margin-top: 200px;
    }
}

@media screen and (max-width:768px) {
    .product-warper {
        margin-top: 140px;
    }
}
div.main-cat-card{
    border:1px solid #540d6f;
    align-items:center;
}
div.brand-card {
    border: 1px solid #540d6f;
    align-items: center;
}
    div.main-cat-card img.card-img-top {
       /*width:150px!important;*/
       height:200px;
    }
    div.brand-card img.card-img-top {
        /*width: 200px !important;*/
        height: 200px;
    }
div.main-cat-card:hover{
    cursor:pointer;
}
div.brand-card:hover{
    cursor:pointer;
}

    .product-warper .product-content {
        min-height: 350px;
        background-color: white;
        border-radius: 8px;
    }

    .product-warper .product-content .tools-box {
        position: fixed;
        right: 2px;
        top: 195px;
        z-index: 1000;
        padding: 5px;
        /*background-color: #dc3545;
        border: 1px solid #dc3545;
        border-radius: 8px;*/
    }

        .product-warper .product-content .tools-box i {
            font-size: 20px;
            color: white;
        }

        .product-warper .product-content .tools-box ul {
            list-style: none;
        }

            .product-warper .product-content .tools-box ul li {
                cursor: pointer;
                margin-bottom: 15px;
            }

    .product-warper .product-content .main-image {
        width: 290px;
        height: 290px;
    }

.details-warper {
    margin-top: 70px;
}

.product-warper .demo-gallery {
    /*position: absolute;*/
    top:15px;
    /*justify-content: center;*/
}
.product-warper .product-box {
    /*border-right: 1px solid #ddd;*/
}
.product-warper .product-content:before {
    content: "";
    display: block;
    height: 80%;
    background: #ddd;
    position: absolute;
    width: 1px;
    top: 50%;
    right: 32%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
    .product-warper .product-box .prd-name h6 {
       font-size:17px;
    }
        .product-warper .product-box .prd-name h6.prd-enname {
            font-size: 12px;
            color: #b1b1b1;
        }
            /*.product-warper .product-box .prd-name h6.prd-enname:after {
                content: "";
                display: block;
                height: 1px;
                background: #b1b1b1;
                position: absolute;
                width: 50%;
                top: 67%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }*/
            /*@media screen and (max-width:1220px){
                .product-warper .product-box .prd-name h6.prd-enname:after {                  
                    width: 65%;
                }
            }  
            @media screen and (max-width:992px){
                .product-warper .product-box .prd-name h6.prd-enname:after {
                    width: 60%;
                    right: 20%;
                }
            } 
            @media screen and (max-width:940px){
                .product-warper .product-box .prd-name h6.prd-enname:after {
                    right: 31%;
                }
            }  
            @media screen and (max-width:768px){
                .product-warper .product-box .prd-name h6.prd-enname:after {
                    right: 13%;
                }
            }*/
    .product-warper .product-box .cb-name {
        margin-top: 30px;
    } 
    .product-warper .product-box .cb-name p {
        font-size: 12px;
    }

.product-warper .price-box {
    position: relative;
}
.product-box .property-box p {
    font-size: 12px;
    font-weight: 500;
}
.product-box .property-box ul{
    list-style:none;
}
    .product-box .property-box ul li span.property-name {
        font-size: 11px;
    }
    .product-box .property-box ul li span.property-value {
        font-size: 10px;
        color: #b1b1b1;
    }
    .product-box .property-box ul li i {
        font-size: 4px;
        color: #7b7474;
        position: relative;
        bottom: 2px;
    }

@media screen and (max-width:768px) {
    .product-warper .price-box {
        top: 15px;
    }
}
p#traitInv{
    font-size:13px;
}
.product-warper .price-box .price-content {
    /*position: relative;*/
    /*top: 5%;
    right: 18%;*/
    position: unset;
    text-align: left;
}
.product-warper .price-box .info-content {
    margin-top: 10px !important;
}
.product-warper .price-box .info-content p {
    color: #b1b1b1;
}
.product-warper .price-box .info-content hr {
    width: 100% ;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
    .product-warper .price-box .price-content del {
        color: #b4b4b4;
        font-size: 20px;
        position: relative;
        right: -8%;
    }
    .product-warper .price-box .price-content #productPrice {
        font-size: 25px;
        /*position: relative;
        right: 0;*/
    }
    /*@media screen and (max-width:768px){
        .product-warper .price-box .price-content #productPrice {
            left: 25%;
            bottom: 60px;
            right:unset;
        }
    }*/
        .product-warper .price-box .price-content #productPrice span.prdUnit {
            font-size: 16px;
        }

    .product-warper .price-box .price-content .price-discount {
        /*position: relative;
        right: 22%;*/
        padding: 8px;
        font-size: 18px;
        /*top: 23px;*/
        border-radius: 10px;
    }
@media screen and (max-width:768px){
    .product-warper .price-box .price-content {
        top: 20%;
        right:25%;
    }
}

.product-warper .price-box .card {
    height: 100%;
}

    .product-warper .price-box .card .card-footer .btn {
        border-radius: 0;
        cursor: pointer;
    }

.product-warper .choose-box {
    position: relative;
    /*top: 100px;*/
}

/*Carosel Slider*/
.carousel-slider {
    position: relative;
    /*top: 147px;*/
}

@media screen and (max-width:992px) {
    #carousel {
        margin-top: 35px;
    }
}

@media screen and (max-width:768px) {
    #carousel {
        margin-top: 129px;
    }
}

.owl-carousel.owl-rtl .owl-item {
    margin-bottom: 15px;
}
.main-cat-card .card-footer a {
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:15px;
}
.main-cat-card .card-footer {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.brand-card .card-footer {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs .nav-link.active {
    border-top: 2px solid;
}
.full-path {
    font-size: 12px;
    color: #524e4e;
    padding-top: 17px;
    padding-right: 5px;
}
    .full-path a {
        color: #524e4e;
        cursor: pointer;
    }

.userlogin i {
    cursor: pointer;
}
    .userlogin i#user-icon, .userlogin i#user-caret {
        position: relative;
        top: 5px;
    }
    .userlogin i#user-icon {
        font-size: 18px;
    }
.userlogin i.fa-user {
    color: #540d6f;
}
.userprofile {
    width: 150px;
    min-height: 100px;
    position: absolute;
    z-index: 999999;
    top: 30px;
    left: 61px;
    /*border: 1px solid #ffffff;*/
    background: #ffffff;
    border-radius: 8px;
    display: none;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.3);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.3);
}
.userlogin:hover .userprofile {
    display:block;
}
.userlogin:hover i.userlogin-caret {
   color:red;
}
.userprofile p{
font-size:12px;
}
.userprofile hr{
margin-top:5px;
margin-bottom:5px;
}
.userprofile ul{
list-style:none;
}
.userprofile ul li{
padding-right:5px;
}
    .userprofile ul li a {
        color:#abaeb2;
        font-size: 12px;
    }
    .userprofile ul li:hover {
        background: #f0f0f1;
    }
    .userprofile ul li:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
.resource-warper .container{
    background:#ffffff;
    border-radius:8px;
}
@media (min-width: 1200px) {
    .resource-warper .container {
        max-width: 97%;
    }

}
@media (min-width: 1200px) {
   .container.product-warper {
        max-width: 97%;
    }

}
#prdFilter label.custom-control-label {
    padding-right: 25px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 13px;
}
#prdFilter .custom-control-label::before {
    width: 20px;
    height: 20px;
}
#prdFilter label.custom-control-label::after {
    top: 5px;
    right: 1px !important;
}
#prdFilter .card-body {
    padding: 8px;
}

#prdFilter .card-header {
    padding: 3px;
    text-align: center;
}

    #prdFilter .card-header h5 button {
        font-size: 15px;
    }
#prdFilter .filter-price label{
    font-size:12px;
}
#prdFilter .filter-price input{
    font-size:13px;
    text-align:left;
}
#prdFilter .filter-price a.btn-neshat {
    font-size:12px;
    background-color: #540d6f;
    border-color: #540d6f;
    cursor:pointer;
}