﻿body {
    background-color: #f7f7f7;
}

#topHeader {
    background-color: #ffffff;
    min-height: 70px;
    padding-top: 17px;
    padding-bottom: 15px;
}
    #topHeader .fix-left {
        padding-top: 9px;
    }
.site-logo {
    margin-top: 121px !important;
}


@media screen and (max-width:992px){
    .animated-icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .site-logo {
        margin-top: 200px!important;
    }
}
@media screen and (max-width:768px) {
    #topHeader {
        padding-top: 0px;
    }

    .starland-landing img {
        margin-top: 125px;
    }

    .site-logo {
        margin-top: 300px !important;
    }
}


.fix-menu a {
    font-size: 14px;
}

#navbar-Menu {
    background-color: #fbfbfb;
}
div#navbarSupportedContent {
    background-color: #fbfbfb;
}
.bg-light {
    background-color: #fbfbfb !important;
}
.navbar-collapse > .navbar-nav > li.menu-link > .nav-link {
    line-height: 45px;
}
.contact-form button {
    background-color: #89d48b;
}
.prdTitleColore {
    color: #3d8c6f;
}
#footer {
    width: 100%;
    /*height: 270px;*/
    background-color: #eee;
    color: white;
}
.middle-footer:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 75%;
    right: 383px;
    top: 7%;
    background-color: #6b6b6b;
}
#main-section {
    margin-top: 150px;
}
.carusel-arrow i {
    color: #1b613a;
}
.carusel-arrow:hover {
    background: #247d4c;
}

.main-alert {
    background-color: #b6e2eb !important;
    border-color: #b6e2eb !important;
    color: #0b9fbb !important;
}
#topHeader a.btn-login {
    border: 1px solid #e0e0e2;
    background-color: white;
    color: black;
    padding: 8px;
    height: 44px;
    font-size: .857rem;
}
    #topHeader a.btn-login span {
        position: relative;
        bottom: 4px;
    }

    #topHeader a.btn-login i {
        font-size: 22px;
        color: #616161;
    }
input.main-search {
    height: 45px;
    background-color: #f3f3f3;
}
a.main-logo {
    position: relative;
    top: 0px;
}
@media screen and (max-width:986px){
    a.main-logo {
        top: -24px;
    }
}
a#shopCartItem:before {
    content: "";
    display: block;
    height: 24px;
    background: #e0e0e2;
    position: absolute;
    right: 0;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
a#shopCartItem i {
    position: relative;
    right: 20px;
    top: 9px;
    color: #424750;
}
#shopCartItem span.badge {
    position: relative;
    bottom: 17px;
    left: 0;
    right: -6px;
}
.menu-link:hover > a {
    color: red !important;
    border-bottom-color:red;
}
/*.menu-link:hover{
    border-bottom:1px solid red;
}*/
.menu-link a i {
    color: #a1a3a8;
    font-size:13px;
}
.footer-icon i{
    font-size:55px;
}
.footer-icon p{
    font-size:15px !important;
}
.footer-info ul{
    list-style:none;
    padding-top:10px;
}
.footer-info i{
    font-size:30px;
}

p.copy-right, p.copy-right a {
    font-size: 15px !important;
    color: black;
}

div.svg-icon{
    height:80px;
}
    div.svg-icon p {
        position: relative;
        top: 75px;
        color: #3f9fc8;
    }

.footer-info h5 {
    color: #309ac5;
}
.footer-info ul li a {
    color: #3f9fc8!important;
}
.btn-shop {
    background-color: #0b9fbb;
    border-color: #0b9fbb;
}
.starland-about p{
    font-size:14px;
}