﻿@model List<Shop.Services.Dto.Brand.BrandModel>


@if (Model.Count > 0)
{

    <div class="container-fluid my-3">
        <h5 class="alert alert-success main-alert text-center p-2">برند ها</h5>
        <div class="row col-12 justify-content-start products">
            <div class="owl-brand owl-carousel owl-theme owl-rtl owl-drag owl-dot">
                @foreach (var brand in Model)
                {
                    <div onclick="viewBrand(@brand.Id,'@brand.Title.CleanUrl()')">
                        <div class="card brand-card mx-1">
                            <img class="card-img-top" src="@((!String.IsNullOrEmpty(brand.ImageUrl)?brand.ImageUrl:"/images/no-image200.png"))" alt="@brand.Title">
                            <div class="card-footer text-center col-12">
                                <a href="/brands/@brand.Id/@brand.Title.CleanUrl()">@brand.Title</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}

