﻿@{
    ViewData["Title"] = "اسلایدر";
    var SliderGridName = "SliderGrid";
}
<style>
    div#SliderGrid .k-grid-content {
        max-height: 400px !important;
    }
</style>
<h6 class="text-center">اسلایدر</h6>
<div class="k-rtl container-fluid p-0 mb-5">

    @(Html.Kendo().Grid<Shop.Services.Dto.Slider.SliderModel>()
       .Name(SliderGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= SliderGridIndex=IncrementRowNumber(SliderGridIndex) #").Width(50).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.SliderUrl).ClientTemplate("<img src='#=SliderUrl#' height='62' width='62'/>").Title("تصویر");
           columns.ForeignKey(p => p.Type, (IEnumerable<SelectListItem>)ViewBag.Types, "Value", "Text").Title("نوع اسلایدر").Width(130);
           columns.Bound(c => c.Order).Width(120).Title("اولویت نمایش");
           columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='EditSlider(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>" +
               "<a class='k-button btn-sm  m-1' onclick='DeleteSlider(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").HeaderHtmlAttributes(new { @class = "text-right" });
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertSlider()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Type).Ascending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Slider", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("SliderGridDataBinding"))
    )

</div>


@section Scripts
    {
    <script>

        var SliderGridIndex = 0;

        function SliderGridDataBinding() {
            SliderGridIndex = GridDataBinding('@SliderGridName');
        }

        function InsertSlider() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'افزودن','sm');
        }

        function EditSlider(id) {
            OpenModal('/api/Slider/Edit'+'/' + id, null, WindowNameInLayout, 'ویرایش اولویت نمایش', 'sm');
        }

        function DeleteSlider(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف تصویر هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Slider/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@SliderGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
