﻿@model Shop.Areas.Admin.Models.User.ChangePasswordModel


<form id="ChangePassForm" method="post"
      data-ajax-url="/Admin/User/ChangePassword"
      data-ajax="true"
      data-ajax-success="ChangePass">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="OldPassword">رمز عبور فعلی:</label>
            <input asp-for="OldPassword" type="password" class="form-control"/>
            <span asp-validation-for="OldPassword" class="nikan-val-msg text-danger mb-1"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="NewPassword">رمز عبور جدید:</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="nikan-val-msg text-danger mb-1"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="ConfirmPassword">تکرار رمز عبور:</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="nikan-val-msg text-danger mb-1"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="row col-12">
            <div class="col-6">
                <button type="submit" class=" k-button btn-block">ذخیره</button>
            </div>
            <div class="col-6">
                <button type="button" class=" k-button btn-block" onclick="CloseModal(WindowNameInLayout);">بستن</button>
            </div>
        </div>
    </div>
</form>
<script src="~/libs/jquery valdiation/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>

    function ChangePass(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }

</script>










