﻿@model Shop.Areas.Admin.Models.NikanCustomerEquivalent.NikanCustomerEquivalentModel

<form method="post"
      data-ajax-url="/api/User/@(Model.Id>0?"EditEquivalent":"CreateEquivalent")"
      data-ajax="true"
      data-ajax-success="SaveEq">
    <input asp-for="Id" type="hidden" />
    <input asp-for="ShopUserId" type="hidden" />
    <div class="row">

        <div class="col-12 form-group">
            <label class="label">انتخاب مشتری نیکان:</label>
            @(
                 Html.Kendo().ComboBox()
                .Name("NikanCustomerId")
                .DataTextField("Text")
                .DataValueField("Value")
                .Value(Model.Id>0?Model.NikanCustomerId.ToString():"")
                .Placeholder("انتخاب مشتری")
                .Filter(FilterType.Contains)
                .HtmlAttributes(new { style = "width: 100%;" })
                .BindTo((List<SelectListItem>)ViewBag.NikanUsers)
            )
            <span asp-validation-for="NikanCustomerId" class="nikan-val-msg text-danger"></span>
        </div>
    </div>

    <hr />
    <div>
        <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
        <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
       function SaveEq(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('UserGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }
</script>







