﻿@model Shop.Areas.Admin.Models.User.EditUserModel

<form id="JobForm" method="post"
      data-ajax-url="/Admin/User/EditUser"
      data-ajax="true"
      data-ajax-success="SaveUser">
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-12">
            <div class="form-group k-content k-rtl">
                @(Html.Kendo().MultiSelectFor(m => m.UserRoleNames)
                                    .Placeholder(T["msg.SelectItem"].Value)
                                    .DataTextField("Text").DataValueField("Value")
                                    .HtmlAttributes(new { @class = "form-control" })
                                    .BindTo((IEnumerable<SelectListItem>)ViewBag.Roles)
                )
            </div>
        </div>
        <div class="col-12 form-check">
            <label class="form-check-label" for="IsActive">
                وضعیت:
            </label>
            <input asp-for="IsActive" class="form-check-input mr-1" type="checkbox" />
        </div>
    </div>
    <div class="form-group mt-2">
        <div class="row col-12">
            <div class="col-6">
                <button type="submit" class=" k-button btn-block">ذخیره</button>
            </div>
            <div class="col-6">
                <button type="button" class=" k-button btn-block" onclick="CloseModal(WindowNameInLayout);">بستن</button>
            </div>
        </div>
    </div>
</form>

<script>
    function SaveUser(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('UserGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }

</script>







