﻿@{
    var UserGridName = "UserGrid";
    ViewBag.Title = "مدیریت کاربران";
}
    <style>
        div#UserGrid .k-grid-content {
            max-height: 400px !important;
        }
    </style>

<h6 class="text-center">@ViewBag.Title</h6>
<hr class="k-header" />
<div class="k-rtl">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.User.UserIndexModel>()
                    .Name(UserGridName)
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.Id).Title("#").ClientTemplate("#= UserGridIndex=IncrementRowNumber(UserGridIndex) #").Width(20).Sortable(false).Filterable(false);
                        columns.Bound(p => p.Username).Title("نام کاربری").HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.FirstName).Title("نام").HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.LastName).Title("نام خانوادگی").HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.Roles).Title("نقش").HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(c => c.NikanUserId).Width(150).Title("کد معادل در نیکان");
                        columns.Bound(p => p.IsActive).Title("وضعیت").HeaderHtmlAttributes(new { @class = "text-right" })
                        .ClientTemplate("#if(IsActive==true){# <span class='text-info'>فعال</span> #} else {# <span class='text-danger'>غیرفعال</span> #}#")
                                        .HeaderHtmlAttributes(new { @class = "text-right" }).Filterable(false);
                        columns.Bound(p => p.Id).ClientTemplate(""+"<a class='btn-sm mx-1 k-button' onclick='EditUser(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>"+
                                                                 "<a class='k-button btn-sm  m-1' onclick='UserEq(#= data.Id #)'><span class='k-icon k-i-link-horizontal'></span>&nbsp;معادل سازی</a>" +
                                                                "<a class='btn-sm mx-1 k-button' onclick='SetNewPass(#= data.Id #)'><span class='k-icon k-i-lock'></span>&nbsp;رمز جدید</a>")
                        .Title("عملیات").Width(320).Filterable(false).Sortable(false);
                    })
                    .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='CreateUser()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
                    .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                    .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
                    .Scrollable(s => s.Height("auto"))
                    .Resizable(resize => resize.Columns(true))
                    .Reorderable(reorder => reorder.Columns(true))
                    .DataSource(dataSource => dataSource
                        .WebApi()
                        .Sort(sort => sort.Add(m => m.Id).Ascending())
                        .Model(model => { model.Id(p => p.Id); })
                        .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "User", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
                    )
                    .Events(events => events.DataBinding("UserGridDataBinding"))
    )

</div>

<script>
    var UserGridIndex = 0;

    function UserGridDataBinding() {
        UserGridIndex = GridDataBinding('@UserGridName');
    }

      function UserEq(id) {
           OpenModal('@Url.Action("CreateEquivalent")' + '/' + id, null, WindowNameInLayout, 'معادل سازی', 'md');
        }

     function CreateUser() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'کاربر جدید');
        }

    function EditUser(id) {
         OpenModal('@Url.Action("EditUser")'+"/"+id,null, WindowNameInLayout, 'ویرایش کاربر','md');
    }
     function SetNewPass(id) {
         OpenModal('@Url.Action("SetNewPassword")'+"/"+id,null, WindowNameInLayout, 'اختصاص رمز جدید','sm');
    }

</script>


