﻿@model Shop.Services.Dto.Slider.SliderModel


@if (Model != null && !String.IsNullOrEmpty(Model.SliderUrl))
{
    <div class="row col-12 p-0 m-0 justify-content-center my-2">
        <div class="col-12">
            <img class="img-fluid rounded text-center" src="@Model.SliderUrl" />
        </div>
    </div>
}



