﻿@model Shop.Areas.Admin.Models.Product.ProductShopIndexModel

<div onclick="viewProduct(@Model.Id,'@Model.Name.CleanUrl()')" class="card nikan-card hover-shine align-items-center">

    @*<figure>*@
    <img onclick="viewProduct(@Model.Id,'@Model.Name.CleanUrl()')" class="card-img-top text-center mx-auto pt-2" width="200" src="@((!String.IsNullOrEmpty(Model.ImageUrl)?Model.ImageUrl:"/images/no-image200.png"))" alt="@Model.Name">
    @*</figure>*@
    @if (Model.Inventory > 0 || Model.HasTraitInventory)
    {
        <p class="inventory"><i class="fas fa-square text-success ml-2"></i>موجود</p>
    }
    else
    {
        @*<p class="inventory"><i class="far fa-square ml-2"></i>ناموجود</p>*@
        <p class="inventory"><i class="fas fa-square text-danger ml-2"></i>ناموجود</p>
    }

    @*@if (Model.HasDiscount)
        {
            <span class="badge badge-danger discount-percent">@Model.DiscountPercentage</span>
        }*@
<div onclick="viewProduct(@Model.Id,'@Model.Name.CleanUrl()')" class="card-body text-center card-product-body p-1">
    <a href="/product/@Model.Id/@Model.Name.CleanUrl()" class="text-center zoom product-title">@Model.Name</a>
    @if (Model.HasDiscount)
    {
        <span class="badge badge-danger discount-percent">@Model.DiscountPercentage</span>
    }
    @if (Model.HasDiscount)
    {
        <div class="row col-12 p-0 pt-5 m-0">
            @*<div class="col-12 text-left">
                    <span class="badge badge-danger p-1">@Model.DiscountPercentage</span>
                    <p><del>@(Model.Price.ToString("N0"))</del></p>
                </div>*@
            <div class="col-12 text-center" style="direction:rtl;">
                @if (Model.Price == 0)
                {
                    <p class="price-with-discount price"></p>
                    <p class="m-0 price"></p>
                }
                else
                {
                    <p class="price-with-discount price"><del>@(Model.Price.ToString("N0"))</del><span class="main-price-unit" style="color:white">@ViewBag.Unit</span></p>
                    <p class="m-0 price"> @(Model.PriceWithDiscount.ToString("N0")) <span class="price-unit">@ViewBag.Unit</span></p>
                }
            </div>
        </div>
    }
    else
    {
        <div class="row col-12 p-0 m-0 pt-5">

            <div class="col-12 text-center">
                @if (Model.Price == 0)
                {
                    <p class="m-0 price no-discount"></p>
                }
                else
                {
                    <p class="m-0 price no-discount"> @(Model.Price.ToString("N0")) <span class="price-unit">@ViewBag.Unit</span></p>
                }
            </div>
        </div>
    }
</div>

    <div class="card-footer">
        <div class="row col-12 p-0 m-0 align-items-center">
            @*<div class="col-2 p-0 inv justify-content-center align-self-center text-center">
                    @if (Model.Inventory > 0)
                    {
                        <p>موجود</p>
                    }
                    else
                    {
                        <p>ناموجود</p>
                    }
                </div>*@

            <div class="col-12">
                @if ((Model.Inventory > 0 || Model.HasTraitInventory) && Model.Price > 0)
                {
                    <a href="/product/@Model.Id/@Model.Name.CleanUrl()" class="btn btn-block btn-shop text-white">افزودن به سبد خرید</a>
                }
                else
                {
                    <button type="button" disabled class="btn btn-block btn-shop text-white">افزودن به سبد خرید</button>
                }
            </div>
            @*<div class="col-2 shop-cart">
                    <i class="fas fa-shopping-cart text-success"></i>
                </div>*@

        </div>
    </div>

</div>


