﻿@model Shop.Services.Dto.Brand.BrandModel

<form id="brandForm" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)

    <div class="row">

        <div class="col-12 form-group">
            <label class="control-label">نام برند:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="col-12 form-group">
            <div class="card border-0">
                <div class="card-img text-center">
                    <img id="previewImg" class="img-fluid" src="@((!String.IsNullOrEmpty(Model.ImageUrl)?Model.ImageUrl:"/images/no.png"))" />
                </div>
                <a id="ImgBtn" class="mt-1 btn btn-sm btn-secondary btn-rounded text-white"><i class="fas fa-paperclip"></i>&nbsp;تصویر برند</a>
            </div>
            <input asp-for="ImageUrl" type="file" class="d-none form-control" style="display: none!important;" />
        </div>

    </div>

    <hr />
    <div>
        <button type="submit" class="k-button"><span class="k-icon k-i-check"></span>&nbsp;ذخیره&nbsp;</button>
        <button type="button" class="k-button" onclick="CloseModal(WindowNameInLayout);"><span class="k-icon k-i-cancel"></span>&nbsp;انصراف&nbsp;</button>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    var ImageUrl = "";
    $("#ImgBtn").on('click', function () {
        $("#ImageUrl").click();
    });
    $(function () {
        ImageUrl = $("#previewImg").attr("src");
    });
    $("#ImageUrl").change(function () {
        if (!this.files.length) {
            $("#previewImg").attr('src', ImageUrl);
            return;
        }
        //چک کردن فرمت فایل.فقط فرمت تصویری مجاز است
        var mimeType = this.files[0]['type'];
        if (mimeType.split('/')[0] !== 'image') {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'شما فقط مجاز به انتخاب فایل تصویری می باشید',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            this.value = null;
            return;
        }
        //چک کردن حجم تصویر
        if (this.files[0].size > 512001) {
            $("#previewImg").attr('src', ImageUrl);
            //نمایش هشدار
            $.alert({
                icon: 'fas fa-exclamation-triangle',
                title: "هشدار",
                columnClass: 'medium',
                rtl: true,
                draggable: true,
                theme: 'supervan',
                content: 'حداکثر حجم مجاز برای تصویر 500 کیلوبایت می باشد!',
                type: 'primary',
                typeAnimated: true,
                buttons: {
                    close: {
                        text: 'بستن',
                        btnClass: 'btn-primary',
                        action: function () {
                        }
                    }
                }
            });
            //هشدار
            this.value = null;
            return;
        }

        //نمایش تصویر
        if (this.files && this.files[0]) {

            var reader = new FileReader();
            reader.readAsDataURL(this.files[0]);
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    if (height != 200 || width != 200) {
                        //نمایش هشدار
                        $.alert({
                            icon: 'fas fa-exclamation-triangle',
                            title: "هشدار",
                            columnClass: 'medium',
                            rtl: true,
                            draggable: true,
                            theme: 'supervan',
                            content: 'سایز مجاز برای تصویر 200*200 می باشد',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                close: {
                                    text: 'بستن',
                                    btnClass: 'btn-warning',
                                    action: function () {
                                    }
                                }
                            }
                        });
                        //هشدار
                        main.value = null;
                        return;
                    }
                    $("#previewImg").attr('src', e.target.result);
                    reader.readAsDataURL(this.files[0]);
                }
            }

        }
        else {
            $("#previewImg").attr('src', ImageUrl);
        }
    });
</script>

<script>
  $("#brandForm").on('submit', function (e) {
      e.preventDefault();
            if (!$("#brandForm").valid()) {
                return;
            }
            var form = $("#brandForm")[0];
            var formData = new FormData(form);
            if (@Model.Id> 0) {
                $.ajax({
                    url: "/api/Brand/Edit",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    mimeType: "multipart/form-data"
                }).done(function (result) {
                    result = $.parseJSON(result);
                    if (result.Success) {
                        CloseModal(WindowNameInLayout);
                       RefreshKendoGrid('BrandGrid');
                    }
                    else {
                         nikan.notify("error", "خطا", result.Message);
                    }
                });
            }
            else {
                   $.ajax({
                url: "/api/Brand/Create",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                mimeType: "multipart/form-data"
                   }).done(function (result) {
                result = $.parseJSON(result);
                if (result.Success) {
                      CloseModal(WindowNameInLayout);
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('BrandGrid');
                }
                else {
                     nikan.notify("error", "خطا", result.Message);
                }
            });
            }

        });
</script>








