﻿@{
    ViewData["Title"] = "برند ها";
    var BrandGridName = "BrandGrid";
}
    <style>
        div#BrandGrid .k-grid-content {
            max-height: 400px !important;
        }
    </style>
<h6 class="text-center">برند ها</h6>
<div class="k-rtl container-fluid p-0">

    @(Html.Kendo().Grid<Shop.Services.Dto.Brand.BrandModel>()
       .Name(BrandGridName)
       .Columns(columns =>
       {
           columns.Bound(o => o.Id).Title("#").ClientTemplate("#= BrandGridIndex=IncrementRowNumber(BrandGridIndex) #").Width(30).HeaderHtmlAttributes(new { @class = "text-right" }).Sortable(false).Filterable(false);
           columns.Bound(c => c.Title).Title("نام برند");

           columns.Bound(p => p.Id).ClientTemplate("" +
               "<a class='k-button btn-sm  m-1' onclick='EditBrand(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>"+
               "<a class='k-button btn-sm  m-1' onclick='DeleteBrand(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>")
           .Title("عملیات").Width(300).HeaderHtmlAttributes(new { @class = "text-right" });
       })
       .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='InsertBrand()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
       .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
       .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
       .Scrollable(s => s.Height("auto"))
       .Resizable(resize => resize.Columns(true))
       .Reorderable(reorder => reorder.Columns(true))
       .DataSource(dataSource => dataSource
           .WebApi()
           .Sort(sort => sort.Add(m => m.Id).Descending())
           .Model(model => { model.Id(p => p.Id); })
           .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Brand", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
       )
       .Events(events => events.DataBinding("BrandGridDataBinding"))
    )

</div>


@section Scripts
    {
    <script>

        var BrandGridIndex = 0;

        function BrandGridDataBinding() {
            BrandGridIndex = GridDataBinding('@BrandGridName');
        }

        function InsertBrand() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'افزودن','sm');
        }

        function EditBrand(id) {
            OpenModal('/api/Brand/Edit'+'/' + id, null, WindowNameInLayout, 'ویرایش', 'sm');
        }

        function DeleteBrand(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف برند هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Brand/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@BrandGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
