﻿@model Shop.Models.ShopCard.ShippingModel
@using NikanBase.Core.Enums
@{
    ViewData["Title"] = "پرداخت فاکتور";
    int i = 1;
    List<string> messages = ViewBag.Messages as List<string>;
}

<div class="container mt-5 pt-5">
    @if (messages.Count() > 0)
    {
        <div class="alert alert-danger" role="alert">
            <ul>
                @foreach (var msg in messages)
                {
                    <li>@msg</li>
                }
            </ul>
        </div>
    }
    <table class="table table-hover table-bordered text-center bg-white shopcardtbl">
        <tr class="bg-secondary text-white">
            <th>ردیف</th>
            <th>نام کالا</th>
            <th>مشخصه</th>
            <th>تعداد</th>
            <th>مبلغ</th>
            <th>مبلغ اضافه شده</th>
            <th>جمع</th>
        </tr>
        @foreach (var item in Model.Card)
        {
            <tr id="tr_@item.Product.Id">
                <td>@i</td>
                <td>
                    <a href="/product/@item.Product.Id/@item.Product.Name.CleanUrl()" class="text-center"> @item.Product.Name</a>
                </td>
                <td>@item.Product.TraitText</td>
                <td>@item.Product.Count</td>
                <td>@item.Product.PriceWithDiscount.ToString("N0")</td>
                <td>@item.Product.PriceIncrease.ToString("N0")</td>
                <td>@(((item.Product.PriceWithDiscount + item.Product.PriceIncrease) * item.Product.Count).ToString("N0"))</td>
            </tr>
            i++;
        }
        <tr>
            <td colspan="3" class="text-center justify-content-center">جمع</td>
            <td>@Model.Card.Sum(x => x.Product.Count)</td>
            @*<td>@(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceWithDiscount)).ToString("N0")) تومان</td>
                <td> @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</td>*@
            <td colspan="3">
                @if (Model.Card.Sum(x => x.Product.DiscountAmount) > 0)
                {
                    <p><del>کل:@(Model.Card.Sum(x => (x.Product.Count * x.Product.Price)).ToString("N0")) تومان</del></p>
                    <p>تخفیف: @(Model.Card.Sum(x => (x.Product.Count * x.Product.DiscountAmount)).ToString("N0")) تومان</p>
                    <p>اضافه شده: @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</p>
                    <p>قابل پرداخت: @(Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease))).ToString("N0")) تومان</p>
                }
                else
                {
                    <p>اضافه شده: @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</p>
                    <p>قابل پرداخت: @(Model.Card.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount + x.Product.PriceIncrease))).ToString("N0")) تومان</p>
                }
            </td>
        </tr>
    </table>

    <form method="post" asp-controller="ShopCard" asp-action="ConfirmOrder">
        <input asp-for="OrderId" type="hidden" />
        <div class="row col-12">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Address" class="control-label">آدرس تحویل سفارش :</label>
                    <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-4 form-group">
                <label class="control-label">درگاه:</label>
                <select asp-for="PaymentTypes" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Payments)">
                </select>
                <span asp-validation-for="PaymentTypes" class="text-danger"></span>
            </div>*@
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentTypes" id="mellat" value="@PaymentTypes.Mellat" checked>
                    <label class="form-check-label" for="mellat">
                        <img src="~/images/mellat.png" width="80" class="img-circle img-fluid" title="ملت" alt="ملت" />
                    </label>
                </div>
            </div>  
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentTypes" id="zarinpal" value="@PaymentTypes.ZarinPal">
                    <label class="form-check-label" for="zarinpal">
                        <img src="~/images/zarinpal.png" width="80" class="img-circle img-fluid" title="زرین پال" alt="زرین پال" />
                    </label>
                </div>
            </div>

        </div>
        <div class="row col-12 justify-content-end  mb-5 pb-5">
            <button type="submit" class="btn btn-lg btn-danger">پرداخت</button>
        </div>
    </form>

</div>


