﻿@model List<Shop.Services.Dto.Product.ShopCardModel>

@{
    ViewData["Title"] = "سبد خرید";
    int i = 1;
    List<string> messages = ViewBag.Messages as List<string>;
}
<div class="container site-logo">
    <div id="showcart">
        @if (ViewBag.IsFull)
        {
            <h4 class="text-center mt-3 pt-3">سبد خرید شما</h4>
            @if (ViewBag.IsFacor)
            {
                <p>شماره فاکتور: @ViewBag.FactorNumber</p>
            }
            @if (messages.Count() > 0)
            {
                <div class="alert alert-danger" role="alert">
                    <ul>
                        @foreach (var msg in messages)
                        {
                            <li>@msg</li>
                        }
                    </ul>
                </div>
            }
            <table class="table table-hover table-bordered text-center bg-white shopcardtbl">
                <tr class="bg-secondary text-white">
                    <th>ردیف</th>
                    <th>تصویر</th>
                    <th>نام کالا</th>
                    <th>مشخصه</th>
                    <th>تعداد</th>
                    <th>مبلغ</th>
                    <th>تخفیف</th>
                    <th>اضافات</th>
                    <th>قابل پرداخت</th>
                    <th>عملیات</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr id="tr_@item.Product.Id">
                        <td>@i</td>
                        <td><img src="@item.Product.ImageUrl" class="img-fluid rounded" width="50" alt="@item.Product.Name" /></td>
                        <td>
                            <a href="/product/@item.Product.Id/@item.Product.Name.CleanUrl()" class="text-center"> @item.Product.Name</a>
                        </td>
                        <td>@item.Product.TraitText</td>
                        <td>@item.Product.Count</td>
                        <td>@item.Product.Price.ToString("N0")</td>
                        <td>@item.Product.DiscountAmount.ToString("N0")</td>
                        <td>@item.Product.PriceIncrease.ToString("N0")</td>
                        <td>@(((item.Product.PriceWithDiscount+item.Product.PriceIncrease) * item.Product.Count).ToString("N0"))</td>
                        <td>
                            @if (item.Product.ProductTraitId.HasValue)
                            {
                                <a class="btn btn-sm btn-default btn-add-cart" onclick="PlusToCartWithTrait(@item.Product.Id,@item.Product.ProductTraitId.Value)"><i class="fas fa-plus text-white"></i></a>
                                <a class="btn btn-sm btn-default btn-minus-cart" onclick="MinesToCartWithTrait(@item.Product.Id,@item.Product.ProductTraitId.Value)"><i class="fas fa-minus text-white"></i></a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-default btn-add-cart" onclick="PlusToCart(@item.Product.Id)"><i class="fas fa-plus text-white"></i></a>
                                <a class="btn btn-sm btn-default btn-minus-cart" onclick="MinesToCart(@item.Product.Id)"><i class="fas fa-minus text-white"></i></a>
                            }
                            <a class="btn btn-sm btn-default btn-remove-cart" onclick="RemoveFromCart(@item.Product.Id)"><i class="far fa-trash-alt text-white"></i></a>
                        </td>
                    </tr>
                    i++;
                }
                <tr>
                    <td colspan="4" class="text-center justify-content-center">جمع کل</td>
                    <td >@Model.Sum(x => x.Product.Count)</td>
                    <td colspan="5">
                        @if (Model.Sum(x => x.Product.DiscountAmount) > 0)
                        {
                            <p><del>کل:@(Model.Sum(x => (x.Product.Count * (x.Product.Price+x.Product.PriceIncrease))).ToString("N0")) تومان</del></p>
                            <p>تخفیف: @(Model.Sum(x => (x.Product.Count * x.Product.DiscountAmount)).ToString("N0")) تومان</p>
                            <p>اضافات: @(Model.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</p>
                            <p>سود خرید: @(
                               (Model.Sum(x => (x.Product.Count * (x.Product.Price+x.Product.PriceIncrease)))- Model.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount+x.Product.PriceIncrease)))).ToString("N0")
                                ) تومان</p>
                            <p>قابل پرداخت: @(Model.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount+x.Product.PriceIncrease))).ToString("N0")) تومان</p>
                        }
                        else
                        {
                            <p>اضافات: @(Model.Sum(x => (x.Product.Count * x.Product.PriceIncrease)).ToString("N0")) تومان</p>
                            <span>قابل پرداخت: @(Model.Sum(x => (x.Product.Count * (x.Product.PriceWithDiscount+x.Product.PriceIncrease))).ToString("N0")) تومان</span>
                        }
                    </td>
                </tr>
            </table>

            @if (ViewBag.Status && ViewBag.IsFacor)
            {
                <div class="row col-12 justify-content-end  mb-5 pb-5">
                    <a asp-action="confirmOrder" asp-controller="ShopCard" asp-route-factorNumber="@Model.FirstOrDefault().OrderNumber" class="btn btn-lg btn-danger">پرداخت و ثبت نهایی سفارش</a>
                </div>
            }
            @if (ViewBag.Status && !ViewBag.IsFacor)
            {
                <div class="row col-12 justify-content-end  mb-5 pb-5">
                    <a href="/shipping" class="btn btn-lg btn-danger">ادامه فرآیند خرید</a>
                </div>
            }
            else if (!ViewBag.Status)
            {
                <div class="row col-12 justify-content-end  mb-5 pb-5">
                    <p>فاکتور نیاز به اصلاح دارد</p>
                </div>
            }


        }
        else
        {
            <h4 class="text-center text-danger mt-5 pt-5">سبد خرید شما خالی می باشد!</h4>
        }
    </div>
</div>
@section Scripts{
    <script>
        function PlusToCartWithTrait(id, traitId) {
            $.ajax({
                url: "/PlusToCard/" + id + "/" + traitId,
                type: "Get"
            }).done(function (res) {
                if (res) {
                    $("#shopcart").load("/ShopCard/ShopCardCount");
                    $("#showcart").load("/ShopCard/index");
                }
            });
        }

        function MinesToCartWithTrait(id, traitId) {
            $.ajax({
                url: "/MinesToCard/" + id + "/" + traitId,
                type: "Get"
            }).done(function (res) {
                if (res) {
                    $("#shopcart").load("/ShopCard/ShopCardCount");
                    $("#showcart").load("/ShopCard/index");
                }
            });
        }
    </script>
}