﻿@model Shop.Services.Dto.Getway.MellatPaymentResult

@{
    ViewData["Title"] = "پرداخت آنلاین";
}

    <div class="container text-center">
        @if (Model.IsSuccess)
        {
            <h6 class="alert alert-success text-center">کد پیگیری:@Model.Message</h6>
            <h6 class="text-center">کد پیگیری:@Model.TransactionNumber</h6>
            <h6 class="text-center">کد مرجع:@Model.RefNumber</h6>
        }
        @if (!Model.IsSuccess)
        {
            <h6 class="alert alert-danger text-center">@Model.Message</h6>
        }
    </div>

