﻿@model Shop.Models.ShopCard.ShippingModel
@{
    ViewData["Title"] = "فرایند خرید";
    int i = 1;
}
<div class="container mt-5 pt-5">
    <table class="table table-hover table-bordered text-center bg-white shopcardtbl">
        <tr class="bg-secondary text-white">
            <th>ردیف</th>
            <th>نام کالا</th>
            <th>تعداد</th>
            <th>مبلغ</th>
            <th>جمع</th>
        </tr>
        @foreach (var item in Model.Card)
        {
            <tr id="tr_@item.Product.Id">
                <td>@i</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Count</td>
                <td>@item.Product.PriceWithDiscount.ToString("N0")</td>
                <td>@((item.Product.PriceWithDiscount * item.Product.Count).ToString("N0"))</td>
            </tr>
            i++;
        }
        <tr>
            <td colspan="2" class="text-center justify-content-center">جمع تعداد</td>
            <td>@Model.Card.Sum(x => x.Product.Count)</td>
            <td>مبلغ کل</td>
            @*<td> @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceWithDiscount)).ToString("N0")) تومان</td>*@
            <td>
                @if (Model.Card.Sum(x => x.Product.DiscountAmount) > 0)
                {
                    <p><del>کل:@(Model.Card.Sum(x => (x.Product.Count * x.Product.Price)).ToString("N0")) تومان</del></p>
                    <p>تخفیف: @(Model.Card.Sum(x => (x.Product.Count * x.Product.DiscountAmount)).ToString("N0")) تومان</p>
                    <p>قابل پرداخت: @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceWithDiscount)).ToString("N0")) تومان</p>
                }
                else
                {
                    <span>قابل پرداخت: @(Model.Card.Sum(x => (x.Product.Count * x.Product.PriceWithDiscount)).ToString("N0")) تومان</span>
                }
            </td>
        </tr>
    </table>

    <form method="post" asp-controller="ShopCard" asp-action="Shipping">
        <div class="row col-12">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Address" class="control-label">آدرس تحویل سفارش :</label>
                    <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row col-12 justify-content-end  mb-5 pb-5">
            <button type="submit" class="btn btn-lg btn-danger">ادامه فرآیند خرید</button>
        </div>
    </form>

</div>


