﻿@model List<Shop.Areas.Admin.Models.Category.CategoryModel>

<div class="container site-logo">
    <div class="row col-12 justify-content-center">
        <img class="img-fluid" width="150" src="~/images/logoBig.png" alt="@T["layout-title"].Value" />
    </div>
    <div class="row col-12 justify-content-center">
        <h3 class="prdTitleColore">محصولات و فروشگاه</h3>
    </div>
</div>

@if (Model.Count > 0)
{

    <div class="container my-3">
        <div class="row col-12 justify-content-start products">
            @foreach (var cat in Model)
            {
                <div class="col-lg-2 col-md-2 col-sm-3 col-4 my-1 p-0">
                    <div class="card mx-1">
                        <img class="card-img-top" src="@((!String.IsNullOrEmpty(cat.ImageUrl)?cat.ImageUrl:"/images/no.png"))" alt="@cat.Title">
                        <div class="card-footer text-center">
                            <a href="/category/@cat.Id/@cat.Title.CleanUrl()">@cat.Title</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}

