﻿@model List<Shop.Areas.Admin.Models.Product.ProductShopIndexModel>

@if (Model.Count > 0)
{

    <div class="container my-3 site-logo mb-5">
        <div class="row product">
            @foreach (var prd in Model)
            {
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-3 card-col">
                @await Component.InvokeAsync("BaseCard", prd)
            </div>
            }
        </div>
    </div>

}

@section Scripts{
    <script>
        //function viewProduct(id, name) {
        //    window.location.href = '/product/' + id + '/' + name;
        //}
    </script>
}