﻿@model Shop.Services.Dto.Setting.WebsiteSettingModel
@{
    ViewData["Title"] = "درباره ما";
}

<!--about-->
<div class="container-fluid site-logo">
    @*<div class="row col-12 justify-content-center">
            <img class="img-fluid" width="150" src="~/images/logoBig.png" alt="@T["layout-title"].Value" />
        </div>*@
    <div class="row col-12 mt-5 mb-5">
        <!--leyloun-->
        @*<p class="text-justify text-center">
                زندگی ماشینی، تکنولوژی، سرعت در شهرها، این مفهوم ها به خوردن و آشامیدن مان هم راه یافته اند و وزن مفهوم «سلامتی» کاهش یافته است. درحال حاضر در کشورهای پیشرفته، برای بیرون آوردن تغذیه، غذاها و مواد غذایی و آشامیدنی از چنگال تکنولوژی، برنامه ریزی های وسیعی انجام می شود تا به وضعیت طبیعی نزدیک تر شوند. از دیرباز این مسئله ذهنم را مشغول کرده بود که برای بالا بردن سلامتی در شرایط زندگی سریع و تکنولوژیک، چگونه می شود برنامه ریزی نمود. از سال 1368 شروه به تحقیقات و کسب تجربه نمودم و امروزه به این نتیجه رسیدم که بدون وقت گذاشتن، اهمیت دادن، و برنامه ریزی برای سلامتی، تقریبا نمی شود «غذا و نوشیدنی سالم» میل کرد.
            </p>
            <p class="text-justify text-center">
                علاوه بر شرایط رشد و پرورش گیاهان و میوه جاتی که مواد غذایی از آن ها تهیه می شوند، این مواد غذایی باید عاری از انواع مواد نگهدارنده و ترکیبات و طعم دهنده های صنعتی باشند. انواع محصولات را به جای ترکیبات صنعتی، میتوان با انواع طعم دهنده های طبیعی تهیه شده از گیاهان و میوه جات طعم دار نمود. فرهنگ سنتی غنی ما و سایر کشورها حامل بسیاری از خلاقیت ها و روش های کاملا طبیعی است که می توانیم برای برنامه ریزی سلامت غذایی مان از آن ها کمک بگیریم. گردآوری و عرضه این روش ها در برنامه ریزی غذایی هموطنان عزیز، همواره آرزوی من بوده است.امیدواریم مجموعه تلاش هایمان برای تحقیقات و طراحی مواد غذایی، گام مفیدی باشد برای «برنامه ریزی سلامتی غذا»ی شما دوستداران سلامتی.
            </p>*@
        <!--leyloun-->
        @if (Model != null && !String.IsNullOrEmpty(Model.AboutUs))
        {
            <p>@Html.Raw(Model.AboutUs)</p>
        }
    </div>
</div>
<!--about-->
