﻿@using Shop.Core.Domain.Shop
@using System.Text.RegularExpressions;
@model Shop.Models.Message.MessageModel
@{
    ViewData["Title"] = "تماس با ما";
}
<!--Neshan Css-->
<link href="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css" rel="stylesheet" type="text/css">
<link href="~/libs/leafLet/css/leaflet-routing-machine.css" rel="stylesheet" />
<link href="~/libs/leafLet/css/leaflet.draw.css" rel="stylesheet" />
<link href="~/libs/leafLet/css/leaflet.awesome-markers.css" rel="stylesheet" />
<!--Neshan Css-->

<div class=" contact-us-section">
    <div class="container">
        <div class="row col-12 p-0 m-0 justify-content-center">
            <div class="col-7">
                <div class="row col-12">
                    <div class="col-12 p-0 m-0 contact-form">
                        <form id="contact-form" method="post" asp-controller="Home" asp-action="ContactUs">
                            <div class="row col-12">
                                <div class="col-6 form-group">
                                    <input asp-for="FullName" class="form-control" placeholder="نام و نام خانوادگی" />
                                    <span asp-validation-for="FullName" class="nikan-val-msg text-danger"></span>
                                </div>
                                <div class="col-6 form-group">
                                    <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                                    <span asp-validation-for="Email" class="nikan-val-msg text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="col-6 form-group">
                                    <input asp-for="Phone" class="form-control" placeholder="همراه" />
                                    <span asp-validation-for="Phone" class="nikan-val-msg text-danger"></span>
                                </div>

                                <div class="col-6 form-group">
                                    <input asp-for="Subject" class="form-control" placeholder="عنوان" />
                                    <span asp-validation-for="Subject" class="nikan-val-msg text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="col-12 form-group">
                                    <textarea asp-for="Description" rows="8" class="form-control" placeholder="توضیحات"></textarea>
                                    <span asp-validation-for="Description" class="nikan-val-msg text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-12 justify-content-center">
                                <div class="col-12 form-group">
                                    <button id="btn-contact" type="submit" class="btn btn-block btn-primary">ارسال</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row col-12">
                    @if (!String.IsNullOrEmpty(ViewBag.ShopAddress))
                    {
                        <div class="col-12">
                            <p>آدرس:</p>
                            <p>@ViewBag.ShopAddress</p>
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.Phones))
                    {
                        string[] phones = Regex.Split(ViewBag.Phones, @"\r?\n|\r");
                        <div class="col-12">
                            <p>شماره تماس:</p>
                            @foreach (var item in phones)
                            {
                                <p>@item</p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.error != null)
{
    <div style="z-index:9999999999999999" class="text-center offset-3 col-6 alert alert-warning alert-dismissible fade show fixed-top" role="alert">
        <h6 class="text-dark text-center">@ViewBag.error</h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.success != null)
{
    <div style="z-index:9999999999999999" class="text-center offset-3 col-6 alert alert-success alert-dismissible fade show fixed-top" role="alert">
        <h6 class="text-dark text-center">@ViewBag.success</h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $(".alert").fadeOut(6000);

        });
    </script>

    @*<script src="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.js" type="text/javascript"></script>
        <script src="~/libs/leafLet/js/leaflet-routing-machine.min.js"></script>
        <script src="~/libs/leafLet/js/L.Polyline.SnakeAnim.js"></script>
        <script src="~/libs/leafLet/js/route.js"></script>
        <script src="~/libs/leafLet/js/leaflet.draw.js"></script>
        <script src="~/libs/leafLet/js/leaflet.awesome-markers.min.js"></script>
        <script src="~/libs/leafLet/js/leaflet.textpath.js"></script>
        <script>
            var map = new L.Map('map', {
                key: 'web.dTOx3dJPU7jOcHICsuQqIFvt5sjLZL6dEUKI8uy3',
                maptype: 'dreamy',
                poi: true,
                traffic: true,
                center: [29.6163064, 52.5013497],
                zoom: 15,
                drawControl: false
            });
            var marker = L.marker([29.6163064, 52.5013497]).addTo(map).bindTooltip("دفتر شیراز",
                {
                    permanent: true,
                    direction: 'auto',
                    sticky: true,
                    className: 'tooltip'
                });

            var teharnmap = new L.Map('teharnmap', {
                key: 'web.dTOx3dJPU7jOcHICsuQqIFvt5sjLZL6dEUKI8uy3',
                maptype: 'dreamy',
                poi: true,
                traffic: true,
                center: [35.741060, 51.300584],
                zoom: 15,
                drawControl: false
            });
            var tehmarker = L.marker([35.741060, 51.300584]).addTo(teharnmap).bindTooltip("دفتر تهران",
                {
                    permanent: true,
                    direction: 'auto',
                    sticky: true,
                    className: 'tooltip'
                });
        </script>*@
}