﻿@{
    ViewData["Title"] = "صفحه اصلی";
}

@await Component.InvokeAsync("Carousel")
<!-- for leyloun -->
@*@await Component.InvokeAsync("LeylounIndex")*@
<!-- for leyloun -->


@await Component.InvokeAsync("ProductGalleryResource", ResourceTypes.New)
@await Component.InvokeAsync("ProductGalleryResource", ResourceTypes.Special)
@await Component.InvokeAsync("SliderRighLeft")
@await Component.InvokeAsync("ProductGalleryResource", ResourceTypes.BestSellersCount)
@await Component.InvokeAsync("ProductGalleryResource", ResourceTypes.BestSellersPrice)
@await Component.InvokeAsync("SliderAdv")

@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoleNames.User))
{
    @await Component.InvokeAsync("ProductGalleryResource", ResourceTypes.LastVisit)
}

@await Component.InvokeAsync("MainCategory")
@await Component.InvokeAsync("Brands")

<!--StarLand-->
@*<div class="container-fluid p-0 starland-landing">
        <img class="img-fluid" src="~/images//STARLAND.jpg" alt="استارلند" />
    </div>*@
<!--StarLand-->

@section Scripts{
    <script>
        $(document).ready(function () {

               $(".owl-brand ").owlCarousel({
                animateOut: 'zoomOut',
                animateIn: 'zoomIn',
                rtl: true,
                center: false,
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                dots: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    700: {
                        items: 4
                    },
                    800: {
                        items: 4
                    },
                    1000: {
                        items: 4
                    },
                    1350: {
                        items: 5
                    },
                     1500: {
                        items: 6
                    },
                    2000: {
                        items:8
                    }
                }
                 });
            $(".owl-main-cat ").owlCarousel({
                animateOut: 'zoomOut',
                animateIn: 'zoomIn',
                rtl: true,
                center: false,
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                dots: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    700: {
                        items: 4
                    },
                    800: {
                        items: 4
                    },
                    1000: {
                        items: 6
                    },
                    1350: {
                        items: 6
                    },
                     1500: {
                        items: 8
                    },
                    2000: {
                        items:10
                    }
                }
                 });

            $(".owl-carousel").owlCarousel({
                animateOut: 'zoomOut',
                animateIn: 'zoomIn',
                rtl: true,
                center: false,
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                dots: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    700: {
                        items: 2
                    },
                    800: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    },
                    1350: {
                        items: 4
                    },
                     1500: {
                        items: 5
                    },
                    2000: {
                        items:8
                    }
                }
            });      
        });
    </script>
}