﻿@{
    ViewData["Title"] = "بایگانی پیام ها";
    var MessageGridName = "MessageGrid";
}


<div class="k-rtl container-fluid p-0 mb-5">

    @(Html.Kendo().Grid<Shop.Areas.Admin.Models.Message.MessageViewModel>()
                .Name(MessageGridName)
                .Columns(columns =>
                {
                    columns.Bound(o => o.Id).Title("#").ClientTemplate("#= MessageGridIndex=IncrementRowNumber(MessageGridIndex) #").Width(30).Sortable(false).Filterable(false);
                    columns.Bound(p => p.Subject).Title("عنوان").Width(100).HeaderHtmlAttributes(new { @class = "text-right" });
                    columns.Bound(p => p.FullName).Title("نام").Width(90).HeaderHtmlAttributes(new { @class = "text-right" });
                    columns.Bound(p => p.Phone).Title("تلفن").Width(120).HeaderHtmlAttributes(new { @class = "text-right" });
                    columns.Bound(p => p.Email).Title("ایمیل").Width(200).HeaderHtmlAttributes(new { @class = "text-right" });
                    columns.Bound(p => p.SentDate).Format("{0:yyyy/MM/dd}").Title("تاریخ ارسال").Width(100).HeaderHtmlAttributes(new { @class = "text-right" });
                    columns.Bound(p => p.IsRead)
                   .ClientTemplate("#if(IsRead==false){# <span class='text-danger'>خیر</a> #} else {# <span class='text-info'>بلی</a> #}#")
                   .Title("مشاهده").Width(70).HeaderHtmlAttributes(new { @class = "text-right" });

                    columns.Bound(p => p.Id).ClientTemplate("" +
                        "<a class='k-button btn-sm  m-1' onclick='UnArchiveMessage(#= data.Id #)'><span class='k-icon k-i-dictionary-add'></span>&nbsp;خروج</a>" +
                        "<a class='k-button btn-sm  m-1' onclick='MessageDetails(#= data.Id #)'><span class='k-icon  k-i-paste-plain-text'></span>&nbsp;جزئیات</a>" +
                        "<a class='k-button btn-sm  m-1' onclick='DeleteMessage(#= data.Id #)'><span class='k-icon k-i-delete'></span>&nbsp;حذف</a>").Title("عملیات").Width(320).HeaderHtmlAttributes(new { @class = "text-right" });
                })
                .ToolBar(tools => tools.ClientTemplate("<h5 class='text-dark text-center'>بایگانی پیام ها</h5> "))
                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
                .Scrollable(s => s.Height("auto"))
                .Resizable(resize => resize.Columns(true))
                .Reorderable(reorder => reorder.Columns(true))
                .DataSource(dataSource => dataSource
                    .WebApi()
                    .Sort(sort => sort.Add(m => m.SentDate).Descending())
                    .Model(model => { model.Id(p => p.Id); })
                    .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "Message", action = "Data_ReadArchive" }))).PageSize(KendoGridSetting.DefaultPageSize)
                )
                .Events(events => events.DataBinding("MessageGridDataBinding"))
    )

</div>


@section Scripts
    {

    <script>
        var CategoryGridIndex = 0;

        function MessageGridDataBinding() {
            MessageGridIndex = GridDataBinding('@MessageGridName');
        }

    

        function DeleteMessage(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به حذف اطلاعات هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Message/Delete/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@MessageGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

        function UnArchiveMessage(id) {
        $.confirm({
        title: 'هشدار',
        content: 'آیا مایل به خروج از بایگانی اطلاعات هستید؟',
        type: 'red',
        typeAnimated: true,
        draggable: true,
        animation: 'zoom',
        closeAnimation: 'scale',
        rtl: true,
        closeIcon: true,
        backgroundDismiss: true,
        buttons: {
            formSubmit: {
                text: 'بله',
                btnClass: 'btn-blue',
                action: function () {
                      nikan.api("/api/Message/UnArchive/" + id, null, function (result) {
                if (result.Success) {
                    nikan.notify("success", "پیام", result.Message);
                    RefreshKendoGrid('@MessageGridName');
                }
                else
                    nikan.notify("error", "خطا", result.Message);
            });
                }
            },
            close: {
                text: 'خیر',
                btnClass: 'btn-secondary',
                action: function () { return; }
            }
        }
    });
    }

        function MessageDetails(Id) {
             OpenModal('/api/Message/Details/'+"/"+Id,null, WindowNameInLayout, 'جزئیات');
        }

    </script>
    <script>
        $(document).ready(function () {
            $(".k-grid-header").css("padding-right", "0px");
        })
    </script>
}
