﻿@model Shop.Areas.Admin.Models.Message.MessageViewModel


<div class="row">
    <div class="col-12">
        <div class="form-group text-center">
            <label class="control-label text-info">توضیحات :</label>
            <textarea asp-for="Description" rows="4" class="form-control" readonly></textarea>
        </div>
    </div>
</div>
<div class="form-group">
    <button type="button" class="k-button btn-block" onclick="Close()">بستن</button>
</div>

<script>
    function Close() {
        CloseModal(WindowNameInLayout);
        RefreshKendoGrid('MessageGrid');
    }
</script>









