﻿@model List<Shop.Areas.Admin.Models.Product.ProductShopIndexModel>
        @if (Model.Count > 0)
        {

            <div class="container">
                <div class="row product">
                    @foreach (var prd in Model)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-1 card-col">
                            @await Component.InvokeAsync("BaseCard", prd)
                        </div>
                    }
                </div>
            </div>

        }
<br />
@if ((int)ViewBag.PageCount > 1)
{
    <nav id="contentpager" aria-label="...">
        <ul class="pagination justify-content-center row col-12 p-0">

            @if (ViewBag.pageID >= 6 && ViewBag.PageCount > 9)
            {
                int space = ViewBag.PageCount - ViewBag.pageID;
                space = space >= 5 ? 4 : space;
                int left = ViewBag.pageID - space;
                int right = ViewBag.pageID + space;
                left = space <= 3 ? 4 : left;
                switch (space)
                {
                    case 3:
                        left = ViewBag.pageID - 4;
                        break;
                    case 2:
                        left = ViewBag.pageID - 6;
                        break;
                    case 1:
                        left = ViewBag.pageID - 7;
                        break;
                    case 0:
                        left = ViewBag.pageID - 8;
                        break;
                    default:
                        left = ViewBag.pageID - space;
                        break;
                }

                <li class="@((ViewBag.pageID==1)?"page-item disabled":"page-item")">
                    <a class="page-link page-icon" href="/daily-discount?page=1" tabindex="-1" aria-disabled="true"><i class="fas fa-step-forward"></i></a>
                </li>
                if (ViewBag.pageID > 1)
                {
                    @*<li class="page-item mx-1">
                        <a class="page-link" href="/category/@ViewBag.CatId/@(ViewBag.pageID-1)/@CommonHelper.CleanUrl(ViewBag.CatName)?sort=@ViewBag.Sort" tabindex="-1" aria-disabled="true"><i class="fas fa-forward"></i></a>
                    </li>*@
                }

                for (int j = left; j <= right; j++)
                {
                    <li class="@(((int)ViewBag.pageID==j)?"page-item active mx-1":"page-item mx-1")">
                        <a class="page-link " href="/daily-discount?page=@j"><span>@j</span></a>
                    </li>
                }

                if (ViewBag.pageID < ViewBag.PageCount)
                {
                    @*<li class="page-item mx-1">
                        <a class="page-link" href="/category/@ViewBag.CatId/@(ViewBag.pageID+1)/@CommonHelper.CleanUrl(ViewBag.CatName)?sort=@ViewBag.Sort" tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>
                    </li>*@
                }
                <li class="@((ViewBag.pageID==ViewBag.PageCount)?"page-item disabled":"page-item")">
                    <a class="page-link page-icon" href="/daily-discount?page=@ViewBag.PageCount" tabindex="-1" aria-disabled="true"><i class="fas fa-step-backward"></i></a>
                </li>

            }
            else
            {
                int last = 9;
                last = last <= ViewBag.PageCount ? last : ViewBag.PageCount;

                <li class="@((ViewBag.pageID==1)?"page-item disabled":"page-item")">
                    <a class="page-link page-icon" href="/daily-discount?page=1" tabindex="-1" aria-disabled="true"><i class="fas fa-step-forward"></i></a>
                </li>
                if (ViewBag.pageID > 1)
                {
                    @*<li class="page-item mx-1">
                        <a class="page-link" href="/category/@ViewBag.CatId/@(ViewBag.pageID-1)/@CommonHelper.CleanUrl(ViewBag.CatName)?sort=@ViewBag.Sort" tabindex="-1" aria-disabled="true"><i class="fas fa-forward"></i></a>
                    </li>*@
                }
                for (int j = 1; j <= last; j++)
                {
                    <li class="@(((int)ViewBag.pageID==j)?"page-item active mx-1":"page-item mx-1")">
                        <a class="page-link " href="/daily-discount?page=@j"><span>@j</span></a>
                    </li>
                }
                if (ViewBag.pageID < ViewBag.PageCount)
                {
                    @*<li class="page-item mx-1">
                        <a class="page-link" href="/category/@ViewBag.CatId/@(ViewBag.pageID+1)/@CommonHelper.CleanUrl(ViewBag.CatName)?sort=@ViewBag.Sort" tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>
                    </li>*@
                }
                <li class="@((ViewBag.pageID==ViewBag.PageCount)?"page-item disabled":"page-item")">
                    <a class="page-link page-icon" href="/daily-discount?page=@ViewBag.PageCount" tabindex="-1" aria-disabled="true"><i class="fas fa-step-backward"></i></a>
                </li>
            }


        </ul>
    </nav>
}
