﻿@{
    ViewData["Title"] = "محصولات-" + ViewBag.BrandName;
}
<div class="container">
    <p class="full-path">@ViewBag.FullPath</p>
</div>
@await Component.InvokeAsync("BrandProduct", ViewBag.BrandId)

