﻿@model List<Shop.Areas.Admin.Models.Product.ProductShopIndexModel>
@{
    ViewData["Title"] = "تخفیف های روز";
}
    <div class="container full">
        <p class="full-path">تخفیف های روز</p>
    </div>
<div id="DivShow">
    <partial name="_DailyDiscount" model="@Model" />
</div>
@section Scripts{
    <script>

            $(document).on("click",
                "#contentpager a[href]",
                function () {
                    nikan.blockElement();
                    var add=$(this).attr("href");
                    $.ajax({
                        url: $(this).attr("href"),
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#DivShow').html(result);
                            $('html, body').animate({ scrollTop: 0 }, 600);
                            var newurl = window.location.origin +add;
                            if (typeof (history.pushState) != "undefined") {
                                 var obj = { Page: 'تخفیفات روزانه', Url: newurl };
                                 history.pushState(obj, obj.Page, obj.Url);
                             }
                        }
                    });
                    nikan.unblockElement();
                    return false;
                });

    </script>
}

