﻿@model List<Shop.Areas.Admin.Models.Product.ProductShopIndexModel>
@{
    ViewData["Title"] = "لیست علاقه مندی ها";
}
<div class="container">
    <h5 class="text-center pt-3">لیست علاقه مندی ها</h5>
</div>
@await Component.InvokeAsync("ProductCards", Model)

