﻿@model List<Shop.Areas.Admin.Models.Product.ProductShopIndexModel>
@{
    ViewData["Title"] = "محصولات-" + ViewBag.CategoryName;
}
<div class="container">
    <p class="full-path">@ViewBag.FullPath</p>
</div>

@await Component.InvokeAsync("CategoryProduct", ViewBag.CategorId)

