﻿@using Newtonsoft.Json
@model Shop.Areas.Admin.Models.Product.ProductShopIndexModel

@{
    ViewData["Title"] = Model.Name;
    var traits = Model.ProductTraits.Where(x => x.IsActive == true).ToList();
    bool hasTrait = traits.Count() > 0 ? true : false;
}
<link href="~/libs/lightGallery/css/lightgallery.css" rel="stylesheet" />
<link href="~/css/gallery.css" rel="stylesheet" />

<div class="container product-warper">
    <p class="full-path">
        <a href="/category/@Model.CategoryId/@Model.CategoryName.CleanUrl()">@ViewBag.FullPath</a>
    </p>
    <div class="row col-12 p-0 m-0 py-4 product-content">

        <div class="col-lg-4 col-md-4 col-sm-6 col-12  justify-content-center">
            <div class="tools-box">
                <ul>
                    <li>
                        <a onclick="Fave(@Model.Id)" title="افزودن به لیست علاقه مندی ها"><i id="fav-icon" class="@((ViewBag.Fav?"fas fa-heart text-danger":"far fa-heart"))"></i></a>
                        @*<a onclick="Fave(@Model.Id)" title="افزودن به لیست علاقه مندی ها"><i id="fav-icon" class="far fa-heart"></i></a>*@
                    </li>
                    <li>
                        <a><i class="fas fa-share-alt"></i></a>
                    </li>
                    <li>
                        <a><i class="far fa-bell"></i></a>
                    </li>
                    <li>
                        <a><i class="fas fa-chart-line"></i></a>
                    </li>
                    <li>
                        <a><i class="fas fa-columns"></i></a>
                    </li>
                </ul>
            </div>
            <div class="row col-12 justify-content-center">
                <div class="col-12">
                    <img class="img-fluid text-center rounded main-image" src="@((!String.IsNullOrEmpty(Model.ImageUrl)?Model.ImageUrl:"/images/no-image200.png"))" alt="@Model.Name" />
                </div>
                <div class="col-12">
                    @if (Model.ProductImages.Count() > 0)
                    {
                        <div class="row col-12 m-0 demo-gallery">

                            <ul id="lightgallery" class="list-unstyled row owl-carousel owl-theme owl-rtl owl-drag owl-dot owl-slide">
                                @foreach (var img in Model.ProductImages)
                                {
                                    <li class="p-0" data-responsive="@img.ImageUrl" data-src="@img.ImageUrl" data-sub-html="">
                                        <a href="">
                                            <img class="img-fluid rounded" src="@img.ImageUrl" alt="@Model.Name">
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
            @*@if (Model.ProductImages.Count() > 0)
            {
                <div class="row col-12 m-0 demo-gallery">

                    <ul id="lightgallery" class="list-unstyled row owl-carousel owl-theme owl-rtl owl-drag owl-dot owl-slide">
                        @foreach (var img in Model.ProductImages)
                        {
                            <li class="p-0" data-responsive="@img.ImageUrl" data-src="@img.ImageUrl" data-sub-html="">
                                <a href="">
                                    <img class="img-fluid rounded" src="@img.ImageUrl" alt="@Model.Name">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }*@
        </div>

        <div class="col-lg-5 col-md-4 col-sm-6 col-12 product-box">
            <div class="row col-12">
                <div class="col-12 prd-name">
                    <h6 class="text-right">@Model.Name</h6>
                    @if (!String.IsNullOrEmpty(Model.EnglishName))
                    {
                        <h6 class="text-right prd-enname">@Model.EnglishName</h6>
                    }
                </div>

                <div class="col-12 cb-name">
                    <p>
                        <span>دسته:</span>
                        <a class="text-neshat text-center" href="/products/@Model.CategoryId/@Model.CategoryName.CleanUrl()"> @Model.CategoryName</a>
                        @if (!String.IsNullOrEmpty(Model.BrandName))
                        {
                            <span class="mr-5">برند:</span>
                            <a class="text-neshat text-center" href="/brands/@Model.BrandId.Value/@Model.BrandName.CleanUrl()"> @Model.BrandName</a>
                        }
                    </p>
                    @*@if (!String.IsNullOrEmpty(Model.BrandName))
                        {
                            <p>
                                برند:
                                <a class="text-neshat text-center" href="/brands/@Model.BrandId.Value/@Model.BrandName.CleanUrl()"> @Model.BrandName</a>
                            </p>
                        }*@
                </div>

                @if (Model.ProductProperties.Where(x => x.Visible == true).Any())
                {
                    var selectedItem = Model.ProductProperties.Where(x => x.Visible == true).OrderBy(x => x.Order).Take(3).ToList();
                    <div class="col-12 property-box">
                        <p class="m-0">ویژگی های محصول</p>
                        <ul>
                            @foreach (var item in selectedItem)
                            {
                                <li><i class="fas fa-circle ml-2"></i><span class="property-name ml-1">@item.PropertyName</span>:<span class="property-value mr-1">@item.Value</span></li>
                            }
                        </ul>
                    </div>
                }

                <div class="row col-12 choose-box">
                    @if (hasTrait)
                    {
                        <div class="col-lg-8 col-md-9 col-sm-12 col-12">
                            <select id="ProductTraitId" name="ProductTraitId" class="form-control" asp-items="@((List<SelectListItem>)ViewBag.Traits)">
                                <option value="">انتخاب نمایید</option>
                            </select>
                        </div>
                    }
                    @*<div class="col-12">
                            @if (!hasTrait)
                            {
                                @if (Model.Inventory > 0)
                                {
                                    <p class="pt-1"><i class="fas fa-square text-success ml-2"></i>موجود</p>
                                }
                                else
                                {
                                    <p class="pt-1"><i class="fas fa-square text-danger ml-2"></i>ناموجود</p>
                                }

                            }
                            else
                            {
                                <p id="traitInv" class="pt-1"></p>
                            }
                        </div>*@
                    @*<div class="col-6">
                            @if (!hasTrait)
                            {
                                @if (Model.Inventory > 0)
                                {
                                    <a onclick="AddToCart(@Model.Id)" class="btn btn-sm btn-shop text-white">افزودن به سبد خرید</a>
                                }
                                else
                                {
                                    <button type="button" disabled class="btn btn-sm btn-shop text-white">افزودن به سبد خرید</button>
                                }
                            }
                            else
                            {
                                <button id="traitBtn" type="button" onclick="AddToCartWithTrait(@Model.Id)" disabled class="btn btn-sm btn-shop text-white">افزودن به سبد خرید</button>
                            }
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 col-12 price-box">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="row col-12">
                        @if (!hasTrait)
                        {
                            @if (Model.Inventory > 0)
                            {
                                <p id="traitInv" class="pt-1"><i class="fas fa-square text-success ml-2"></i>موجود</p>
                            }
                            else
                            {
                                <p id="traitInv" class="pt-1"><i class="fas fa-square text-danger ml-2"></i>ناموجود</p>
                            }

                        }
                        else
                        {
                            <p id="traitInv" class="pt-1"><i class="fas fa-square text-danger ml-2"></i>ناموجود</p>
                        }
                    </div>
                    <div class="row col-12 p-0 m-0 info-content">
                        <p>امکان تحویل فوری</p>
                        <hr />
                        <p>ضمانت اصالت و سلامت فیزیکی کالا</p>
                        <hr />
                        <p>قیمت مصرف کننده:</p>
                    </div>
                    @if (Model.HasDiscount)
                    {
                        <div class="row col-12 p-0 m-0 price-content">
                            <div class="col-12 text-left p-0">
                                <p class="m-0"><del>@(Model.Price.ToString("N0"))</del><span class="badge badge-danger price-discount p-1">@Model.DiscountPercentage</span></p>
                                <p id="productPrice"><span id="prdPrice">@(Model.PriceWithDiscount.ToString("N0"))</span><span class="prdUnit">@ViewBag.Unit</span></p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row col-12  p-0 m-0 price-content" style="direction:rtl;">
                            <div class="col-12 text-left">
                                <p class="m-0" id="productPrice"><span id="prdPrice">@(Model.Price.ToString("N0")) </span><span class="prdUnit">@ViewBag.Unit</span></p>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer p-0">
                    @if (!hasTrait)
                    {
                        @if (Model.Inventory > 0)
                        {
                            <a onclick="AddToCart(@Model.Id)" class="btn btn-block btn-shop text-white p-3">افزودن به سبد خرید</a>
                        }
                        else
                        {
                            <button type="button" disabled class="btn btn-block btn-shop text-white p-3">افزودن به سبد خرید</button>
                        }
                    }
                    else
                    {
                        <button id="traitBtn" type="button" onclick="AddToCartWithTrait(@Model.Id)" disabled class="btn btn-block btn-shop text-white p-3">افزودن به سبد خرید</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid details-warper">
    <div class="row col-12 p-0 m-0 mb-2">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="desc" aria-selected="true"><i class="fas fa-pen-nib mx-1"></i>شرح محصول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="false"><i class="fas fa-list-ul mx-1"></i>مشخصات</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active bg-white" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                    <div class="row col-12 p-0 m-0">
                        <div class="col-12 my-3">
                            <p>@Model.Name</p>
                        </div>
                        <div class="col-12">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade bg-white" id="property" role="tabpanel" aria-labelledby="property-tab">
                    @if (Model.ProductProperties.Where(x => x.Visible == true).Any())
                    {
                        <div class="row col-12 p-0 m-0">
                            <div class="col-12 mt-1">
                                <p>مشخصات محصول</p>
                            </div>
                            <table class="table table-bordered table-striped table-hover table-sm text-right bg-white m-0">
                                @*<thead>
                                        <tr>
                                            <th width="30%" scope="col">نام ویژگی</th>
                                            <th width="70%" scope="col">مقدار</th>
                                        </tr>
                                    </thead>*@
                                <tbody>
                                    @foreach (var item in Model.ProductProperties.Where(x => x.Visible == true).OrderBy(x => x.Order).ToList())
                                    {
                                        <tr>
                                            <td width="20%">@item.PropertyName</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("SimilarProduct", Model.Id)
@await Component.InvokeAsync("ProductOffer", Model.Id)


@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoleNames.Admin))
{
    <a href="/admin/product/edit/@Model.Id" class="btn btn-primary btn-rounded btn-edit">ویرایش این محصول</a>
}


@section Scripts{
    <script src="~/js/Currency.js"></script>
    <script src="~/libs/lightGallery/js/lightgallery.min.js"></script>
    <script src="~/libs/lightGallery/modules/lg-thumbnail.min.js"></script>
    <script src="~/libs/lightGallery/modules/lg-fullscreen.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".owl-slide").owlCarousel({
                animateOut: 'zoomOut',
                animateIn: 'zoomIn',
                rtl: true,
                center: false,
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                dots: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    600: {
                        items: 2
                    },
                    700: {
                        items: 3
                    },
                    800: {
                        items: 4
                    },
                    1000: {
                        items: 4
                    }
                }
            });

            $(".owl-similar").owlCarousel({
                animateOut: 'zoomOut',
                animateIn: 'zoomIn',
                rtl: true,
                center: false,
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                dots: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    700: {
                        items: 2
                    },
                    800: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    },
                    1350: {
                        items: 5
                    }
                }
            });

            $(".owl-offer").owlCarousel({
                animateOut: 'zoomOut',
                animateIn: 'zoomIn',
                rtl: true,
                center: false,
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                dots: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    700: {
                        items: 2
                    },
                    800: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    },
                    1350: {
                        items: 5
                    }
                }
            });
        });

        $('#lightgallery').lightGallery();

         var traits = @Html.Raw(JsonConvert.SerializeObject(Model.ProductTraits));
        $("#ProductTraitId").on('change', function () {
            var selectedId = $("#ProductTraitId").val();
            if (selectedId != '' && selectedId > 0) {
                var result = $.grep(traits, function (element, index) {
                    return (element.Id == selectedId);
                });
                if (result[0].Inventory > 0) {
                    $("#traitInv").html('<i class="fas fa-square text-success ml-2"></i>موجود');
                    var taitPrice = currencyNumber(result[0].PriceIncrease +@Model.PriceWithDiscount);
                    //$("#productPrice").html(taitPrice + ' ' + 'تومان');
                    $("#prdPrice").html(taitPrice);
                    $("#traitBtn").prop('disabled', false);
                }
                else {
                    $("#traitInv").html('<i class="fas fa-square text-danger ml-2"></i>ناموجود');
                    var taitPrice = currencyNumber(result[0].PriceIncrease +@Model.PriceWithDiscount);
                    //$("#productPrice").html(taitPrice + ' ' + 'تومان');
                    $("#prdPrice").html(taitPrice);
                    $("#traitBtn").prop('disabled', true);
                }
            }
            else {
                $("#traitInv").removeClass('text-success');
                $("#traitInv").removeClass('text-danger');
                $("#traitInv").html("<i class='fas fa-square text-danger ml-2'></i>ناموجود");
                var taitPrice = currencyNumber(@Model.PriceWithDiscount);
                //$("#productPrice").html(taitPrice + ' ' + 'تومان');
                $("#prdPrice").html(taitPrice);
                 $("#traitBtn").prop('disabled', true);
            }
        });

        function currencyNumber(n) {
               n = n.toString().replace('/00', '');
             // format number 1000000 to 1,234,567
             return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      }
    </script>

    <script>
        function AddToCartWithTrait(id) {
            var traitId = $("#ProductTraitId").val();
            $.ajax({
                url: "/AddToCard/" + id + "/" + traitId,
                type: "Get"
            }).done(function (res) {
                $("#shopcart").html(res);
            });
        }

        function Fave(id) {
            if (!@Json.Serialize(User.IsInRole(UserRoleNames.User))) {
                nikan.notify("error", "خطا", "لطفا برای این عمل ابتدا در سایت لاگین نمایید");
                return;
            }
            $.ajax({
                url: "/admin/apis/favorite",
                type: "Post",
                data: {productId:id}
            }).done(function (res) {
                if (res.Success) {
                    if (res.Data == 1) {
                        $("#fav-icon").removeClass('far');
                        $("#fav-icon").addClass('fas text-danger');
                    }
                    else {
                         $("#fav-icon").removeClass('fas text-danger');
                        $("#fav-icon").addClass('far');
                    }
                }
            });
        }
    </script>
}

