﻿@using Shop.Areas.Admin.Models.Product
@using NikanBase.Core.Enums
@using Shop.Services.Dto.Property
@using Newtonsoft.Json
@{
    ViewData["Title"] = $"محصولات - { ViewBag.CatName}";
    var models = ViewBag.Models as List<ProductShopIndexModel>;
    var sortQueryString = ViewBag.Sort;

    var brands = ViewBag.Brands as List<SelectListItem>;
    var brandQuery = ViewBag.BrandQuery as List<long>;

    var colors = ViewBag.Colores as List<SelectListItem>;
    var colorQuery = ViewBag.ColorQuery as List<long>;

    var warranties = ViewBag.Warranties as List<SelectListItem>;
    var warrantyQuery = ViewBag.WarrantyQuery as List<long>;

    var properties = ViewBag.Properies as List<PropertyFilterModel>;
    var propertyQuery = ViewBag.PropertyQuery as List<PropertyFilter>;

}
<div class="container full">
    <p id="fullPath" class="full-path">@ViewBag.FullPath</p>
</div>

@*@await Component.InvokeAsync("SubCategory", ViewBag.CatId)*@

@model List<Shop.Areas.Admin.Models.Category.CategoryModel>

@if (Model.Count > 0)
{

    <div class="container my-3">
        <div class="row col-12 justify-content-center products">
            @foreach (var cat in Model)
            {
                <div onclick="viewCategory(@cat.Id,'@cat.Title.CleanUrl()')" class="card main-cat-card col-lg-2 col-md-2 col-sm-6 col-12 mx-1 my-1 p-0">
                    <img class="card-img-top" src="@((!String.IsNullOrEmpty(cat.ImageUrl) ? cat.ImageUrl : "/images/no-image150.png"))" alt="@cat.Title">
                    <div class="card-footer text-center col-12">
                        <a href="/category/@cat.Id/@cat.Title.CleanUrl()">@cat.Title</a>
                    </div>
                </div>
            }
        </div>
    </div>

}
else
{
    <div class="container full p-0">
        <div id="sortContent" class="row col-12 justify-content-start m-0 sort-content">
            <p class="m-0 pl-2"><i class="fas fa-sort mx-1"></i>مرتب سازی بر اساس:</p>
            <a onclick="ApplySort('@SortTypes.Newest', $(this))" class="@((ViewBag.Sort==SortTypes.Newest?"btn btn-sm btn-link active":"btn btn-sm btn-link"))">جدیدترین</a>
            <a onclick="ApplySort('@SortTypes.MostVisited', $(this))" class="@((ViewBag.Sort==SortTypes.MostVisited?"btn btn-sm btn-link mx-1 active":"btn btn-sm btn-link mx-1"))">پربازدید ترین</a>
            <a onclick="ApplySort('@SortTypes.Popular', $(this))" class="@((ViewBag.Sort==SortTypes.Popular?"btn btn-sm btn-link mx-1 active":"btn btn-sm btn-link mx-1"))">محبوب ترین</a>
            <a onclick="ApplySort('@SortTypes.Cheapest', $(this))" class="@((ViewBag.Sort==SortTypes.Cheapest?"btn btn-sm btn-link mx-1 active":"btn btn-sm btn-link mx-1"))">ارزان ترین</a>
            <a onclick="ApplySort('@SortTypes.Expensive', $(this))" class="@((ViewBag.Sort==SortTypes.Expensive?"btn btn-sm btn-link active":"btn btn-sm btn-link"))">گران ترین</a>
            <a onclick="ApplySort('@SortTypes.BestSelling', $(this))" class="@((ViewBag.Sort==SortTypes.BestSelling?"btn btn-sm btn-link active":"btn btn-sm btn-link"))">پرفروشترین ترین</a>
        </div>
    </div>
    <div class="container full p-0">
        <div class="row col-12 p-0 m-0">
            <div class="col-lg-2 col-md-3 d-lg-block d-md-block d-sm-none d-none pr-0">
                <div id="prdFilter" class="my-1">
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                @if (ViewBag.Available)
                                {
                                    <input onclick="FilterAvailable($(this))" type="checkbox" class="custom-control-input" id="availableProduct" checked>
                                }
                                else
                                {
                                    <input onclick="FilterAvailable($(this))" type="checkbox" class="custom-control-input" id="availableProduct">
                                }
                                <label class="custom-control-label" for="availableProduct">فقط کالاهای موجود</label>
                            </div>
                        </div>
                    </div>

                    @if (brands.Any())
                    {
                        <div class="card mt-1">
                            <div class="card-header text-right" id="brand">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBrand" aria-expanded="true" aria-controls="collapseBrand">
                                        فیلتر بر اساس برند
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseBrand" class="collapse show" aria-labelledby="brand" data-parent="#prdFilter">
                                <div class="card-body">
                                    @foreach (var item in brands)
                                    {
                                        if (brandQuery.Any())
                                        {
                                            if (brandQuery.Contains(long.Parse(item.Value)))
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input onclick="FilterBrand(@item.Value)" type="checkbox" class="custom-control-input" id="brand@(item.Value)" checked>
                                                    <label class="custom-control-label" for="brand@(item.Value)">@item.Text</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input onclick="FilterBrand(@item.Value)" type="checkbox" class="custom-control-input" id="brand@(item.Value)">
                                                    <label class="custom-control-label" for="brand@(item.Value)">@item.Text</label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input onclick="FilterBrand(@item.Value)" type="checkbox" class="custom-control-input" id="brand@(item.Value)">
                                                <label class="custom-control-label" for="brand@(item.Value)">@item.Text</label>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    }

                    <div class="card filter-price mt-1">
                        <div class="card-header text-right" id="price">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice">
                                    محدوده قیمت
                                </button>
                            </h5>
                        </div>

                        <div id="collapsePrice" class="collapse show" aria-labelledby="price" data-parent="#prdFilter">
                            <div class="card-body">
                                <div class="row col-12 p-0">
                                    <div class="col-12 form-group">
                                        <label class="control-label">از:</label>
                                        <input min="0" id="minPrice" name="minPrice" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" />
                                    </div>
                                    <div class="col-12 form-group">
                                        <label class="control-label">تا:</label>
                                        <input min="0" id="maxPrice" name="maxPrice" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" />
                                    </div>
                                </div>
                                <div class="row col-12 justify-content-center">
                                    <a onclick="ApplyPrice()" class="btn btn-block btn-neshat text-white">اعمال قیمت</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (colors.Any())
                    {
                        <div class="card mt-1">
                            <div class="card-header text-right" id="color">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseColor" aria-expanded="true" aria-controls="collapseColor">
                                        فیلتر بر اساس رنگ
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseColor" class="collapse show" aria-labelledby="color" data-parent="#prdFilter">
                                <div class="card-body">
                                    @foreach (var item in colors)
                                    {
                                        if (colorQuery.Any())
                                        {
                                            if (colorQuery.Contains(long.Parse(item.Value)))
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input onclick="FilterColor(@item.Value)" type="checkbox" class="custom-control-input" id="color@(item.Value)" checked>
                                                    <label class="custom-control-label" for="color@(item.Value)">@item.Text</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input onclick="FilterColor(@item.Value)" type="checkbox" class="custom-control-input" id="color@(item.Value)">
                                                    <label class="custom-control-label" for="color@(item.Value)">@item.Text</label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input onclick="FilterColor(@item.Value)" type="checkbox" class="custom-control-input" id="color@(item.Value)">
                                                <label class="custom-control-label" for="color@(item.Value)">@item.Text</label>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    }

                    @if (warranties.Any())
                    {
                        <div class="card mt-1">
                            <div class="card-header text-right" id="waranty">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWaranty" aria-expanded="true" aria-controls="collapseWaranty">
                                        فیلتر بر اساس گارانتی
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseWaranty" class="collapse show" aria-labelledby="waranty" data-parent="#prdFilter">
                                <div class="card-body">
                                    @foreach (var item in warranties)
                                    {
                                        if (warrantyQuery.Any())
                                        {
                                            if (warrantyQuery.Contains(long.Parse(item.Value)))
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input onclick="FilterWaranty(@item.Value)" type="checkbox" class="custom-control-input" id="waranty@(item.Value)" checked>
                                                    <label class="custom-control-label" for="waranty@(item.Value)">@item.Text</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input onclick="FilterWaranty(@item.Value)" type="checkbox" class="custom-control-input" id="waranty@(item.Value)">
                                                    <label class="custom-control-label" for="waranty@(item.Value)">@item.Text</label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input onclick="FilterWaranty(@item.Value)" type="checkbox" class="custom-control-input" id="waranty@(item.Value)">
                                                <label class="custom-control-label" for="waranty@(item.Value)">@item.Text</label>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    }

                    @if (properties.Any())
                    {
                        int i = 1;
                        int j = 1;
                        foreach (var item in properties)
                        {
                            if (item.Values.Any())
                            {
                                <div class="card mt-1">
                                    <div class="card-header text-right" id="property@(i)">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseProperty@(i)" aria-expanded="true" aria-controls="collapseProperty@(i)">
                                                فیلتر بر اساس @item.Name
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseProperty@(i)" class="collapse show" aria-labelledby="property@(i)" data-parent="#prdFilter">
                                        <div class="card-body">
                                            @foreach (var prop in item.Values)
                                            {
                                                var check = propertyQuery.FirstOrDefault(x => x.Id == long.Parse(prop.Value) && x.Value == prop.Text);
                                                if (check != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input onclick="FilterProperty(@prop.Value,'@prop.Text')" type="checkbox" class="custom-control-input" id="propertyItem@(j)" checked>
                                                        <label class="custom-control-label" for="propertyItem@(j)">@prop.Text</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input onclick="FilterProperty(@prop.Value,'@prop.Text')" type="checkbox" class="custom-control-input" id="propertyItem@(j)">
                                                        <label class="custom-control-label" for="propertyItem@(j)">@prop.Text</label>
                                                    </div>
                                                }
                                                j++;
                                            }

                                        </div>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-12">
                <div id="DivShow">
                    <partial name="_Products" model="@models" />
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script src="~/js/Currency.js"></script>
        <script>
            var brandQueryString = '@ViewBag.BrandQueryString';
            var colorQueryString = '@ViewBag.ColorQueryString';
            var warantyQueryString = '@ViewBag.WarrantyQueryString';
            var propertyQueryString = '@ViewBag.PropertyQueryString';
            var availableQueryString = '@ViewBag.Available';
            var sortQueryString = '@sortQueryString';
            var minPrice=null;
            var maxPrice=null;
            if ('@((ViewBag.MinPrice!=null))'=='True') {
                minPrice='@ViewBag.MinPrice';
            }
            else {
                minPrice = null;
            }

            if ('@((ViewBag.MaxPrice!=null))'=='True') {
                maxPrice='@ViewBag.MaxPrice';
            }
            else {
                maxPrice = null;
            }
            var brandArray =@Html.Raw(JsonConvert.SerializeObject(ViewBag.BrandQuery));
            var colorArray =@Html.Raw(JsonConvert.SerializeObject(ViewBag.ColorQuery));
            var warantyArray =@Html.Raw(JsonConvert.SerializeObject(ViewBag.WarrantyQuery));
            var propertyArray =@Html.Raw(JsonConvert.SerializeObject(ViewBag.PropertyQuery));
            $(document).on("click","#contentpager a[href]",function () {
                nikan.blockElement();

                    var add = $(this).attr("href");
                    $.ajax({
                        url: $(this).attr("href"),
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#DivShow').html(result);
                            $('html, body').animate({ scrollTop: 0 }, 600);
                            var newurl = window.location.origin +add;
                            if (typeof (history.pushState) != "undefined") {
                                 var obj = { Page: '@ViewBag.CleanName', Url: newurl };
                                 history.pushState(obj, obj.Page, obj.Url);
                             }
                        }
                    });
                    nikan.unblockElement();
                    return false;
            });

            function ApplySort(sort, element) {
                $(".sort-content>a").removeClass("active");
                element.addClass("active");
                   nikan.blockElement();
                sortQueryString = sort;
                    var add=GetAddress();
                    $.ajax({
                        url:add,
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#DivShow').html(result);
                            $('html, body').animate({ scrollTop: 0 }, 600);
                            var newurl = window.location.origin +add;
                            if (typeof (history.pushState) != "undefined") {
                                 var obj = { Page: '@ViewBag.CleanName', Url: newurl };
                                 history.pushState(obj, obj.Page, obj.Url);
                             }
                        }
                    });
                    nikan.unblockElement();
                    return false;
            }

            function FilterAvailable(element) {

                nikan.blockElement();
                 if (element.prop('checked')) {
                        availableQueryString = 'true';
                       }
                    else {
                         availableQueryString = 'false';
                    }
                    var add=GetAddress();
                    $.ajax({
                        url:add,
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#DivShow').html(result);
                            $('html, body').animate({ scrollTop: 0 }, 600);
                            var newurl = window.location.origin +add;
                            if (typeof (history.pushState) != "undefined") {
                                 var obj = { Page: '@ViewBag.CleanName', Url: newurl };
                                 history.pushState(obj, obj.Page, obj.Url);
                             }
                        }
                    });
                    nikan.unblockElement();
                    return false;
            }

            function FilterBrand(id) {
                if (brandArray.includes(id)) {
                    brandArray = brandArray.filter(item => item !== id)
                }
                else {
                    brandArray.push(id);
                }
                var queryString = '';
                brandArray.forEach(function (item, index) {
                    if (index == brandArray.length - 1) {
                        queryString = queryString + 'brand=' + item;
                    }
                    else {
                        queryString = queryString + 'brand=' + item + '&';
                    }
                });
                brandQueryString = queryString;
                //window.location.href = GetAddress();
                ApplyAddress(GetAddress());
            }

            function FilterColor(id) {
                if (colorArray.includes(id)) {
                    colorArray = colorArray.filter(item => item !== id)
                }
                else {
                    colorArray.push(id);
                }
                var queryString = '';
                colorArray.forEach(function (item, index) {
                    if (index == colorArray.length - 1) {
                        queryString = queryString + 'color=' + item;
                    }
                    else {
                        queryString = queryString + 'color=' + item + '&';
                    }
                });
                colorQueryString = queryString;
                ApplyAddress(GetAddress());
            }

            function FilterWaranty(id) {
                if (warantyArray.includes(id)) {
                    warantyArray = warantyArray.filter(item => item !== id)
                }
                else {
                    warantyArray.push(id);
                }
                var queryString = '';
                warantyArray.forEach(function (item, index) {
                    if (index == warantyArray.length - 1) {
                        queryString = queryString + 'warranty=' + item;
                    }
                    else {
                        queryString = queryString + 'warranty=' + item + '&';
                    }
                });
                warantyQueryString = queryString;
                ApplyAddress(GetAddress());
            }

            function FilterProperty(id, val) {

                if (!propertyArray.some(x => x.Id == id && x.Value == val)) {
                    var obj = {
                        "Id": id,
                        "Value":val
                    }
                    propertyArray.push(obj);
                }
                else {
                    propertyArray = $.grep(propertyArray, function (e) {

                        if (e.Id == id && e.Value == val) {
                            return false;
                        }
                        else {
                           return true;
                         }
                    });
                }
                var queryString = '';
                propertyArray.forEach(function (item, index) {
                    if (index == propertyArray.length - 1) {
                        queryString = queryString + 'property[' + index + '].Id=' + item.Id + '&&property[' + index + '].Value=' + item.Value;
                    }
                    else {
                        queryString = queryString + 'property[' + index + '].Id=' + item.Id + '&&property[' + index + '].Value=' + item.Value + '&';
                    }
                });
                propertyQueryString = queryString;
               ApplyAddress(GetAddress());
            }

            function GetAddress() {
               var add = '/category/@(ViewBag.CatId)/filter?page=@(ViewBag.pageID)&sort='+sortQueryString+'&available='+availableQueryString;
                if (brandQueryString!='') {
                    add = add + '&' + brandQueryString;
                }
                if (propertyQueryString != '') {
                    add = add + '&' + propertyQueryString;
                }
                if (colorQueryString != '') {
                    add = add + '&' + colorQueryString;
                }
                if (warantyQueryString != '') {
                    add = add + '&' + warantyQueryString;
                }
                if (minPrice != null && minPrice != '' && minPrice != undefined) {
                    add = add +'&minPrice=' + minPrice;
                }
                if (maxPrice != null && maxPrice != '' && maxPrice != undefined) {
                    add = add +'&maxPrice=' + maxPrice;
                }
                return add;
            }

            function ApplyAddress(address) {
                   nikan.blockElement();
                    var add=address
                    $.ajax({
                        url: address,
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#DivShow').html(result);
                            $('html, body').animate({ scrollTop: 0 }, 600);
                            var newurl = window.location.origin +add;
                            if (typeof (history.pushState) != "undefined") {
                                 var obj = { Page: '@ViewBag.CleanName', Url: newurl };
                                 history.pushState(obj, obj.Page, obj.Url);
                             }
                        }
                    });
                    nikan.unblockElement();
            }

            function ApplyPrice() {
                var min = $("#minPrice").val();
                var max = $("#maxPrice").val();

                if ((min == undefined)) {
                    nikan.notify("error", "خطا", "حداقل قیمت را وارد نمایید");
                    return;
                }
                if (max == undefined) {
                    nikan.notify("error", "خطا", "حداکثر قیمت را وارد نمایید");
                    return;
                }
                min = parseInt(min.replace(',', ''));
                max = parseInt(max.replace(',', ''));

                if (isNaN(min)) {
                    min = null
                }
                if (isNaN(max)) {
                    max = null
                }
                if (min > max) {
                    nikan.notify("error", "خطا", "محدوده قیمت معتبر نمی باشد");
                    return;
                }
                minPrice = min;
                maxPrice = max;
                nikan.blockElement();
                var add=GetAddress();
                $.ajax({
                        url:add,
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#DivShow').html(result);
                            $('html, body').animate({ scrollTop: 0 }, 600);
                            var newurl = window.location.origin +add;
                            if (typeof (history.pushState) != "undefined") {
                                 var obj = { Page: '@ViewBag.CleanName', Url: newurl };
                                 history.pushState(obj, obj.Page, obj.Url);
                             }
                        }
                    });
                nikan.unblockElement();
                return false;
            }

            function currencyNumber(n) {
                n = n.replace('.00', '');
                n = n.replace('/00', '');
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

            $(document).ready(function () {

                $("#minPrice").val(currencyNumber('@ViewBag.MinPrice'));
                $("#maxPrice").val(currencyNumber('@ViewBag.MaxPrice'));
            });
        </script>
    }
}
