﻿@using Shop.Services.Shop
@using Shop.Services.Dto.Product
@using Shop.Services.Users
@using Shop.Infrastructure.UI
@using Shop.Services.Dto.Setting
@inject Shop.Core.Infrastructure.IAppContext appContext
@inject SignInManager SignInManager
@inject IOrderService _orderService
@inject ICategoryService _categoryService
@inject ISettingService _settingService
@{
    var categories = _categoryService.GetMenuCategoryAsQueryable().ToList();
    var websiteSetting = _settingService.Load<WebsiteSettingModel>(null);
    string shopName = "نیکان";
    string logoUrl = "/images/logo.png";
    string whatsAppAdd = "";
    string faceBookAdd = "";
    string intagramAdd = "";
    string telegramAdd = "";
    if (websiteSetting != null)
    {
        shopName = !String.IsNullOrEmpty(websiteSetting.ShopName) ? websiteSetting.ShopName : "نیکان";
        logoUrl = !String.IsNullOrEmpty(websiteSetting.LogoUrl) ? websiteSetting.LogoUrl : "/images/logo.png";
        whatsAppAdd = !String.IsNullOrEmpty(websiteSetting.WhatsAppAddress) ? websiteSetting.WhatsAppAddress : "";
        faceBookAdd = !String.IsNullOrEmpty(websiteSetting.FaceBookAddress) ? websiteSetting.FaceBookAddress : "";
        intagramAdd = !String.IsNullOrEmpty(websiteSetting.InstagramAddress) ? websiteSetting.InstagramAddress : "";
        telegramAdd = !String.IsNullOrEmpty(websiteSetting.TelegramAddress) ? websiteSetting.TelegramAddress : "";
    }
}
@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoleNames.User))
{
    if (_httpContext.HttpContext.Session.GetObjectFromJson<List<ShopCardModel>>("ShopCart") == null)
    {
        var card = await _orderService.GetLastRegisterdOrder(appContext.User.Id);
        if (card.Count > 0)
        {
            _httpContext.HttpContext.Session.SetObjectAsJson("ShopCart", card);
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@shopName - @ViewData["Title"]</title>
    <link href="~/css/Reset.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/animations.css" rel="stylesheet" />
    <link href="~/css/animations-ie-fix.css" rel="stylesheet" />
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/toast-master/css/jquery.toast.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/jquery-confirm.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/OwlCarousel/css/owl.carousel.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/libs/OwlCarousel/css/owl.theme.green.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/neshat.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/modernizr.js"></script>
</head>
<body>
    <div class="fix-menu">

        <!--Top-Header-->
        <div id="topHeader">
            <div class="container-fluid">
                <div class="row col-12 p-0">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-7">
                        <div class="row col-12 justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center pr-0">
                            <div class="col-lg-2 col-md-4 col-sm-12 col-12 text-center logo-container">
                                <a href="/" class="main-logo"> <img src="@logoUrl" width="120" class="navbar-brand" alt="@shopName" /></a>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-12 col-12 mt-sm-2">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control main-search" placeholder="جستجو" aria-label="جستجو" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-info btn-search" type="button" id="button-addon2">@*<i class="fas fa-search"></i>*@</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4 col-5 mt-lg-0 mt-md-0 mt-sm-2 mt-2">
                        <div class="row col-12 justify-content-lg-end justify-content-md-end justify-content-sm-start justify-content-start fix-left">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="userlogin">
                                    <i id="user-icon" class="fas fa-user mx-1"></i><i id="user-caret" class="fas fa-caret-down"></i>
                                    <div class="userprofile">
                                        @*<p class="text-right pr-2 m-0 py-1">@appContext.User.FullName</p>*@
                                        @*<hr />*@
                                        <ul class="m-0">
                                            <li><a><i class="fas fa-user text-info mx-1"></i>@appContext.User.FullName</a></li>
                                            <li><a href="/fav-products"><i class="fas fa-heart text-danger mx-1"></i>علاقه مندی ها</a></li>
                                            <li><a asp-action="Index" asp-controller="Order" asp-area="@AreaNames.Admin"><i class="fas fa-shopping-basket text-success mx-1"></i>سفارشات من</a></li>
                                            <li><a asp-controller="Account" asp-action="LogoutUser"><i class="fas fa-sign-out-alt mx-1"></i>خروج</a></li>
                                        </ul>
                                    </div>
                                </div>

                                @*<a asp-action="Index" asp-controller="Home" asp-area="@AreaNames.Admin">@appContext.User.FullName</a>
                                    <span class="top-separator px-2">|</span>
                                    if (User.IsInRole(UserRoleNames.User))
                                    {
                                        <a asp-action="Index" asp-controller="Order" asp-area="@AreaNames.Admin">سفارشات من</a>
                                        <span class="top-separator px-2">|</span>
                                    }
                                    <a asp-controller="Account" asp-action="LogoutUser">خروج</a>*@
                            }
                            else
                            {
                                <a class="btn btn-login" asp-controller="Account" asp-action="Login"><i class="fas fa-user mx-1"></i><span class="btn-login-title">ورود</span></a>
                            }

                            <a href="/ShopCard" id="shopCartItem" class="mr-2">
                                @*<i class="fas fa-shopping-cart"></i>*@
                                <span id="shopcart" class="badge badge-nehat p-1">0</span>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Top-Header-->
        <!--Navbar-->
        <div id="navbar-Menu">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- Collapse button -->
                    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="animated-icon"><span></span><span></span><span></span></div>
                    </button>
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Links -->
                        <ul class="navbar-nav firstlevel ml-auto">
                            <li class="nav-item menu-link">
                                <a class="nav-link" href="/"><i class="fas fa-home mx-1"></i>خانه</a>
                            </li> 
                            <li class="nav-item menu-link">
                                <a class="nav-link" href="/daily-discount"><i class="fas fa-tag mx-1"></i>تخفیف های روز</a>
                            </li>

                            @foreach (var cat in categories)
                            {
                                <li class="nav-item menu-link">
                                    <a class="nav-link" href="/category/@cat.Id/@cat.Title.CleanUrl()">@cat.Title</a>
                                    @await Component.InvokeAsync("CategoryL2", cat.Id)
                                </li>
                            }


                            @if (websiteSetting != null && websiteSetting.ShowAboutUs)
                            {
                                <li class="nav-item menu-link">
                                    <a class="nav-link" href="/about-us">درباره ما</a>
                                </li>
                            }
                            @if (websiteSetting != null && websiteSetting.ShowContactUs)
                            {
                                <li class="nav-item menu-link">
                                    <a class="nav-link" href="/contact-us">تماس با ما</a>
                                </li>
                            }
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Collapsible content -->
                </nav>

            </div>
        </div>
        <!--/.Navbar-->

    </div>
    @*@RenderSection("Carousel", required: false)*@
    <div id="main-section">
        @RenderBody()
    </div>


    <!--Footer-->
    <footer>
        <div id="footer">
            <div class="container-fluid">
                <div class="row col-12 justify-content-center footer-icon pt-4">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="row col-12">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-right">
                                <div class="svg-icon" style="background:url(/Images/NeshatIcon/peyk.svg) 100% 0 no-repeat">
                                    <p class="pt-3">پیک رایگان</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">

                                <div class="svg-icon" style="background:url(/Images/NeshatIcon/onlinePay.svg) 50% 0 no-repeat">
                                    <p class="pt-3">پرداخت آنلاین</p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-left">

                                <div class="svg-icon" style="background:url(/Images/NeshatIcon/esalatKala.svg) 0% 0 no-repeat">
                                    <p class="pt-3">اصلالت کالا</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-0 pl-0">
                        <div class="row col-12 justify-content-center footer-info">
                            <div class="row col-lg-6 col-md-6 col-sm-12 col-12 justify-content-center text-center">
                                <div class="row col-12 text-center" style="border-bottom: 1px solid">
                                    <h5 class="col-12">اطلاعات</h5>
                                </div>
                                <ul>
                                    <li><a href="/about-us">درباره ما</a></li>
                                    <li><a href="/contact-us">تماس با ما</a></li>
                                    <li><a>حریم خصوصی</a></li>
                                    <li><a>شرایط استفاده</a></li>
                                </ul>
                            </div>
                          
                            <div class="row col-lg-6 col-md-6 col-sm-12 col-12 justify-content-center text-center">
                                <div class="row col-12 mr-3" style="border-bottom: 1px solid">
                                    <h5 class="col-12">حساب من</h5>
                                </div>
                                <ul>
                                    <li><a href="/ShopCard">سبد خرید</a></li>
                                    <li><a href="/Admin/Order/Index">سفارشات</a></li>
                                    <li><a href="/Admin">حساب من</a></li>
                                    <li><a>درخواست همکاری</a></li>
                                </ul>
                            </div>                         
                        </div>
                    </div>       
                </div>
                <div class="row col-12 justify-content-center pt-2">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="row col-12">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-right">
                                <p class="app-download-links">دانلود اپلیکیشن:</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                                <a>
                                    <div class="svg-icon" style="background:url(/Images/NeshatIcon/googlePlay.svg) 50% 0 no-repeat">
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                                <a>
                                    <div class="svg-icon" style="background:url(/Images/NeshatIcon/bazar.svg) 50% 0 no-repeat">
                                    </div>
                                </a>
                            </div> 
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                                <a>
                                    <div class="svg-icon" style="background:url(/Images/NeshatIcon/sib.svg) 50% 0 no-repeat">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="row col-12">
                            <div class="col-12">
                                <a class="svg-icon-insta" style="background:url(/Images/NeshatIcon/instagram.svg) 0% 0 no-repeat" href="@((String.IsNullOrEmpty(intagramAdd)==false?intagramAdd:""))" target="_blank">
                                    <div class="svg-icon-insta" style="background:url(/Images/NeshatIcon/instagram.svg) 0% 0 no-repeat">
                                    <p class="insta-text">در اینستاگرام همراه ما باشید</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-12 p-0 m-0 text-center pt-3">
                        <p class="copy-right m-0 pb-1">تمام حقوق اين وبسايت براي @shopName محفوظ است</p>
                        <p class="m-0 p-0 text-white powerd-by">Powered by <a class="text-white" href="https://www.nikansoft.com">nikansoft</a></p>
                    </div>
                </div>
             
            </div>
        </div>

    </footer>
    <!--Footer-->
    <!--back to top button-->
    <a href="#" id="back-to-top" title="@T["بالا"].Value">
        <i class="fas fa-chevron-up"></i>
    </a>
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/libs/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    @*<script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>*@
    <script src="~/libs/toast-master/js/jquery.toast.js" asp-append-version="true"></script>
    <script src="~/js/jquery-confirm.js" asp-append-version="true"></script>
    <script src="~/libs/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/libs/OwlCarousel/js/owl.carousel.min.js" asp-append-version="true"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/nikan.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/css3-animate-it.js"></script>
    <script src="~/js/Card.js" asp-append-version="true"></script>
    <script>
        var nikan = new NikanApp();
    </script>
    <script>
        $("#formSearch").on('submit', function (e) {

            e.preventDefault();
            var search = $("#search").val();
            window.location.href = '/search/' + search;
        });

        $(document).ready(function () {
            var $topheaderlm = $(".fix-menu").height();
            //  $("#carousel").css("margin-top", $topheaderlm + 'px');
        });
        $(window).resize(function () {
            var $topheaderlm = $(".fix-menu").height();
            // $("#carousel").css("margin-top", $topheaderlm + 'px');
        });
        function viewProduct(id, name) {
            window.location.href = '/product/' + id + '/' + name;
        }

        function viewCategory(id, name) {
            window.location.href = '/category/' + id + '/' + name;
        }

        function viewBrand(id, name) {
            window.location.href = '/brands/' + id + '/' + name;
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
