﻿@using Shop.Services.Shop
@using Shop.Services.Dto.Product
@using Shop.Services.Users
@using Shop.Infrastructure.UI
@inject Shop.Core.Infrastructure.IAppContext appContext
@inject SignInManager SignInManager
@inject IOrderService _orderService
@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoleNames.User))
{
    if (_httpContext.HttpContext.Session.GetObjectFromJson<List<ShopCardModel>>("ShopCart") == null)
    {
        var card = await _orderService.GetLastRegisterdOrder(appContext.User.Id);
        if (card.Count > 0)
        {
            _httpContext.HttpContext.Session.SetObjectAsJson("ShopCart", card);
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="enamad" content="365048" />
    <title>@T["layout-title"].Value - @ViewData["Title"]</title>
    <meta name="keywords" content="@ViewData["keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <link href="~/css/Reset.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/animations.css" rel="stylesheet" />
    @*<link href="~/css/animations-ie-fix.css" rel="stylesheet" />*@
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/toast-master/css/jquery.toast.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/jquery-confirm.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/libs/OwlCarousel/css/owl.carousel.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/libs/OwlCarousel/css/owl.theme.green.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/modernizr.js"></script>
</head>
<body>
    <div class="fix-menu">

        <!--Top-Header-->
        <div id="topHeader">
            <div class="container-fluid">
                <div class="row col-12 justify-content-end">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Index" asp-controller="Home" asp-area="@AreaNames.Admin">@appContext.User.FullName</a>
                        <span class="top-separator px-2">|</span>
                        if (User.IsInRole(UserRoleNames.User))
                        {
                            <a asp-action="Index" asp-controller="Order" asp-area="@AreaNames.Admin">سفارشات من</a>
                            <span class="top-separator px-2">|</span>
                        }
                        <a asp-controller="Account" asp-action="LogoutUser">خروج</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login">ورود</a>
                        <span class="top-separator px-2">|</span>
                        <a asp-controller="Account" asp-action="Register">ثبت نام</a>
                    }
                    <span class="top-separator px-2">|</span>

                    <a href="/ShopCard" id="shopCartItem">
                        <i class="fas fa-shopping-cart text-success"></i>
                        <span id="shopcart" class="badge badge-danger p-1">0</span>
                    </a>

                </div>
            </div>
        </div>
        <!--Top-Header-->
        <!--Navbar-->
        <div id="navbar-Menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a href="/"> <img src="~/Images/logo.png" width="50" class="navbar-brand img-fluid" alt="فروشگاه لیلون" /></a>
                    <!-- Collapse button -->
                    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="animated-icon"><span></span><span></span><span></span></div>
                    </button>
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Links -->
                        <ul class="navbar-nav firstlevel mr-auto">
                            <li class="nav-item menu-link">
                                <a class="nav-link" href="/"><i style="color:#ff0000;font-size:12px" class="fas fa-circle mx-1"></i>خانه</a>
                            </li>

                            <li class="nav-item menu-link">
                                <a class="nav-link" href="/product"><i style="color:#cc8ae4;font-size:12px" class="fas fa-circle mx-1"></i>محصولات</a>
                            </li>

                            <li class="nav-item menu-link">
                                <a class="nav-link" href="/about-us"><i style="color:#fff200;font-size:12px" class="fas fa-circle mx-1"></i>درباره ما</a>
                            </li>
                            @*<li class="nav-item menu-link">
                                    <a class="nav-link" target="_blank" href="#"><i style="color:#6fd9ff;font-size:12px" class="fas fa-circle mx-1"></i>فروشگاه</a>
                                </li>*@
                            <li class="nav-item menu-link">
                                <a class="nav-link" href="/contact-us"><i style="color:#ffffff;font-size:12px" class="fas fa-circle mx-1"></i>تماس با ما</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Collapsible content -->
                </nav>

            </div>
        </div>
        <!--/.Navbar-->

    </div>
    @RenderSection("Carousel", required: false)
    <div id="main-section">
        @RenderBody()
    </div>


    <!--Footer-->
    <footer>
        <div id="footer">
            <div class="container-fluid">
                <div class="row col-12 p-0 m-0 align-items-center footer">

                    <div class="col-2">
                        @*<img class="img-fluid py-2 pt-3" width="120" src="~/images/logo-white.png" alt="leyloun" />*@

                        @*<img id="vcRi9yLcYMGjxQd3dLCZ" style="cursor:pointer" onclick="window.open('https://trustseal.enamad.ir/?id=173446&amp;Code=vcRi9yLcYMGjxQd3dLCZ', 'Popup','toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')"
                             alt="logo-enamad" src="https://Trustseal.eNamad.ir/logo.aspx?id=173446&amp;Code=vcRi9yLcYMGjxQd3dLCZ">*@

                        <a rel="origin" target="_blank" href="https://trustseal.enamad.ir/?id=173446&amp;Code=vcRi9yLcYMGjxQd3dLCZ"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=173446&amp;Code=vcRi9yLcYMGjxQd3dLCZ" alt="" style="cursor:pointer" id="vcRi9yLcYMGjxQd3dLCZ"></a>
                    </div>
                    <div class="col-3 align-items-center middle-footer">
                        <p>طبیعت و سلامتی با محصولات لیلون</p>
                        <p>تلفن سفارشات: 021-22883346</p>
                        <p>خرید بالای 200 هزار تومان ارسال رایگان می باشد</p>
                        <div class="row col-12">
                            <div class="col-6">
                                <a class="text-white" href="#">leyloun.ir <i style="color:#0087cb;font-size:20px" class="fab fa-telegram"></i></a>
                            </div>
                            <div class="col-6">
                                <a class="text-white" href="#">leyloun.ir <i style="color:#c35ea1;font-size:20px" class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>تهران،خیابان شهید بهشتی،خیابان پاکستان</p>
                        <p>کوچه دوم،پلاک 10، طبقه دوم</p>
                        <p>کد پستی:1531614415</p>
                        <p style="font-family:initial">Copyright &copy; 2020-2021 leyloun.ir All Rights Reserved</p>
                    </div>
                    <div class="col-3 justify-content-end text-left pl-0">
                        <img class="img-fluid py-2 pt-3" width="250" src="~/images/mive.png" alt="leyloun" />
                    </div>
                    <div class="col-12 text-center">
                        <p>Design by <a class="text-white" target="_blank" href="http://nikansoft.com">nikansoft</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-->
    <!--back to top button-->
    <a href="#" id="back-to-top" title="@T["بالا"].Value">
        <i class="fas fa-chevron-up"></i>
    </a>
    @*<script src="~/libs/jquery/dist/jquery.js" asp-append-version="true"></script>*@
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/libs/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
    <script src="~/libs/toast-master/js/jquery.toast.js" asp-append-version="true"></script>
    <script src="~/js/jquery-confirm.js" asp-append-version="true"></script>
    <script src="~/libs/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/libs/OwlCarousel/js/owl.carousel.min.js" asp-append-version="true"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/nikan.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/css3-animate-it.js"></script>
    <script src="~/js/Card.js" asp-append-version="true"></script>
    <script>
        var nikan = new NikanApp();
    </script>
    <script>
        $("#formSearch").on('submit', function (e) {

            e.preventDefault();
            var search = $("#search").val();
            window.location.href = '/search/' + search;
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
