﻿@if (HasNotifications)
{
    //success messages
    var successMessages = new List<string>();
    if (TempData["nk.notify.success"] != null)
    {
        successMessages.AddRange(TempData["nk.notify.success"] as IList<string>);
    }
    if (ViewData["nk.notify.success"] != null)
    {
        successMessages.AddRange(ViewData["nk.notify.success"] as IList<string>);
    }

    //error messages
    var errorMessages = new List<string>();
    if (TempData["nk.notify.error"] != null)
    {
        errorMessages.AddRange(TempData["nk.notify.error"] as IList<string>);
    }
    if (ViewData["nk.notify.error"] != null)
    {
        errorMessages.AddRange(ViewData["nk.notify.error"] as IList<string>);
    }

    <script>
    @foreach (var message in successMessages)
    {

        var msg = message;
        if (message.IndexOf(".") > -1)
        {
            msg = T[message].Value;
        }

        <text>
        $.toast({
        heading: 'موفق'
            , text: '@msg'
            , position: 'top-left'
            , loaderBg: '#fff'
            , icon: 'success'
            , hideAfter: 3500
            , stack: 6
        })
        </text>
    }
    @foreach (var message in errorMessages)
    {
        var msg = message;
        if (message.IndexOf(".") > -1)
        {
            msg = T[message].Value;
        }

        <text>
        $.toast({
        heading: '@T["msg.error"]'
            , text: '@msg'
            , position: 'top-right'
            , loaderBg: '#fff'
            , icon: 'error'
            , hideAfter: 7000
            , stack: 6
        })
        </text>
    }
    </script>
}